<div class="c-prosce-modal">
  <div class="modal-header c-prosce-modal__header"> CREATE A PROGRAM SCENARIO</div>

  <form name="addProgramScenarioForm" class="modal-body c-prosce-modal__body">

    <!-- Name -->
    <div class="o-form__field-wrap">
      <label class="o-form__label"> Name </label>
      <input class="o-form__input txbox" type="text" ng-model="row.name" required/>
    </div>

    <!--  Select a parameter set to use as baseline  -->
    <div class="c-prosce-modal__selects u-layout-horizontal">
      <div class="o-form__field-wrap c-prosce-modal__input-with-space">
        <label class="o-form__label"> Select a parameter set to use as baseline </label>
        <select class="o-form__input txbox" type="text" ng-model="row.parset_id" ng-options="parset.id as parset.name for parset in parsets"
       required>
         <option value=""> -- Select --</option>
        </select>
      </div>

      <!--  Select a program set to use as baseline  -->
      <div class="o-form__field-wrap c-prosce-modal__input-with-space">
        <label class="o-form__label"> Select a program set to use as baseline </label>
        <select class="o-form__input txbox" type="text" ng-model="row.progset_id" ng-options="prog.id as prog.name for prog in progsets[0].programs"
       required>
         <option value=""> -- Select --</option>
        </select>
      </div>
    </div>
{{row.t}}
    <div class="c-prosce-modal__checkboxes u-layout-horizontal">
      <div class="c-prosce-modal__checkbox-wrap c-prosce-modal__input-with-space">
        <input type="radio" name="t" value="budget" ng-modal="row.t" class="c-prosce-modal__checkbox-input">
        <label for="set-budget-checkbox" class="c-prosce-modal__checkbox-label">Set budget</label>
      </div>

      <div class="c-prosce-modal__checkbox-wrap c-prosce-modal__input-with-space">
        <input type="radio" name="t" value="coverage" ng-modal="row.t" class="c-prosce-modal__checkbox-input">
        <label for="set-coverage-checkbox" class="c-prosce-modal__checkbox-label">Set coverage goals</label>
      </div>

    </div>

    <div class="o-card _program-scenario-wrap" ng-repeat="rs in row.pars track by $index">
      <div class="c-input-table">

        <div class="c-input-table__field u-layout-horizontal u-center-horizontal-v">
          <div class="c-input-table__label">
            Year
          </div>
          <input type="text" class="c-input-table__input txbox"/>
        </div>

        <div class="c-input-table__field u-layout-horizontal u-center-horizontal-v">
          <div class="c-input-table__label">
            Program 1 can have a bigger name
          </div>
          <input type="text" class="c-input-table__input txbox"/>
        </div>

        <div class="c-input-table__field u-layout-horizontal u-center-horizontal-v">
          <div class="c-input-table__label">
            Program 2
          </div>
          <input type="text" class="c-input-table__input txbox"/>
        </div>
        <div class="o-card__delete" ng-click="removeParam(row, $index)">x</div>
      </div>
    </div>

    <button type="button" class="btn c-parsce-modal__button c-parsce-modal__button--add-parameter" ng-disabled="!row.parset_id || !row.progset_id" ng-click="addParam(row)"> Add year</button>

    <div class="c-parsce-modal__buttons u-layout-horizontal">
      <button type="submit" ng-disabled="addProgramScenarioForm.$invalid" class="btn __l o-form__button o-form__button--save">
        OK
      </button>
    </div>

  </form>

</div>