<form name="editProjectSetForm" ng-submit="updateProjectSet(name)" >
  <div class="modal-header">
    <a class="modal-close" ng-click="$dismiss('cancel')">&times;</a>
    <h4 class="modal-title">{{ ::title }}</h4>
  </div>
  <div class="modal-body grid" style="margin-bottom: 20px">

    <div class="++3 6">
      <p style="margin-top: 0">Please choose a new name for the project set.</p>
    </div>

    <div class="++3 6" style="padding-bottom: 20px">
      <label for="prompt-input">Project set name</label>
      <input class="txbox" id="prompt-input" name="projectSetName" ng-model="name" required style="margin-top: 6px" ng-change="isUniqueName(name, editProjectSetForm)">
      <div class="error-hint" ng-show="isUniqueName(name, editProjectSetForm)"> A project set with this name already exists, please choose a different one. </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn __white" ng-click="$close()">Cancel</button>
    <button type="submit" class="btn" ng-disabled="editProjectSetForm.$invalid">Save</button>
  </div>
</form>
