<div class="page">
  <h1>Manage projects</h1>
  <div ng-show="users.length===0"> No other users exist. </div>
  <div ng-repeat="user in users">
    <h3> {{user.data.name}} ({{user.data.email}}) </h3>
    <table class="table table-bordered table-hover table-striped" style="width: auto">
      <thead>
      <th>Name</th>
      <th>Populations</th>
      <th>Programs</th>
      <th>Data start year</th>
      <th>Data end year</th>
      <th>Project created on</th>
      <th>Data uploaded on</th>
      <th colspan="7">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="project in user.projects | orderBy: 'name'">
        <td>
          {{ project.name }}
        </td>
        <td>
          {{ project.populations.length }}
        </td>
        <td>
          {{ project.programs.length }}
        </td>
        <td>
          {{ project.dataStart }}
        </td>
        <td>
          {{ project.dataEnd }}
        </td>
        <td>
          {{ project.creation_time| date:'yyyy-MM-dd HH:mm:ss'}}
        </td>
        <td>
          {{ project.data_upload_time ? (project.data_upload_time | date:'yyyy-MM-dd HH:mm:ss') : 'No data uploaded'}}
        </td>
        <td>
          <button class="btn __green" ng-click="open(project.name, project.id)">Open project</button>
        </td>
        <td>
          <button class="btn __blue" ng-click="edit(project.name, project.id)">Edit project</button>
        </td>
        <td>
          <button class="btn __red" ng-click="remove($event, project.name, project.id, $index)">Delete project</button>
        </td>
        <td>
          <button class="btn __blue" ng-click="getData(project.name, project.id)">Download project</button>
        </td>
        <td>
          <button class="btn __blue" ng-click="workbook(project.name, project.id)">Download data entry spreadsheet
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div ng-show="user.projects.length === 0">
      <h3>No projects found for this user</h3>
    </div>
  </div>
</div>