<div class="rich">
  <h3>Manage users</h3>
  <div class="section">
    <table class="table table-bordered table-hover table-striped" style="width: auto">
      <tr>
        <th style="min-width:200px;"> Name </th>
        <th style="min-width:200px;"> E-Mail </th>
        <th> Actions </th>
      </tr>
      <tr ng-repeat="user in users">
        <td>{{ ::user.displayName }}</td>
        <td>{{ ::user.email }}</td>
        <td><button ng-click="deleteUser(user)" type="button" class="btn __red">Delete user</button></td>
      </tr>
    </table>
  </div>
</div>
