
<div style="flex: 1 1 auto; height:100%; overflow:auto">

  <div style="border:1px solid #DDD; margin-left: 10px; position:absolute; width:300px; height:{{height}}px; overflow:auto;">
    <div>
      <div ng-if="graphs.selectors.length > 0">
        <div ng-repeat="selector in graphs.selectors" class="option">
          <span><input type="checkbox" ng-model="selector.checked"/></span>
          <span style="margin-left:10px">{{selector.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-left:400px">
    <div style="">
      <div>
        <export-all-charts ng-if="graphs" name="Analysis scenarios"></export-all-charts>
        <export-all-data name="Analysis scenarios" charts="graphs" ng-if="graphs"></export-all-data>
      </div>
      <div ng-repeat="chart in graphs.mpld3_graphs" ng-show="chart.isChecked()" class="chart-container __small">
        <div mpld3-chart="chart" chart-id="{{ chart.id }}"></div>
      </div>
    </div>
  </div>


</div>
