// Button
// ======

.btn {
  @extend .btn.__m, .btn.__blue;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &:focus {
    box-shadow: 0 0 6px 2px rgba($color-yellow, 0.7);
    outline: 0;
  }

  &:disabled {
    cursor: default !important;
    opacity: 0.6;
    pointer-events: none;
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__m {
    @include font-height(13px, 16px);
    padding: 5px 12px;
  }

  &.__l {
    @include font-height(16px, normal);
    padding: 9px 16px;
  }

  &.__xl {
    @include font-height(18px, 22px);
    padding: 12px 24px;
  }

  // ### Colours

  &.__white {
    background: #FFF;
    border-color: #999999;
    color: #404446;

    &:hover:not(:disabled) {
      background: #f5f5f5;
    }

    &.__active,
    &:active:not(:disabled) {
      background: #f5f5f5;
    }

    &.__active,
    &.__active:hover {
      background: #fff6d5;
    }
  }

  &.__blue {
    background: #00aeef;
    border-color: #00aeef;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(black, .5);

    &:hover:not(:disabled) {
      background: #0192cc;
      border-color: #0183b5;
    }

    &.__active,
    &:active:not(:disabled) {
      background: #0181b5;
      border-color: #0183b5;
    }

    &.__active,
    &.__active:hover {
      background: #01a5e2;
    }
  }

  // ### Misc.

  &.__block {
    display: block;
    width: 100%;
  }
}
