// Two options for checkbox/radio containers
// =========================================
//
// ## Block
//
//     div.(checkbox|radio)-block
//       label
//         input(type="checkbox|radio")
//         | Caption
//
// ## Inline
//
//     label.(checkbox|radio)-inline
//       input(type="checkbox|radio")
//       | Caption
//

.checkbox-block,
.checkbox-inline,
.radio-block,
.radio-inline {
  @include font-height(13px, 1.1);
  padding-left: 20px;
}

.checkbox-block > label > input[type=checkbox],
.checkbox-inline > input[type=checkbox],
.radio-block > label > input[type=radio],
.radio-inline > input[type=radio] {
  float: left;
  margin: 1px 0 0 -20px;
}

.checkbox-block,
.radio-block {
  display: block;
  min-height: 20px;

  > label {
    cursor: pointer;
  }
  
  & + & {
    margin-top: 5px;
  }
}

.checkbox-inline,
.radio-inline {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  & + & {
    margin-left: 20px;
  }
}
