// Icon
// ====

.ic {
  @include position(relative, 1px none none);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 1;

  .btn > & {
    margin-left: -4px;
    vertical-align: top;
  }

  &.__inset {
    margin: -2px 2px -2px -2px;
  }

  @each $icon in (
    'circle-gray',
    'donut-blue',
    'kirby-logo',
    'plus',
    'question-mark',
    'unsw-logo',
    'world-bank-logo',
  ) {
    $icon-path: "base/icon/#{$icon}.png";
    &.__#{$icon} {
      @include image-size($icon-path);
      background-image: inline($icon-path);
    }
  }
}
