// Link
// ====

.link {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

// Modifiers
// ---------

.link {
  @extend .link.__blue;

  // ### Colors

  &.__black {
    color: #000;

    &:hover {
      color: $color-blue;
    }
  }

  &.__blue {
    color: $color-blue;

    &:hover {
      color: #54C1EA;
    }
  }

  &.__white {
    color: rgba(#FFF, 0.9);

    &:hover {
      color: #FFF;
    }
  }
}
