.DS_Store
.idea/
support/
package
server/p-env
server/build
server/static
server/config.py
*/node_modules/
node_modules/
client/optima.nginx.conf
*.log
optima.egg-info/*
optima.egg-info/
\~\$*
*.iml
*.pyc
*.bin
*.npz
*.npy
*.db
*.prj
*.prt
build/
dist/
*~
.tox/
tests/geo/*.xlsx
*.pid
dump.rdb
config.py
client/package-lock.json
.venv/