*.sublime-*
.idea/
support/
package
*.iml
*.pyc
server/p-env
server/build
\~\$*
*.prj
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
