
<div class="rich" >

  <div class="grid" style="margin: 0px 0px;">
    <h1>Manage programs</h1>
  </div>

  <div class="error-hint" ng-show="isMissingData">
    No parameter sets, you need to <a ui-sref="home">upload a data spreadsheet</a> for this project.
  </div>

  <div ng-if="!isMissingData">

    <div
      style="
        display: flex;
        align-items: center;">

      Program set: &nbsp;

      <select
        class="txbox"
        ng-model="state.activeProgramSet"
        ng-options="p.name for p in programSetList"
        style="width: 20%;">
      </select>

      <i
        ng-click="addProgramSet()"
        class="fa fa-file-o"
        tp-text="New" tooltip tp-class="tooltip"
        tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
        style="margin-left: 0.5em">
      </i>
      <i
        ng-click="copyProgramSet()"
        class="fa fa-copy"
        tp-text="Copy" tooltip tp-class="tooltip"
        tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
        style="margin-left: 0.5em">
      </i>
      <i
        ng-click="renameProgramSet()"
        class="fa fa-pencil"
        tp-text="Rename" tooltip tp-class="tooltip"
        tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
        style="margin-left: 0.5em">
      </i>
      <i
        ng-click="downloadProgramSet()"
        class="fa fa-download"
        tp-text="Download" tooltip tp-class="tooltip"
        tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
        style="margin-left: 0.5em">
      </i>
      <i
        ng-click="uploadProgramSet()"
        class="fa fa-upload"
        tp-text="Upload" tooltip tp-class="tooltip"
        tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
        style="margin-left: 0.5em">
      </i>
      <i
        ng-click="deleteProgramSet()"
        class="fa fa-trash-o"
        tp-text="Delete" tooltip tp-class="tooltip"
        tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
        style="margin-left: 0.5em">
      </i>
    </div>
    <div class="6" ng-if="state.activeProgramSet.programs && state.activeProgramSet.programs.length > 0">
      <p></p>

      <!-- TODO: Category, Program loops can be improved for better performance -->
      <div class="section" ng-repeat="category in getCategories()">
        <table class="section table table-bordered">
          <tr>
            <td colspan="5"><b>{{category}}</b></td>
          </tr>
          <tr>
            <td><b>Active</b></td>
            <td><b>Name</b></td>
            <td><b>Short name</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr ng-repeat="program in state.activeProgramSet.programs | orderBy : 'name'" ng-if="program.category==category">
            <td class="text-center" style="width: 50px">
              <input type="checkbox" ng-change="saveActiveProgramSet('Program active state saved')" ng-model="program.active">
            </td>
            <td style="width: 450px">{{ program.name }}</td>
            <td style="width: 300px">{{ program.short }}</td>
            <td>
              <button type="button" class="btn" ng-click="openEditProgramModal($event, program)">Edit</button>
            </td>
            <td>
              <button type="button" class="btn" ng-click="copyProgram($event, program)">Copy</button>
            </td>
          </tr>
        </table>
        </td>
      </div>
      <button type="button" class="btn" ng-click="openAddProgramModal($event)">Add a program</button>
    </div>
  </div>
</div>
