.surr_box {
  fill: #fff;
  opacity: 0;
}

.surr_box:hover {
  fill: #27AAE1;
  opacity: 0.4;
}

.surr_box.selected {
  fill: #27AAE1;
  opacity: 0.6;
}

.surr_box.all.selected {
  fill: #27AAE1;
  opacity: 0.6;
}

.surr_box.all {
  fill: #eee;
  stroke: #96ADB8;
  stroke-width: 1;
  opacity: 1;
}

.surr_box.all:hover {
  fill: #27AAE1;
  opacity: 0.4;
}
