<div class="c-parsce-modal">
  <div class="modal-header c-parsce-modal__header"> CREATE A PARAMETER SCENARIO</div>

  <form name="manageScenarioForm" class="modal-body c-parsce-modal__body" novalidate ng-submit="manageScenario()">

    <div class="c-parsce-modal__field-wrap">
      <label class="c-parsce-modal__label"> Name </label>
      <input class="c-parsce-modal__input txbox" type="text" ng-model="row.name" required/>
    </div>

    <div class="c-parsce-modal__field-wrap">
      <label class="c-parsce-modal__label"> Select a parameter set to use as baseline </label>
      <select class="c-parsce-modal__input txbox" type="text" ng-model="row.progset_id" ng-options="param.name for param in parsets"
       required>
       <option value=""> -- Select --</option>
      </select>
    </div>

    <!--  -->
    <div class="o-form__wrap" ng-repeat="rs in row.pars">
      <div class="o-card c-parsce-modal__card">
        <div class="c-parsce-modal__subform">

          <!-- Parameters -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Parameters </label>
            <select class="c-parsce-modal__input txbox" type="text" ng-model="rs.progset_id" required ng-options="param.name for param in parsets">
              <option value=""> -- Select --</option>
            </select>
          </div>

          <!-- For -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> For </label>
            <select class="c-parsce-modal__input txbox" type="text" ng-model="rs.for" required ng-options="param.name for param in parsets">
              <option value=""> -- Select --</option>
            </select>
          </div>

          <!-- Start year of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Start year of scenario </label>
            <input class="c-parsce-modal__input c-parsce-modal__input--small txbox" model="rs.startyear" type="number" required min="1"/>
          </div>

          <!-- Final year of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Final year of scenario </label>
            <input class="c-parsce-modal__input c-parsce-modal__input--small txbox" model="rs.endyear" type="number" required min="1"/>
          </div>

          <!-- Value at start of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Value at start of scenario </label>
            <input class="c-parsce-modal__input txbox" type="number"  model="rs.startval" required min="1"/>
          </div>

          <!-- Value at end of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Value at end of scenario </label>
            <input class="c-parsce-modal__input txbox" type="number"  model="rs.endval" required min="1"/>
          </div>

        </div>
        <div class="o-card__delete" ng-click="removeParam(rs)">x</div>
      </div>
    </div>
    <!--  -->
    <div class="o-form__wrap">
      <div class="o-card c-parsce-modal__card">
        <div class="c-parsce-modal__subform">

          <!-- Parameters -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Parameters </label>
            <select class="c-parsce-modal__input txbox" type="text" ng-model="par.name" ng-change="populateForData(par.name)" required>
              <option value=""> -- Select --</option>
              <option ng-repeat="obj in row.progset_id.pars[0]" value="{{obj}}" ng-show="obj.visible">{{obj.name}}</option>
            </select>
          </div>

          <!-- For -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> For </label>
            <select class="c-parsce-modal__input txbox" type="text" ng-model="par.for" required>
              <option value=""> -- Select --</option>
              <option ng-repeat="(key, value) in forData.y" value="{{key}}">{{key}}</option>
            </select>
          </div>

          <!-- Start year of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Start year of scenario </label>
            <input class="c-parsce-modal__input c-parsce-modal__input--small txbox" ng-model="par.startyear" type="number" required min="1"/>
          </div>

          <!-- Final year of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Final year of scenario </label>
            <input class="c-parsce-modal__input c-parsce-modal__input--small txbox" ng-model="par.endyear" type="number" required min="1"/>
          </div>

          <!-- Value at start of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Value at start of scenario </label>
            <input class="c-parsce-modal__input txbox" type="number"  ng-model="par.startval" required min="1"/>
          </div>

          <!-- Value at end of scenario  -->
          <div class="c-parsce-modal__field-wrap">
            <label class="c-parsce-modal__label"> Value at end of scenario </label>
            <input class="c-parsce-modal__input txbox" type="number"  ng-model="par.endval" required min="1"/>
          </div>

        </div>
        <div class="o-card__delete">x</div>
      </div>

      <button type="button" class="btn c-parsce-modal__button c-parsce-modal__button--add-parameter" ng-disabled="manageScenarioForm.$invalid" ng-click="manageParameters()">
        Add parameter
      </button>

    </div>

    <div class="c-parsce-modal__buttons u-layout-horizontal">
      <button class="btn __l __white c-parsce-modal__button c-parsce-modal__button--dismiss">
        Dismiss
      </button>
      <button type="submit" ng-disabled="manageScenarioForm.$invalid" class="btn __l c-parsce-modal__button c-parsce-modal__button--save">
        Save
      </button>
    </div>

  </form>

</div>
