<form name="RegisterForm" ng-submit="register()" novalidate="novalidate"
      style="max-width: 500px; min-width: 200px; margin: 0 auto">
  <h1>Registration</h1>

  <div class="section" ng-show="error">
    {{ error }}
  </div>

  <div class="section form-input-validate">
    <input class="txbox __l"
           type="text"
           name="fullName"
           ng-model="fullName"
           placeholder="Full name"
           required="required">
  </div>

  <div class="section form-input-validate">
    <input class="txbox __l"
           type="email"
           name="email"
           ng-model="email"
           placeholder="Email"
           required="required">
  </div>

  <div class="section form-input-validate">
    <input class="txbox __l"
           type="password"
           name="password"
           ng-model="password"
           placeholder="Password"
           required="required">
  </div>

  <button type="submit" class="section btn __l __block">Join</button>

  <div class="section text-right">
    Already have an account? <a class="link __blue" ui-sref="login">Log in</a>
  </div>

</form>
