<div class="rich">
  <div class="section">


    <h2>Manage portfolios</h2>

    <div ng-if="portfolios.length == 0" style="font-weight: bold; color: red">
      Please create a portfolio first<br><br>
    </div>

    Portfolio:
    &nbsp;

    <select
      ng-model="state.portfolio"
      ng-options="portfolio as portfolio.name for portfolio in portfolios"
      ng-change="setActiveGaoptim()"
      style="width: 230px;">
    </select>

    <i
      ng-click="createPortfolio()"
      class="fa fa-file-o"
      tp-text="New" tooltip tp-class="tooltip"
      tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
      style="margin-left: 0.5em">
    </i>

    <!--<i-->
      <!--ng-click="renamePortfolio()"-->
      <!--class="fa fa-pencil"-->
      <!--tp-text="Rename" tooltip tp-class="tooltip"-->
      <!--tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"-->
      <!--style="margin-left: 0.5em">-->
    <!--</i>-->

    <i
      ng-click="downloadPortfolio(state.portfolio.name, state.portfolio.id)"
      class="fa fa-download"
      tp-text="Download" tooltip tp-class="tooltip"
      tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
      style="margin-left: 0.5em">
    </i>
    <i
      ng-click="uploadPortfolio(state.portfolio.id)"
      class="fa fa-upload"
      tp-text="Upload" tooltip tp-class="tooltip"
      tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0"
      style="margin-left: 0.5em">
    </i>

    <i
      class="fa fa-trash-o"
      ng-click="deletePortfolio()"
      tp-text="Delete" tooltip tp-class="tooltip"
      tp-x="-100" tp-y="-200" tp-anchor-x="0" tp-anchor-y="0">
    </i>



    <div style="
        width: 100%;
        border-bottom: 1px solid #AAA;
        padding-top: 30px;
        margin-bottom: 30px">
    </div>


    <h2>Create regions</h2>

    <button
      class="btn __m __inline"
      ng-click="chooseTemplateProject()">Choose project
    </button>

    &nbsp; as template: &nbsp;
    <i ng-if="!state.templateProject.name">No template project selected</i>
    <i ng-if="state.templateProject.name">&nbsp; {{ state.templateProject.name}}</i>



    <div
      style="
              border: 1px solid #DDD;
              padding: 20px;"
      ng-show="isSelectTemplateProject">

      <i>Select from optimizable projects:</i>
      <br>
      <div ng-repeat="project in projects">
        <input
          type="radio"
          ng-model="state.templateProject"
          ng-value="project">
        {{project.name}}
      </div>
      <br>
      <br>
      <button class="btn"
              ng-click="dismissSelectTemplateProject()">
        Dismiss
      </button>

      <button class="btn"
              ng-click="saveTemplateProject()">
        Save
      </button>
    </div>


    <br>
    <br>

    <button
      class="btn __m __inline"
      ng-click="generateTemplateSpreadsheet()"
      ng-disabled=" !state.templateProject || isSelectTemplateProject">
      Generate spreadsheet
    </button>

    &nbsp; with &nbsp;

    <select
      ng-model="state.nRegion"
      ng-init="2"
      ng-options="n for n in [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]">
    </select>

    &nbsp; regions for the year &nbsp;

    <select
      ng-model="state.templateYear"
      ng-options="year for year in years">
    </select>


    <br>
    <br>

    <button
      class="btn __m __inline"
      ng-click="spawnRegionsFromSpreadsheet()"
      ng-disabled=" !state.templateProject || isSelectTemplateProject">
      Upload spreadsheet
    </button>

    &nbsp; to create region projects &nbsp;

    <div
      style="font-style: italic"
      ng-if="state.prjNames.length > 0">
      New region projects:
      <ul>
        <li ng-repeat="prjName in state.prjNames">{{prjName}}</li>
      </ul>
    </div>

    <div style="
        width: 100%;
        border-bottom: 1px solid #AAA;
        padding-top: 30px;
        margin-bottom: 30px">
    </div>

    <h2>Geospatial analysis</h2>

    <div
      style="
        display: flex;
        padding-top: 0em;">

      <div style="flex: 0 0 430px">


        <b>Optimization conditions </b>

        <br>
        <br>

        <div
          style="
            width: 360px;
            padding-bottom: 0.1em;"
          ng-repeat="entry in objectiveKeyLabels">
          <label>
            {{entry.label}}
          </label>
          <input
              class="txbox __inline"
              style="
          float: right;
          width:160px;"
              ng-model="state.gaoptim.objectives[entry.key]"
              type="number"/>
          <br clear="all">
        </div>

        <button
            style="
              margin-top: 1em"
              class="btn"
            ng-click="savePortfolio()">
          Save optimization condition
        </button>
      </div>

      <div style="flex: 0 1 auto; min-width: 50%">

        <table class="table table-bordered table-hover table-striped">
          <tr>
            <th>Regions</th>
            <th>Budget-objective curve</th>
            <th></th>
          </tr>
          <tr ng-repeat="project in state.portfolio.projects">
            <td>
              {{project.name}}
            </td>
            <td width="180px">
              <span style="color: #00aeef;">
                  {{bocStatusMessage[project.id]}}
              </span>
            </td>
            <td width="30px">
              <span
                  ng-click="deleteProject(project.id)""
                  class="fa fa-trash">
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <button class="btn"
                ng-click="addProject()">
                Add region
              </button>

              <div
                  style="
                    border: 1px solid #DDD;
                    padding: 20px;"
                  ng-show="isSelectNewProject">

                <i>Select from optimizable projects:</i>
                <br>
                <label ng-repeat="project in projects">
                  <input type="checkbox"
                         ng-model="project.selected">
                  {{project.name}}
                  <br>
                </label>
                <br>
                <br>
                <button class="btn"
                  ng-click="dismissAddProject()">
                  Dismiss
                </button>

                <button class="btn"
                  ng-click="saveSelectedProject()">
                  Save
                </button>
            </div>
            </td>
          </tr>
        </table>

        <button
            style="
              margin-bottom: 1em"
            class="btn __green __m"
            ng-click="calculateAllBocCurves()">
          Run budget-objective curves
        </button>

        &nbsp; for &nbsp;

        <select ng-init="state.bocMaxtime='300'" ng-model="state.bocMaxtime">
          <option value="2">2 seconds</option>
          <option value="10">10 seconds</option>
          <option value="30">30 seconds</option>
          <option value="60">1 minute</option>
          <option value="300">5 minutes</option>
          <option value="600">10 minutes</option>
          <option value="1800">30 minutes</option>
        </select>

        &nbsp; per optimization


        <br>
        <button
            class="btn __green __m"
            ng-click="runFullGa()"
            ng-disabled="checkBocCurvesNotCalculated()">
          Run geospatial optimization
        </button>

        &nbsp; for &nbsp;

        <select ng-init="state.maxtime='300'" ng-model="state.maxtime">
          <option value="2">2 seconds</option>
          <option value="10">10 seconds</option>
          <option value="30">30 seconds</option>
          <option value="60">1 minute</option>
          <option value="300">5 minutes</option>
          <option value="600">10 minutes</option>
          <option value="1800">30 minutes</option>
        </select>
        &nbsp; per optimization &nbsp;
        <span style="color: #00aeef; margin-top: 25px; margin-left: 15px">
          {{ statusMessage }}
        </span>

        <br>
        <br>
        <button
            class="btn"
            ng-disabled="hasNoResults()"
            ng-click="exportResults()">
          Export results
        </button>

      </div>

    </div>

</div>
