<div class="mpld3-chart"></div>
<div style="padding-left: 10px; padding-right: 10px;">
  <div style="float:left">
    <i class="fa fa-refresh chart-icon"
       ng-click="resetZoomAndPanInChart({$event:$event})">
    </i>
    <i class="fa fa-search chart-icon"
       ng-click="toggleZoomInChart({$event:$event})"
       ng-class="{'active-icon': zoomEnabled}">
    </i>
    <i class="fa fa-arrows chart-icon"
       ng-click="togglePanInChart({$event:$event})"
       ng-class="{'active-icon': panEnabled}">
    </i>
  </div>
  <div ng-if="attrs.graphSelectors" style="float: right;">
    <button
        class="btn__tiny figure"
        ng-click="exportFigure('png')">
      PNG
    </button>
    <button
      class="btn__tiny figure"
      ng-click="exportFigure('pdf')">
      PDF
    </button>
    <button
        class="btn__tiny figure"
        ng-click="exportFigure('svg')">
      SVG
    </button>
    <button
      class="btn__tiny figure"
      ng-click="exportFigure('fig')">
      FIG
    </button>
  </div>
  <br clear="all">
</div>
