<div class="page">
    <h3>Define constraints</h3>

    <hr/>

    <div class="elastic">
        <div class="elastic_col __shrink __va-middle">
            <p>Treatment eligibility:</p>
        </div>
        <div class="elastic_col __va-middle">
            <form action="">
                <input type="radio" name="eligibility" value=""> All people living with HIV<br>
                <input type="radio" name="eligibility" value=""> All people living with HIV with CD4 count < 500<br>
                <input type="radio" name="eligibility" value=""> All people living with HIV with CD4 count < 350<br>
                <input type="radio" name="eligibility" value=""> All people diagnosed with HIV<br>
                <input type="radio" name="eligibility" value=""> All people diagnosed with HIV with CD4 count < 500<br>
                <input type="radio" name="eligibility" value=""> All people diagnosed with HIV with CD4 count < 350
            </form>
        </div>
    </div>

    <hr/>

    <div class="checkbox-block">
        <label>
            <input type="checkbox">
            No one who starts ART is to stop receiving ART
        </label>
    </div>

    <div class="checkbox-block">
        <label>
            <input type="checkbox" ng-model="showLevels">
            Funding for programs are not to decrease from current levels by more than...
        </label>
    </div>

    <div style="margin-left: 15px;" ng-show="showLevels">

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                <input class="txbox __inline __s" type="number">
                % per year for ART
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                <input class="txbox __inline __s" type="number">
                % per year for PMTCT
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                <input class="txbox __inline __s" type="number">
                % per year for medical male circumcision
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                <input class="txbox __inline __s" type="number">
                % per year for prevention programs for sex workers
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                <input class="txbox __inline __s" type="number">
                % per year for OST
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                <input class="txbox __inline __s" type="number">
                % per year for prevention programs for MSM
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                <input class="txbox __inline __s" type="number">
                % per year for harm reduction programs for PWID
            </label>
        </div>

    </div>

    <hr class="__dashed"/>

    <div class="checkbox-block">
        <label>
            <input type="checkbox" ng-model="showAdvanced">
            Advanced settings<span ng-show="showAdvanced">:</span>
        </label>
    </div>

    <div style="margin-left: 15px;" ng-show="showAdvanced">

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                ART must reach at least
                <input class="txbox __inline __s" type="number">
                % of tratment-eligible PLHIV by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                PMTCT must reach at least
                <input class="txbox __inline __s" type="number">
                % by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                Medical male circumcision must reach at least
                <input class="txbox __inline __s" type="number">
                % by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                Prevention programs for sex workers must reach at least
                <input class="txbox __inline __s" type="number">
                % by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                OST among PWID must reach at least
                <input class="txbox __inline __s" type="number">
                % by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                Prevention programs for MSM must reach at least
                <input class="txbox __inline __s" type="number">
                % by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                Harm reduction programs for PWID must reach at least
                <input class="txbox __inline __s" type="number">
                % by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

        <div class="checkbox-block">
            <label>
                <input type="checkbox" style="height: 22px;">
                At least <input class="txbox __inline __s" type="number">% of the population of PLHIV are to be diagnosed by year
                <input class="txbox __inline __s" type="number">
            </label>
        </div>

    </div>

</div>
