<div class="page">
  <h3>Define objectives</h3>

  <hr/>

  <div class="elastic">
    <div class="elastic_col __shrink __va-middle">
      Analysis:
    </div>
    <div class="elastic_col __va-middle btn-group" ng-init="activeTab = 2">
      <button class="btn __white" ng-class="{ __active: activeTab === 1 }" ng-click="activeTab = 1">Forecast outcomes</button>
      <button class="btn __white" ng-class="{ __active: activeTab === 2 }" ng-click="activeTab = 2">Minimize outcomes</button>
      <button class="btn __white" ng-class="{ __active: activeTab === 3 }" ng-click="activeTab = 3">Minimize money</button>
    </div>
  </div>

  <hr class="__dashed"/>

  <!-- Tabs 1 -->
  <div ng-show="activeTab === 1">
    <p>What are the incidence, prevalence, deaths, and DALY's according to:</p>

    <button class="btn __white">No other non-constrained spending</button>
    <button class="btn __white __active">User-specified funding</button>

    <p>
      Funding bby year over the program period <input class="txbox __inline __s" type="text"> and pre-determined allocation <button class="btn">Specify funding</button>
    </p>
  </div>

  <!-- Tabs 2 -->
  <div ng-show="activeTab === 2">
    <p>Which a fixed amount of money available <input class="txbox __inline __s" type="text"> what is the optimal allocation of this funding to:</p>

    <div class="checkbox-block">
      <label>
        <input type="checkbox">
        Minimize HIV incidence
      </label>
    </div>

    <div class="checkbox-block">
      <label>
        <input type="checkbox">
        Minimize DALY's
      </label>
    </div>

    <div class="checkbox-block">
      <label>
        <input type="checkbox">
        Minimize HIV-related deaths
      </label>
    </div>

    <div class="checkbox-block">
      <label>
        <input type="checkbox" style="height: 22px;">
        Minimize HIV-related costs over
        <input class="txbox __inline __s">
        years with
        <input class="txbox __inline __s">
        % discounting
      </label>
    </div>

    <div class="margin-top-xxs">
      <button class="btn">Specify funding</button>
      &nbsp;&nbsp;
      <input class="txbox __inline">
      &nbsp;&nbsp;
      new infections = <input class="txbox __inline">
      &nbsp;&nbsp;
      DALY's = <input class="txbox __inline">
      &nbsp;&nbsp;
      deaths = <input class="txbox __inline">
    </div>

    <div class="margin-top-s">
      Show the optimal allocation of funding for a fixed budget: range <input class="txbox __inline __s"> % to <input class="txbox __inline __s"> % of current budget <input class="txbox __inline __s">
    </div>
  </div>

  <!-- Tabs 3 -->
  <div ng-show="activeTab === 3">
    Tab 3
  </div>

  <hr class="__dashed"/>
</div>
