<div class="page">

  <h3>Define objectives</h3>

  <hr>

  <div class="elastic">
    <div class="elastic_col __shrink __va-middle">
      Analysis:
    </div>
    <div class="elastic_col __va-middle btn-group" ng-init="activeTab = 1">
      <button class="btn __white" ng-class="{ __active: activeTab === 1 }" ng-click="activeTab = 1">Forecast outcomes</button>
      <button class="btn __white" ng-class="{ __active: activeTab === 2 }" ng-click="activeTab = 2">Optimize outcomes</button>
      <button class="btn __white" ng-class="{ __active: activeTab === 3 }" ng-click="activeTab = 3">Minimize money</button>
    </div>
  </div>

  <hr class="__dashed"/>

  <!-- Tabs 1 -->
  <div ng-show="activeTab === 1">

    <div class="cf">
      <div class="float-left margin-left-s">
        Year to project outcomes to: <input class="txbox __inline __s" value="2020">
        <div class="margin-top-xxs">
          What are the HIV-related fiscal commitments over <input class="txbox __inline __s" value="80"> years with <input class="txbox __inline __s" value="3"> % discounting.
        </div>
      </div>
    </div>

    <hr>

    <p>Outcomes to forecast:</p>

    <div class="checkbox-block">
      <label><input type="checkbox"> Prevalence - by population</label>
    </div>

    <div class="checkbox-block">
      <label><input type="checkbox"> Prevalence - overall</label>
    </div>

    <div class="checkbox-block">
      <label><input type="checkbox"> Incidence - annual</label>
    </div>

    <div class="checkbox-block">
      <label><input type="checkbox"> Incidence - cumulative</label>
    </div>

    <div class="checkbox-block">
      <label><input type="checkbox"> AIDS-related deaths - annual</label>
    </div>

    <div class="checkbox-block">
      <label><input type="checkbox"> AIDS-related deaths - cumulative</label>
    </div>

    <div class="checkbox-block">
      <label><input type="checkbox"> DALYs - annual</label>
    </div>

    <div class="checkbox-block">
      <label><input type="checkbox"> DALYs - cumulative</label>
    </div>

    <p>Forecast these outcomes according to:</p>

    <button class="btn __white">No other non-constrained spending</button>
    <button class="btn __white">User-specified funding</button>

    <p>
      Funding by year for the program period <input class="txbox __inline __s" type="text"> and pre-determined allocation
    </p>
  </div>

  <!-- Tabs 2 -->
  <div ng-show="activeTab === 2">

    <div class="cf">
      <div class="float-left margin-left-s">
        Year to begin optimization from: <input class="txbox __inline __s" value="2013">
        <div class="margin-top-xxs">
          Number of years to optimize funding for: <input class="txbox __inline __s" value="10">
        </div>
        <div class="margin-top-xxs">
          Year to project outcomes to: <input class="txbox __inline __s" value="2030">
        </div>
        <div class="margin-top-xxs">
          What are the fiscal liabilities over <input class="txbox __inline __s" value="80"> years with <input class="txbox __inline __s" value="3"> % discounting.
        </div>
      </div>
    </div>

    <hr>

    <p>With a fixed amount of money available <input class="txbox __inline __s" type="text"> what is the optimal allocation of this funding to:</p>

    <div class="checkbox-block">
      <label>
        <input type="checkbox" ng-model="weightIncidence">
        Minimize cumulative HIV incidence<span ng-show="weightIncidence"></span>
      </label>
    </div>

    <div class="checkbox-block">
      <label>
        <input type="checkbox" ng-model="weightDalys">
        Minimize cumulative DALYs<span ng-show="weightDalys"></span>
      </label>
    </div>

    <div class="checkbox-block">
      <label>
        <input type="checkbox" ng-model="weightDeaths">
        Minimize cumulative HIV-related deaths<span ng-show="weightDeaths"></span>
      </label>
    </div>

    <div class="checkbox-block">
      <label>
        <input type="checkbox" style="height: 22px;">
        Minimize total HIV-related costs over
        <input class="txbox __inline __s">
        years with
        <input class="txbox __inline __s">
        % discounting
      </label>
    </div>

<br>

    <div ng-show="weightIncidence">
      <div style="margin-left: 24px">
        Incidence weighting  =  <input class="txbox __inline __s" value="1">
      </div>
    </div>

    <div ng-show="weightDalys">
      <div style="margin-left: 50px">
        DALY weighting  =  <input class="txbox __inline __s" value="1">
      </div>
    </div>

    <div ng-show="weightDeaths">
      <div style="margin-left: 45px">
        Death weighting  =  <input class="txbox __inline __s" value="1">
      </div>
    </div>

    <div class="margin-top-s">
      Show the optimal allocation of funding for a fixed budget: range <input class="txbox __inline __s"> % to <input class="txbox __inline __s"> % of current budget <input class="txbox __inline __s">
    </div>

    <div class="margin-top-s">
      <button class="btn" ng-click="defineOptimization()">Submit</button>
    </div>

  </div>

  <!-- Tabs 3 -->
  <div ng-show="activeTab === 3">

    <div class="cf">
      <div class="float-left margin-left-s">
        Base year against which indicators are compared: <input class="txbox __inline __s" value="2013">
        <div class="margin-top-xxs">
          End year when objectives are to be achieved: <input class="txbox __inline __s" value="2020">
        </div>
        <div class="margin-top-xxs">
          Year to project outcomes to: <input class="txbox __inline __s" value="2030">
        </div>
        <div class="margin-top-xxs">
          What are the fiscal liabilities over <input class="txbox __inline __s" value="80"> years with <input class="txbox __inline __s" value="3"> % discounting.
        </div>
      </div>
    </div>

    <hr>

    What is the minimum amount of money required to achieve the following objectives:

    <!-- Reduce the incidence of HIV -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce the annual incidence of HIV
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce1">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce1">
      to < <input class="txbox __inline __s">
    </label>

    <!-- Reduce the incidence of sexually transmitted HIV -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce the annual incidence of sexually transmitted HIV
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce2">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce2">
      to < <input class="txbox __inline __s">
    </label>

    <!-- Reduce the incidence of injecting-related HIV -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce the annual incidence of injecting-related HIV
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce3">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce3">
      to < <input class="txbox __inline __s">
    </label>

    <!-- Reduce MTCT of HIV -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce annual mother-to-child transmission of HIV
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce4">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce4">
      to < <input class="txbox __inline __s">
    </label>

    <!-- Reduce MTCT of HIV among breastfeeding mother -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce annual mother-to-child transmission of HIV among breastfeeding mothers
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce5">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce5">
      to < <input class="txbox __inline __s">
    </label>

    <!-- Reduce MTCT of HIV among non-breastfeeding mother -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce annual mother-to-child transmission of HIV among non-breastfeeding mothers
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce6">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce6">
      to < <input class="txbox __inline __s">
    </label>

    <!-- Reduce HIV-related deaths -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce annual AIDS-related deaths
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce7">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce7">
      to < <input class="txbox __inline __s">
    </label>

    <!-- Reduce DALYs -->
    <div class="checkbox-block margin-top-xs">
      <label>
        <input type="checkbox">
        Reduce annual DALYs
      </label>
    </div>
    <label class="radio-inline margin-left-s">
      <input type="radio" style="height: 22px;" name="reduce8">
      by <input class="txbox __inline __s">
    </label>
    <label class="radio-inline">
      <input type="radio" style="height: 22px;" name="reduce8">
      to < <input class="txbox __inline __s">
    </label>

    <div class="cf margin-top-s">
      <div class="float-left">Calculate costs based on:</div>
      <div class="float-left margin-left-xs">
        <div class="radio-block">
          <label>
            <input type="radio" name="costsCalculationCriteria">
            Historical data on program cost and outcomes
          </label>
        </div>

        <div class="radio-block">
          <label>
            <input type="radio" name="costsCalculationCriteria">
            Assumptions about technical efficiency gains {% by program}
          </label>
        </div>

        <div class="radio-block">
          <label>
            <input type="radio" name="costsCalculationCriteria">
            Other unit costs of programs
          </label>
        </div>
      </div>
    </div>
  </div>

  <hr class="__dashed"/>
</div>
