<div class="page rich">
    <div class="page_subheader">
        <div class="elastic_col __va-middle text-right">
            <div class="elastic __fluid float-right">
                <div class="elastic_col __shrink">
                    <label>
                        Maximum time limit:
                        <select class="txbox __inline" style="width: 120px">
                            <option value="">1 minute</option>
                            <option value="">5 minutes</option>
                            <option value="">10 minutes</option>
                            <option value="">30 minutes</option>
                            <option value="">1 hour</option>
                            <option value="">No limit</option>
                        </select>
                    </label>
                </div>
                <div class="elastic_col __shrink">
                    <button class="btn" ng-click="startAnalysis()">Start analysis</button>
                </div>
                <div class="elastic_col __shrink">
                    <button class="btn">Stop analysis</button>
                </div>
                <div class="elastic_col __shrink">
                    <button class="btn">Save</button>
                </div>
                <div class="elastic_col __shrink">
                    <button class="btn">Revert</button>
                </div>
                <div class="elastic_col __shrink float-right">
                    Current indicator: 23,283 infections <!-- CK: needs to be dynamic -->
                </div>
            </div>
        </div>
    </div>

    <div class="well" ng-if="startRun">

        <div class="grid">
            <div class="section cf">
                <div class="6">
                    <h2>{{ pie1.title }}</h2>
                    <div class="chart-container">
                        <nvd3 data="pie1.data" options="pieoptions"></nvd3>
                    </div>
                </div>
                <div class="6">
                    <h2>{{ pie2.title }}</h2>
                    <div class="chart-container">
                        <nvd3 data="pie2.data" options="pieoptions"></nvd3>
                    </div>
                </div>
                <div class="6">
                    <h2>Indicator</h2>
                    <div class="chart-container">
                        <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
