<div class="modal-header" xmlns="http://www.w3.org/1999/html">
  CREATE/EDIT {{state.optimization.which}} OPTIMIZATION
  <div ng-if="state.optimization.which == 'outcomes'" style="display: inline-block">
    <help ref='outcomes-optimization'/>
  </div>
  <div ng-if="state.optimization.which == 'money'" style="display: inline-block">
    <help ref='money-optimization'/>
  </div>
</div>

<div class="section">
  <div style="float: left; width: 40%; padding-right:20px">
    <label> Name </label>
    <input
            class="txbox"
            type="text"
            ng-model="state.optimization.name"
            required/>
    <div
            class="error-hint"
            ng-show="isNameClash(state.optimization.name)">
      Optimization with this name already exists, please choose a different name.
    </div>
  </div>
  <div style="float: left; width: 30%; padding-right: 20px">
    <label>Parameter set</label>
    <select
            class="txbox"
            type="text"
            ng-model="state.optimization.parset_id"
            required
            ng-options="parset.id as parset.name for parset in parsets">
    </select>
  </div>
  <div style="float: left; width: 30%; padding-right: 20px">
    <label>Program set</label>
    <select
            class="txbox"
            type="text"
            ng-model="state.optimization.progset_id"
            ng-change="selectProgset(false)"
            required
            ng-options="progset.id as progset.name for progset in progsets">
    </select>
  </div>
  <br clear="all">
</div>

<div
        style="margin-top: 1.5em"
        class="section"
        ng-if="state.optimization.objectives">

  <h3>
    Objectives
    <div ng-if="state.optimization.which == 'outcomes'" style="display: inline-block">
      <help ref="optimization-set-objectives"/>
    </div>
    <div ng-if="state.optimization.which == 'money'" style="display: inline-block">
      <help ref="optimization-set-money-objectives"/>
    </div>
  </h3>
  <b>Timeline </b>

  <span ng-show="state.optimization.which == 'outcomes'">
    <p>From &nbsp;
    <input
            type="number"
            class="txbox"
            style="display: inline; width: 5em;"
            ng-model="state.optimization.objectives.start"/>
    &nbsp; to &nbsp;
    <input
            type="number"
            class="txbox"
            style="display: inline; width: 5em;"
            ng-model="state.optimization.objectives.end"/>

    &nbsp;&nbsp;
      <!--<input-->
      <!--type="checkbox"-->
      <!--ng-model="state.optimization.tvsettings.timevarying">-->
      <!--Allow time-varying optimization-->
      <!--</input>-->

      <!--<span ng-show="state.optimization.tvsettings.timevarying">-->
      <!--&nbsp;&nbsp;-->
      <!--<input-->
      <!--type="checkbox"-->
      <!--ng-model="state.optimization.tvsettings.tvconstrain">-->
      <!--Keep total budget constant-->
      <!--</input>-->
      <!--</span>-->
    </p>

  </span>


  <span ng-show="state.optimization.which == 'money'">
    <p>Compare to base year &nbsp;
    <input
            type="number"
            class="txbox"
            style="display: inline; width: 5em;"
            ng-model="state.optimization.objectives.base"/>
    &nbsp; and run from &nbsp;
    <input
            type="number"
            class="txbox"
            style="display: inline; width: 5em;"
            ng-model="state.optimization.objectives.start"/>
    &nbsp; to &nbsp;
    <input
            type="number"
            class="txbox"
            style="display: inline; width: 5em;"
            ng-model="state.optimization.objectives.end"/>
    </p>
  </span>

  <b>Budget</b> &nbsp;
  <p>

    <input
            type="number"
            class="txbox"
            style="display: inline; width: 12em;"
            ng-model="state.optimization.objectives.budget"/>
    &nbsp; per year
  </p>

  <br>

  <span ng-show="state.optimization.which == 'outcomes'">
    <p><b>Weightings</b></p>
    <div style="display:flex; width:100%; justify-content: space-around;">
      <div style="display: inline-block; width: 40%;">
        <p>Weight assigned to each:</p>
        <p>New HIV infection:&nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.inciweight"/></p>
        <p>HIV-related death: &nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.deathweight"/></p>
        <p>HIV-related DALY: &nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.dalyweight"/></p>
        </div>
      <div style="display: inline-block; width: 40%; ">
        <p>Weight assigned to the proportion of people who are:</p>
        <p>Diagnosed:&nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.propdiag"/></p>
        <p>On treatment: &nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.proptreat"/></p>
        <p>Virally suppressed: &nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.propsuppressed"/></p>
      </div>
    </div>
  </span>

  <span ng-show="state.optimization.which == 'money'">
    <p><b>Targets</b></p>
    <div style="display:flex; width:100%; justify-content: space-around;">
      <div style="display: inline-block; width: 40%;">
        <p>Minimum fraction to avert of:</p>
        <p>Infections: &nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.incifrac"/></p>
        <p>Deaths:&nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.deathfrac"/></p>
        <p>DALYs:&nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.dalyfrac"/></p>
      </div>
      <div style="display: inline-block; width: 40%; ">
        <p>Minimum proportion of people who are:</p>
        <p>Diagnosed:&nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.propdiag"/></p>
        <p>On treatment: &nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.proptreat"/></p>
        <p>Virally suppressed: &nbsp;
        <input
                type="number"
                class="txbox"
                style="display: inline; width: 5em;"
                ng-model="state.optimization.objectives.propsuppressed"/></p>
      </div>
    </div>

  </span>

</div>

<br><br>

<div ng-if="state.optimization.constraints" class="section">

  <h3>
    Spending constraints
    <help ref="optimization-set-constraints"/>
  </h3>

  Relative to program spending in optimization start year

  <style>
    .mytable th, .mytable td {
      padding-top: 10px;
      vertical-align: top;
    }
    .mytable th {
      padding-bottom: 10px;
    }
  </style>

  <table
          class="mytable"
          style="
          width: 100%;
          margin-top: 1em;
          border-spacing: 10px;">
    <tr style="
          border-top: 1px solid #999;
          border-bottom: 1px solid #999">
      <th style="vertical-align:bottom">Program</th>
      <th style="width: 6em">Not less than</th>
      <th style="width: 5em">Not more than</th>
    </tr>
    <tr style="justify-content: space-around"
        class="option"
        ng-repeat="constraint in state.optimization.constraints track by $index">
      <td style="width: 60%">
        {{constraint.name}}
      </td>
      <td style="width: 6em">
        <input
                style="width: 5em; display: inline;"
                class="txbox"
                type="number"
                ng-model="constraint.min"/> %
      </td>
      <td style="width: 5em">
        <input
                style="width: 5em; display: inline;"
                class="txbox"
                type="number"
                ng-model="constraint.max"/> %
      </td>
    </tr>
  </table>
</div>

<a
        class="modal-close fa fa-times"
        ng-click="cancel()">
</a>

<div
        style="
    width: 100%;
    text-align: center;
    padding-top: 2em;">
  <button
          class="btn"
          ng-click="cancel()">
    Cancel
  </button>
  <button
          class="btn"
          ng-click="save()"
          ng-disabled="checkNotSavable()">
    Save
  </button>
</div>

