<div class="page rich c-cost-coverage">

  <div style="display: flex">
      <span style="width: 25%;margin-right: 10%">
        <label>
          Select a program set: <br>
          <select class="txbox"
                  ng-options="p.name for p in vm.programSetList"
                  ng-change="populateProgramDropdown()"
                  ng-model="vm.selectedProgramSet">
            <option value="">-- Please select a program set --</option>
          </select>
        </label>
      </span>
      <span style="width: 25%">
        <label>
          Select a parameter set: <br>
          <select class="txbox"
                  ng-options="p.name for p in vm.parsets"
                  ng-change="changeProgram()"
                  ng-model="vm.selectedProgram">
            <option value="">-- Please select a parameter set --</option>
          </select>
        </label>
      </span>
  </div>

  <div style="padding: 40px 0 20px;border-bottom: 1px solid gray;display: flex;">

    <span class="small_bordered_section" ng-repeat="tab in vm.tabs"
          ng-class="{yellowBg: vm.activeTab === tab.slug}"
          ng-click="vm.selectTab(tab.slug)">{{tab.name}}</span>
  </div>

  <!-- Cost functions tab -->
  <div class="c-tab" ng-if="vm.activeTab === 'cost'">
    <div style="width: 40%">
      <label>
        Select a program: <br>
        <select class="txbox"
                ng-options="p.name for p in vm.programs"
                ng-change="vm.changeProgram()"
                ng-model="vm.selectedProgram">
          <option value="">-- Please select a program --</option>
        </select>
      </label>
    </div>

    <div style="margin-top: 2%;width: 40%">
      <h2>FSW Programs</h2>
    </div>

    <div style="display: flex">
      <div>Graph to come here</div>
      <div class="flex-column">
        <div class="flex-column">
          <h3>Parameters for defining cost function</h3>
        </div>
        <div class="flex-column">
          <h3>Historical cost and coverage data</h3>
        </div>
        <div class="flex-column">
          <h3>Options for displaying curves</h3>
        </div>
        <div class="flex-column">
          <h3>Add notes</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Outcome functions tab -->
  <div class="c-tab" ng-if="vm.activeTab === 'outcome'">

    <div class="c-select">
      <label class="c-select__label"> Select a parameter: </label>
      <select class="txbox c-select__input"
              ng-options="p.name for p in vm.fakeParams"
              ng-change="vm.changeParameter()"
              ng-model="vm.selectedParameter">
        <option value="">-- Please select a parameter --</option>
      </select>
    </div>

    <form name="TableForm">

      <div class="c-nested-form" ng-form="'nestedForm[$index]'" ng-repeat="year in vm.years track by $index">
        <table class="c-table" ng-if="vm.selectedParameter!==undefined">

          <tr class="c-table__row">
            <th class="c-table__header">
              Year
            </th>
            <th class="c-table__header">
              Description of program impact
            </th>
            <th class="c-table__header">
              Parameter value
            </th>
          </tr>

          <tr class="c-table__row">
            <!-- Year -->
            <td class="c-table__column c-table__column--year">
              <input class="txbox c-table__input" ng-model="vm.post[$index].year" ng-required="true" type="number"/>
            </td>

            <!-- Text-->
            <td class="c-table__column c-table__column--text">
              {{vm.selectedParameter.name}} in the absence of any programs
            </td>

            <!-- Inputs -->
            <td class="c-table__column c-table__column--inputs u-layout-horizontal u-center-horizontal-v">
              <input class="txbox c-table__input c-table__input--half" type="number" ng-required="true" ng-model="vm.post[$index].valueFrom"/>
              <span class="c-table__between-input"> - </span>
              <input class="txbox c-table__input c-table__input--half" type="number" ng-required="true" ng-model="vm.post[$index].valueTo"/>
              <span class="c-table__between-input"> % </span>
            </td>

          </tr>
          <tbody ng-if="vm.selectedParameter.coverage">

          <tr class="c-table__row">
            <td></td>
            <td class="c-table__column"><b> Program effects </b></td>
            <td></td>
          </tr>

          <tr class="c-table__row">
            <td></td>
            <td class="c-table__column"> {{vm.selectedParameter.name}} under maximal coverage of this program</td>
            <td class="c-table__column c-table__column--inputs u-layout-horizontal u-center-horizontal-v">
              <input class="txbox c-table__input c-table__input--half" ng-model="vm.post[$index].effectsValueFrom" ng-required="true" type="number"/>
              <span class="c-table__between-input"> - </span>
              <input class="txbox c-table__input c-table__input--half" ng-model="vm.post[$index].effectsValueTo" ng-required="true" type="number"/>
              <span class="c-table__between-input"> % </span>
            </td>
          </tr>

          <tr class="c-table__row">
            <td></td>
            <td class="c-table__column"><b>Program interactions</b></td>
            <td></td>
          </tr>

          <tr class="c-table__row">
            <td></td>
            <td class="c-table__column" ng-init="vm.post[$index].interactions='random'">
              <label class="c-checkbox">
                <input type="checkbox" ng-model="vm.post[$index].interactions" ng-required="vm.post[$index].interactions===undefined" ng-true-value="'random'"/>
                Random
              </label>
              <label class="c-checkbox">
                <input type="checkbox" ng-model="vm.post[$index].interactions" ng-required="vm.post[$index].interactions===undefined" ng-true-value="'nested'"/>
                Nested
              </label>
              <label class="c-checkbox">
                <input type="checkbox" ng-model="vm.post[$index].interactions" ng-required="vm.post[$index].interactions===undefined" ng-true-value="'additive'"/>
                Additive
              </label>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <div class="c-nested-form__delete" ng-click="vm.deleteYear($index)" ng-if="vm.years.length > 1">
          x
        </div>
      </div>
    </form>

    <br/>

    <div class="c-cost-coverage__buttons u-layout-vertical" ng-if="vm.selectedParameter!==undefined">
      <button class="btn c-cost-coverage__button" ng-click="vm.addYear()">
        Add year
      </button>
      <button ng-disabled="TableForm.$invalid" class="btn __l c-cost-coverage__button c-cost-coverage__button--submit" ng-click="vm.addYear()">
        Submit
      </button>
    </div>

  </div>

</div>
