<div class="grid" style="margin:0">
  <h1> Define programs &#8594; Define cost and outcome functions </h1>
</div>

<div class="page rich c-cost-coverage">

  <div ng-if="vm.programSetList && vm.programSetList.length === 0">
    You don't have any programs. <a ui-sref="project-set.manageProgramSet"> Click here to add one </a>
  </div>

  <div style="display: flex" ng-if="vm.programSetList && vm.programSetList.length> 0">
      <span style="width: 25%;margin-right: 10%">
        <label>
          Select a program set: <br>
          <select class="txbox"
                  ng-options="program as program.name for program in vm.programSetList"
                  ng-change="vm.changeDropdown()"
                  ng-model="vm.selectedProgramSet">
            <option value="">-- Please select a program set --</option>
          </select>
        </label>
      </span>
      <span style="width: 25%">
        <label>
          Select a parameter set: <br>
          <select class="txbox"
                  ng-options="parset as parset.name for parset in vm.parsets"
                  ng-change="vm.changeDropdown()"
                  ng-model="vm.selectedParset">
            <option value="">-- Please select a parameter set --</option>
          </select>
        </label>
      </span>
  </div>

  <div ng-if="vm.selectedProgramSet && vm.selectedParset">
    <div style="padding: 40px 0 20px;border-bottom: 1px solid gray;display: flex;">

    <span class="small_bordered_section" ng-repeat="tab in vm.tabs"
          ng-class="{yellowBg: vm.activeTab === tab.slug}"
          ng-click="vm.selectTab(tab.slug)">{{tab.name}}</span>
    </div>

    <!-- Cost functions tab -->
    <div ng-if="vm.activeTab === 'cost'" ng-include="'js/modules/project-set/cost-coverage/cost/cost.html'"></div>

    <!-- Outcome functions tab -->
    <div class="c-tab" ng-if="vm.activeTab === 'outcome'">

      <div ng-if="vm.params.length === 0 "> The selected program set doesn't have any parameters.
        <a ui-sref="project-set.manageProgramSet"> Click here to manage your program sets. </a>
      </div>

      <div class="c-select" ng-if="vm.params.length > 0">
        <label class="c-select__label"> Select a parameter: </label>
        <select class="txbox c-select__input"
                ng-options="p.name for p in vm.params"
                ng-change="vm.changeParameter()"
                ng-model="vm.selectedParameter">
          <option value="">-- Please select a parameter --</option>
        </select>
      </div>

      <form name="vm.TableForm" class="c-populations" novalidate ng-if="vm.selectedParameter!==undefined">
        <div ng-repeat="parset in vm.existingEffects.effects" ng-if="parset.parset === vm.selectedParset.id">
          <div class="c-population-wrap o-form__wrap u-layout-vertical" ng-repeat="effect in parset.parameters" ng-if="effect.name === vm.selectedParameter.short">
            <div class="c-population-form__title o-form__title">{{vm.getPopulationTitle(effect.pop)}}</div>

            <div class="c-population-form o-card" ng-repeat="year in effect.years track by $index">

              <table class="c-table">

                <tr class="c-table__row">
                  <th class="c-table__header">
                    Year
                  </th>
                  <th class="c-table__header">
                    Description of program impact
                  </th>
                  <th class="c-table__header">
                    Parameter value
                  </th>
                </tr>

                <tr class="c-table__row">
                  <!-- Year -->
                  <td class="c-table__column c-table__column--year">
                    <input class="txbox c-table__input" ng-model="year.year" year-validator from-year="2000" ng-required="true" type="number"/>
                  </td>

                  <!-- Text-->
                  <td class="c-table__column c-table__column--text">
                    {{vm.selectedParameter.name}} in the absence of any programs targeting this parameter
                  </td>

                  <!-- Inputs -->
                  <td class="c-table__column c-table__column--inputs u-layout-horizontal u-center-horizontal-v">
                    <input class="txbox c-table__input c-table__input--half" type="number" ng-required="true" more-than="-1" ng-model="year.intercept_lower"/>
                    <span class="c-table__between-input"> - </span>
                    <input class="txbox c-table__input c-table__input--half" type="number" ng-required="true" more-than="year.intercept_lower" ng-model="year.intercept_upper"/>
                  </td>

                </tr>

                <tbody ng-if="!vm.selectedParameter.coverage">
                <tr class="c-table__row">
                  <td></td>
                  <td class="c-table__column"><b> Program effects </b></td>
                  <td></td>
                </tr>

                <tr class="c-table__row"
                    ng-repeat="program in year.programs track by $index"
                    ng-init="year.programs= !year.programs ? vm.initYearPrograms(effect.pop) : year.programs"
                >
                  <td></td>
                  <td class="c-table__column"> {{vm.selectedParameter.name}} under maximal attainable coverage of
                                               {{vm.getFullProgramName(program.name)}}
                  </td>
                  <td class="c-table__column c-table__column--inputs u-layout-horizontal u-center-horizontal-v">
                    <input class="txbox c-table__input c-table__input--half" ng-model="program.intercept_lower" more-than="-1" ng-required="true" type="number"/>
                    <span class="c-table__between-input"> - </span>
                    <input class="txbox c-table__input c-table__input--half" ng-model="program.intercept_upper" more-than="programs.intercept_lower" ng-required="true" type="number"/>
                  </td>
                </tr>

                <tr class="c-table__row">
                  <td></td>
                  <td class="c-table__column"><b>Program interactions</b></td>
                  <td></td>
                </tr>

                <tr class="c-table__row">
                  <td></td>
                  <td class="c-table__column" ng-init="year.interact= year.interact === undefined ? 'random' : year.interact">
                    <label class="c-checkbox">
                      <input type="checkbox" ng-model="year.interact" ng-required="year.interact===undefined" ng-true-value="'random'"/>
                      Random
                    </label>
                    <label class="c-checkbox">
                      <input type="checkbox" ng-model="year.interact" ng-required="year.interact===undefined" ng-true-value="'nested'"/>
                      Nested
                    </label>
                    <label class="c-checkbox">
                      <input type="checkbox" ng-model="year.interact" ng-required="year.interact===undefined" ng-true-value="'additive'"/>
                      Additive
                    </label>
                  </td>
                  <td></td>
                </tr>
                </tbody>
              </table>
              <div class="c-population-form__delete o-card__delete" ng-click="vm.deleteYear(effect, $index)" ng-if="effect.years.length > 1">
                x
              </div>
            </div>

            <button ng-if="vm.selectedParameter!==undefined" class="btn c-cost-coverage__button c-cost-coverage__button--add-year" ng-click="vm.addYear(effect)">
              Add year
            </button>

          </div>
        </div>
      </form>

      <br/>

      <button ng-disabled="vm.TableForm.$invalid" ng-if="vm.params.length > 0 && vm.selectedParameter!==undefined" ng-click="vm.submit()" class="btn __l c-cost-coverage__button c-cost-coverage__button--submit" ng-click="vm.addYear()">
        Submit
      </button>

    </div>
  </div>
</div>
