<!-- Cost functions tab -->
<div class="c-tab" ng-controller="CostController">

  <div style="width: 40%">
    <label>
      Select a program:<br>
      <select class="txbox"
              ng-options="p.name for p in vm.programs"
              ng-change="changeSelectedProgram()"
              ng-model="selectedProgram">
      </select>
    </label>
  </div>

  <div ng-if="selectedProgram">

    <div style="display: flex; margin-top: 2%">

      <div class="chart-container __medium">
        <div mpld3-chart="state.chartData" id="cost_cov_chart" ng-if="state.chartData"></div>
        <div class="c-caption" ng-if="state.displayCaption">{{state.displayCaption}}</div>
        <chart-toolbar chart-type="mpld3" mpld3-chart-data="state.chartData"
                       chart-id="{{ state.chartData.id }}">
        </chart-toolbar>
      </div>

      <div class="flex-column margin_left">
        <div class="flex-column">

          <h3>Parameters for defining cost function</h3>

          <table ng-model="state.ccoparsTable" class="table table-bordered">
            <tr>
              <th ng-repeat="title in state.ccoparsTable.titles">
                {{title}}
              </th>
              <th>
                Manage
              </th>
            </tr>
            <tr ng-repeat="row in state.ccoparsTable.rows">
              <td  ng-repeat="cell in row track by $index">
                <span ng-if="$parent.$index != state.ccoparsTable.iEditRow" >{{cell}}</span>
                <input ng-if="$parent.$index == state.ccoparsTable.iEditRow" type="number" ng-model="row[$index]">
              </td>
              <td>
                <span ng-if="$index != state.ccoparsTable.iEditRow" >
                  <i class="fa fa-pencil" ng-click="editRow(state.ccoparsTable, $index)"></i>
                  &nbsp;
                  <i class="fa fa-times" ng-click="deleteRow(state.ccoparsTable, $index)"></i>
                </span>
                <span ng-if="$index == state.ccoparsTable.iEditRow">
                  <i class="fa fa-check" ng-click="acceptEdit(state.ccoparsTable)"></i>
                </span>
              </td>
            </tr>
          </table>

        </div>
        <br>
        <br>
        <div class="flex-column">

          <h3>Historical cost and coverage data</h3>

          <table ng-model="state.costcovTable" class="table table-bordered">
            <tr>
              <th ng-repeat="title in state.costcovTable.titles">
                {{title}}
              </th>
              <th>
                Manage
              </th>
            </tr>
            <tr ng-repeat="row in state.costcovTable.rows">
              <td  ng-repeat="cell in row track by $index">
                <span ng-if="$parent.$index != state.costcovTable.iEditRow" >{{cell}}</span>
                <input ng-if="$parent.$index == state.costcovTable.iEditRow" type="number" ng-model="row[$index]">
              </td>
              <td>
                <span ng-if="$index != state.costcovTable.iEditRow" >
                  <i class="fa fa-pencil" ng-click="editRow(state.costcovTable, $index)"></i>
                  &nbsp;
                  <i class="fa fa-times" ng-click="deleteRow(state.costcovTable, $index)"></i>
                </span>
                <span ng-if="$index == state.costcovTable.iEditRow">
                  <i class="fa fa-check" ng-click="acceptEdit(state.costcovTable)"></i>
                </span>
              </td>
            </tr>
          </table>

        </div>

        <div class="flex-column margin_top">

          <h3>Options for displaying curves</h3>

          <div>
            Specify the maximum coverage shown on the plot:
            <input placeholder="e.g. 1000000" class="txbox __inline __xl" ng-model="state.maxFunc" type="number"/>
          </div>
          <div>
            Display program costs in dollar spent per person in the targeted population
            <input type="checkbox" ng-model="state.dispCost"/>
          </div>
        </div>

        <div class="flex-column margin_top">
          <h3>Add notes</h3>
          <textarea ng-model="state.remarks"/>
        </div>

      </div>
    </div>
  </div>
</div>
