packages:
  yum:
    libpng-devel: []
    freetype-devel: []
    zlib-devel: []
    gcc-c++: []

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: server/src/worker.py

  - namespace: aws:elasticbeanstalk:sqsd
    option_name: WorkerQueueURL
    value: https://sqs.us-west-2.amazonaws.com/886419599589/optima

