<div class="grid">
  <div class="3">
    <label for="response-selection">Select a saved response:</label>
  </div>
  <div style="display: flex;justify-content: flex-start;">
    <select id="response-selection" name="response-selection" class="txbox"
            ng-model="state.activeResponseName"
            ng-change=""
            style="width: 20%;">
      <option ng-repeat="res in state.responses"
              ng-selected="{{res.name === state.activeResponseName}}"
              value="{{::res.name}}">{{::res.name}}</option>
    </select>
    <button ng-click="addResponse()" type="button" class="btn" style="margin-left:2%">New Response</button>
    <button ng-click="editResponse()" type="button" class="btn" style="margin-left:2%">Edit Response</button>
    <button ng-click="deleteResponse()" type="button" class="btn" style="margin-left:2%">Delete Response</button>
    <button ng-click="copyResponse()" type="button" class="btn" style="margin-left:2%">Copy Response</button>
  </div>
</div>
