
<a class="modal-close fa fa-times" ng-click="cancel()"></a>

<div class="modal-header">
  CREATE/EDIT A {{scenario.scenario_type}} PROGRAM SCENARIO
  <div ng-if="scenario.scenario_type=='budget'" style="display: inline-block">
    <help ref="budget-scenarios"/>
  </div>
  <div ng-if="scenario.scenario_type=='coverage'" style="display: inline-block">
    <help ref="coverage-scenarios"/>
  </div>
</div>

<!-- Name -->
<div class="o-form__field-wrap">
  <label> Name </label>
  <input
      class="txbox"
      type="text"
      ng-model="scenario.name"
      required/>
  <div
      class="error-hint"
      ng-show="isNameClash(scenario.name)">
    Scenario with this name already exists, please choose a different name.
  </div>
</div>

<div class="c-prosce-modal__selects u-layout-horizontal">

  <!--  Select a parameter set to use as baseline  -->
  <div class="o-form__field-wrap c-prosce-modal__input-with-space">
    <label class="o-form__label">Parameter set</label>
    <select
        class="o-form__input txbox"
        type="text"
        ng-model="scenario.parset_id"
        ng-change="resetParsetAndProgset()"
        ng-options="parset.id as parset.name for parset in parsets"
        required>
    </select>
  </div>

  <!--  Select a program set to use as baseline  -->
  <div class="o-form__field-wrap c-prosce-modal__input-with-space">
    <label class="o-form__label">Program set</label>
    <select
        class="o-form__input txbox"
        type="text"
        ng-model="scenario.progset_id"
        ng-change="resetParsetAndProgset()"
        ng-options="progset.id as progset.name for progset in progsets"
        required>
    </select>
  </div>

</div>

<div class="c-prosce-modal__selects u-layout-horizontal" ng-show="false">
  <p class="error-hint">
    This program set is not ready to optimize, please pick another one
  </p>
</div>


<div style="
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      padding: 10px 0;
      margin-top: 2em;
      margin-bottom: 1em;
      width: 100%">
  <table style="width: 100%">
    <th width="80px">Year</th>
    <th width="350px">Program</th>
    <th>{{getScenarioType()}}</th>
  </table>
</div>

<table
    style="
      border-bottom: 1px solid #999;
      margin-bottom: 1em;
      width: 100%"
    ng-repeat="yearEntry in state.yearEntries">

  <td width="80px" valign="top">
      <select
          class="txbox __inline"
          style="width: 60px;"
          type="number"
          ng-model="yearEntry.value"
          ng-options="year for year in years">
      </select>
  </td>

  <td width="580px" valign="top">

    <div ng-repeat="program in yearEntry.programs"">
      <select
          class="txbox __inline"
          style="width: 350px;"
          type="text"
          ng-model="program.short"
          ng-change="selectProgram(yearEntry, program)"
          ng-options="p.short as p.name for p in state.programs">
      </select>
      <input
          class="txbox __inline"
          style="width: 200px;"
          ng-model="program.value"
          type="number"/>
      <i
        class="fa fa-times"
        style="padding-left: 1em"
        ng-click="removeProgram(yearEntry, $index)">
      </i>
    </div>

    <button
        ng-click="addProgram(yearEntry)"
        class="btn"
        style="
          margin-top: 0.5em;
          margin-bottom: 0.5em;">
      Add program
    </button>
    <button
        ng-click="addAllPrograms(yearEntry)"
        class="btn"
        style="
          margin-top: 0.5em;
          margin-bottom: 0.5em;">
      Add all programs
    </button>
  </td>

  <td valign="top">
    <div
      class="fa fa-times"
      style="float: right"
      ng-click="removeYearEntry($index)">
    </div>
  </td>

</table>

<div
  style="
    width: 100%;
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 2em;">
  <button
      ng-click="addYearEntry()" class="btn">
    Add year
  </button>
</div>

<div
  style="
    width: 100%;
    text-align: center;">
  <button ng-click="cancel()" class="btn">Cancel</button>
  <button type="submit" ng-click="save()"
          class="btn __s o-form__button o-form__button--save">
    Save
  </button>
</div>

