<div class="rich">
  <h1>Samples</h1>

  <p>At this page we've gathered charts for different datasets.</p>

  <div ng-if="data5">
    <h2>Combined line/scatter</h2>
    <div class="chart-container">
      <div line-scatter-chart data="data5" options="options5" save-graph-as></div>
    </div>
  </div>

  <div ng-if="data6">
    <h2>Combined line/area/scatter</h2>
    <div class="chart-container">
      <div line-scatter-area-chart data="data6" options="options6" save-graph-as></div>
    </div>
  </div>

  <div ng-if="data7">
    <h2>Stacked chart</h2>
    <div class="chart-container">
      <div stacked-area-chart data="data7" options="options7" save-graph-as></div>
    </div>
  </div>

  <div ng-if="data8">
    <h2>Pie chart</h2>
    <div class="chart-container">
      <div pie-chart data="data8" options="options8" save-graph-as></div>
    </div>
  </div>

  <div ng-if="data9">
    <h2>Stacked bar chart</h2>
    <div class="chart-container">
      <div stacked-bar-chart data="data9" options="options9" save-graph-as></div>
    </div>
  </div>

  <div ng-if="data10">
    <h2>Two sided horizontal bar chart</h2>
    <div class="chart-container">
      <div two-sided-horizontal-bar-chart data="data10" options="options10" save-graph-as></div>
    </div>
  </div>
</div>
