.bar {
  fill: #888;
  pointer-events: all;
}

.bar.selected {
  fill: #000;
}

.bar:hover {
  fill: #000;
}

.bar.selected:hover {
  fill: #000;
}

.bar_message {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: -170px;
  left: 40px;
  width: 300px;
  background: #fff;
  color: #333;
  padding: 5px;
  border: 1px solid #666;
}

.bar.all {
  fill: color-none;
  opacity: 0;
}
