$colorMap: (
  'color-black': #000,
  'color-blue-1': #a6cee3,
  'color-blue-2': #1f78b4,
  'color-blue-3': #b2df8a,
  'color-grey-1': #33a02c,
  'color-grey-2': #cab2d6,
  'color-grey-3': #6a3d9a,
  'color-purple-1': #fdbf6f,
  'color-purple-2': #ff7f00,
  'color-purple-3': #fb9a99,
  'color-brown-1': #e31a1c,
  'color-brown-2': #ffff99,
  'color-brown-3': #b15928,
  'color-green-1': #a6cee3,
  'color-green-2': #1f78b4,
  'color-green-3': #b2df8a,
  'color-deep-blue-1': #33a02c,
  'color-deep-blue-2': #cab2d6,
  'color-deep-blue-3': #6a3d9a,
  'color-yellow-1': #fdbf6f,
  'color-yellow-2': #ff7f00,
  'color-yellow-3': #fb9a99,
  'color-salmon-1': #e31a1c,
  'color-salmon-2': #ffff99,
  'color-salmon-3': #b15928,

  'color-blue-4': #a6cee3,
  'color-blue-5': #1f78b4,
  'color-grey-4': #b2df8a,
  'color-grey-5': #33a02c,
  'color-purple-4': #fb9a99,
  'color-purple-5': #e31a1c,
  'color-brown-4': #fdbf6f,
  'color-brown-5': #ff7f00,
  'color-green-4': #cab2d6,
  'color-green-5': #6a3d9a,
  'color-deep-blue-4': #ffff99,
  'color-deep-blue-5': #b15928,
  'color-yellow-4': #a6cee3,
  'color-yellow-5': #1f78b4,
  'color-salmon-4': #b2df8a,
  'color-salmon-5': #33a02c
);

.line {

  // even while the fill color is defined we don't want to show the fill
  // for normal lines (for the legend dots we set it to 1)
  fill-opacity:0;

  @each $name, $color in $colorMap{
    &.__#{$name}{
      stroke: $color;
      color: $color;
      fill: $color;
    }
  }

  &.__dashed {
    stroke-dasharray: 10, 5;
  }
}

.area_chart_path, .stacked-bar-chart-rect, .pie-chart-segment {

  @each $color, $name in $colorMap{
    &.__#{$color}{
      fill: $name;
      color: $name;
    }
  }
}

.radar-chart-serie0 {
  fill: #CCE6F6 !important;
  stroke: #037AC0 !important;
}
