$colorMap: (
  'color-black': #000,
  'color-blue-1': #CCE6F6,
  'color-blue-2': #82ACC5,
  'color-blue-3': #3B6E8C,
  'color-grey-1': #DEDEDF,
  'color-grey-2': #ACACAC,
  'color-grey-3': #727272,
  'color-purple-1': #E5D4F7,
  'color-purple-2': #A892C0,
  'color-purple-3': #66527C,
  'color-brown-1': #F7E6D4,
  'color-brown-2': #CAAF94,
  'color-brown-3': #927F6C,
  'color-green-1': #DFFADF,
  'color-green-2': #A9D2AA,
  'color-green-3': #539E55,
  'color-deep-blue-1': #D6DFF4,
  'color-deep-blue-2': #7C98D2,
  'color-deep-blue-3': #3560B8,
  'color-yellow-1': #F6EECC,
  'color-yellow-2': #DAC56A,
  'color-yellow-3': #AC9639,
  'color-salmon-1': #EACBBE,
  'color-salmon-2': #D58B6D,
  'color-salmon-3': #AC5E3F,

  'color-blue-4': #52ADE4,
  'color-blue-5': #037AC0,
  'color-grey-4': #777777,
  'color-grey-5': #414141,
  'color-purple-4': #9A5FDA,
  'color-purple-5': #6D36AB,
  'color-brown-4': #CA9662,
  'color-brown-5': #7C5B3A,
  'color-green-4': #67C869,
  'color-green-5': #1C9720,
  'color-deep-blue-4': #406DC8,
  'color-deep-blue-5': #053DB0,
  'color-yellow-4': #D0B12C,
  'color-yellow-5': #A18303,
  'color-salmon-4': #D3673B,
  'color-salmon-5': #993108
);

.line {

  // even while the fill color is defined we don't want to show the fill
  // for normal lines (for the legend dots we set it to 1)
  fill-opacity:0;

  @each $name, $color in $colorMap{
    &.__#{$name}{
      stroke: $color;
      color: $color;
      fill: $color;
    }
  }

  &.__dashed {
    stroke-dasharray: 10, 5;
  }
}

.area_chart_path, .stacked-bar-chart-rect, .pie-chart-segment {

  @each $color, $name in $colorMap{
    &.__#{$color}{
      fill: $name;
      color: $name;
    }
  }
}

.radar-chart-serie0 {
  fill: #CCE6F6 !important;
  stroke: #037AC0 !important;
}
