.legend {
  margin: auto;
  display: table;
}

.legend-entry {
  display: table-row;
}

.line-color-indicator {
  font-size: 30px;
  height: 18px;
  line-height: 18px;
  padding-top: 1px;
  margin-right: 5px;
  display: block;
  float: left;
}

.graph-legend_text {
  font-size: 12px;
  text-anchor: start;
  font-family: 'Open Sans', sans-serif;
}
