.stack_chart_path {
  fill-opacity: .6;
}

.stack_chart_offset text {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  fill: Black;
  text-anchor: start;
}

.stack_chart_offset circle {
  stroke-width: 2;
  stroke: Black;
}

.stack_chart_legend text {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  fill: Black;
  text-anchor: middle;
}

.stack_chart_legend circle {
  opacity: .6;
  stroke-width: 0;
  stroke: Black;
}
