.tooltip {
  @include font-height(10px, 12px);

  background: #EEF9FF;
  color: #53646F;

  border-color: #C7DDEA;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  padding: 3px;

}

.tooltip.errortooltip {
  @include font-height(10px, 12px);

  background: #FF4444;
  color: #000000;

  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  padding: 3px;
}

.errortooltip > p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.fa {
  cursor: pointer;
}