// from project create page

.some-container {
  width: 300px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.smth {
  background:#aaaaff;
  width:250px;
  margin:10px 10px 10px 10px;
  text-align:center;
}
