<div class="rich">
  <div class="section">

    <h1>Portfolios for Geospatial Analysis</h1>

    <button
        class="btn __m"
        ng-click="createPortfolio()">
      Create portfolio
    </button>

    <br>
    <br>

    <div ng-if="portfolios.length == 0">
      <i>No portfolios</i>
    </div>

    <div ng-if="portfolios.length > 0">
      &nbsp;

      Select portfolio:

      <select
          ng-model="state.portfolio"
          ng-options="portfolio as portfolio.name for portfolio in portfolios"
          ng-change="setActiveGaoptim()"
          style="width: 200px;">
      </select>


      <button
          class="btn __m"
          ng-click="deletePortfolio()">
        Delete
      </button>

      <div style="
          width: 100%;
          border-bottom: 1px solid #AAA;
          padding-top: 30px;
          margin-bottom: 30px">
      </div>

      <button
          class="btn __m __inline"
          ng-click="chooseTemplateProject()">
        Template Project
      </button>

      &nbsp;

      {{ state.templateProject.name}}

      number of regions to spawn

      <select
          ng-model="state.nRegion"
          ng-init="2"
          ng-options="n for n in [2, 3, 4, 5, 6, 7, 8, 9, 10]">
        </select>

      <button
          class="btn __m __inline"
          ng-click="generateTemplateSpreadsheet()">
        Generate spreadsheet
      </button>

      <button
          class="btn __m __inline"
          ng-click="spawnRegionsFromSpreadsheet()">
        Spawn regions from spreadsheet
      </button>

      <div
          style="
            border: 1px solid #DDD;
            padding: 20px;"
          ng-show="isSelectTemplateProject">

        <i>Select from optimizable projects:</i>
        <br>
        <div ng-repeat="project in projects">
          <input
            type="radio"
            ng-model="state.templateProject"
            ng-value="project">
          {{project.name}}
        </div>
        <br>
        <br>
        <button class="btn"
          ng-click="dismissSelectTemplateProject()">
          Dismiss
        </button>

        <button class="btn"
          ng-click="saveTemplateProject()">
          Save
        </button>
      </div>



      <br>
      <br>

      <div
        style="
          display: flex;
          padding-top: 2em;">

        <div style="flex: 0 0 280px">

          <h2>Optimization conditions </h2>

          <br>

          <div
            style="
              width: 230px;
              padding-bottom: 0.1em;"
            ng-repeat="entry in objectiveKeyLabels">
            <label>
              {{entry.label}}
            </label>
            <input
                class="txbox __inline"
                style="
            float: right;
            width:70px;"
                ng-model="state.gaoptim.objectives[entry.key]"
                type="number"/>
            <br clear="all">
          </div>

          <button
              style="
                margin-top: 1em"
                class="btn"
              ng-click="savePortfolio()">
            Save optimization condition
          </button>
        </div>

        <div style="flex: 1">

          <h2>Geospatial analysis of regions in a portfolio</h2>

          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th>Regions</th>
              <th>BOC</th>
              <th></th>
            </tr>
            <tr ng-repeat="project in state.portfolio.projects">
              <td>
                {{project.name}}
              </td>
              <td width="150px">
                <span style="color: #00aeef;">
                    {{bocStatusMessage[project.id]}}
                </span>
              </td>
              <td width="20px">
                <span
                    ng-click="deleteProject(project.id)""
                    class="fa fa-trash">
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <button class="btn"
                  ng-click="addProject()">
                  + import regions from existing projects
                </button>

                <div
                    style="
                      border: 1px solid #DDD;
                      padding: 20px;"
                    ng-show="isSelectNewProject">

                  <i>Select from optimizable projects:</i>
                  <br>
                  <label ng-repeat="project in projects">
                    <input type="checkbox"
                           ng-model="project.selected">
                    {{project.name}}
                    <br>
                  </label>
                  <br>
                  <br>
                  <button class="btn"
                    ng-click="dismissAddProject()">
                    Dismiss
                  </button>

                  <button class="btn"
                    ng-click="saveSelectedProject()">
                    Save
                  </button>
              </div>
              </td>
            </tr>
          </table>

          <button
              style="
                margin-bottom: 1em"
              class="btn"
              ng-click="calculateAllBocCurves()">
            Calculate BOC curves for projects
          </button>

          &nbsp;

          Time per optimization

          <select ng-init="state.bocMaxtime='2'" ng-model="state.bocMaxtime">
            <option value="2">2 seconds</option>
            <option value="10">10 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60">1 minute</option>
            <option value="300">5 minutes</option>
            <option value="600">10 minutes</option>
            <option value="1800">30 minutes</option>
          </select>


          <br>
          <br>
          <button
              class="btn"
              ng-click="runFullGa()"
              ng-disabled="checkBocCurvesNotCalculated()">
            Run geospatial optimization over BOC curves
          </button>

          &nbsp;

          Time per optimization:

          <select ng-init="state.maxtime='2'" ng-model="state.maxtime">
            <option value="2">2 seconds</option>
            <option value="10">10 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60">1 minute</option>
            <option value="300">5 minutes</option>
            <option value="600">10 minutes</option>
            <option value="1800">30 minutes</option>
          </select>
          &nbsp;
          <span style="color: #00aeef; margin-top: 25px; margin-left: 15px">
            {{ statusMessage }}
          </span>

          <br>
          <br>
          <button
              class="btn"
              ng-disabled="hasNoResults()"
              ng-click="exportResults()">
            Results (CSV)
          </button>

        </div>

      </div>

    </div> <!-- scope.portfolios -->

</div>
