<div class="rich">
  <h1>Import/Export</h1>

  <h2>Import</h2>
  <p>TODO</p>

  <h2>Export</h2>

  <div class="grid">
    <div class="6">
      <h4>Table</h4>

      <table class="section" id="mockup-table" border="1" width="100%">
        <tr>
          <td ng-repeat="header in json[0]">{{ header }}</td>
        </tr>
        <tr ng-repeat="row in json[1]">
          <td ng-repeat="cell in row track by $index">{{ cell }}</td>
        </tr>
      </table>

      <div class="section">
        <button class="btn" ng-click="export2cvs()">Export to .CVS</button>
        <button class="btn" ng-click="export2xlsx()">Export to .XLSX</button>
        <button class="btn" ng-click="export2mat()">Export to .MAT</button>
      </div>
    </div>
    <div class="6">
      <h4>JSON</h4>

      <pre>{{ json | json }}</pre>
    </div>
  </div>
</div>
