<div class="menu">

  <div
      ng-if="isAdmin"
      ng-click="showAdminMenu = !showAdminMenu"
      ng-mouseleave="showAdminMenu = false">
    <div
        class="menu-item"
        ng-class="{'menu-active': isState('admin')}">
      Admin
      <i class="fa fa-angle-up" ng-if="showAdminMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showAdminMenu"></i>
    </div>
    <div
        ng-if="showAdminMenu"
        class="menu-dropdown">
      <div
          ui-sref="admin.manage-users"
          ng-click="updateMenuSelection('showAdminMenu')">
        Manage users
      </div>
      <div
          ui-sref="admin.manage-projects"
          ng-click="updateMenuSelection('showAdminMenu')">
        Manage user projects
      </div>
    </div>
  </div>

  <div
      ui-sref="home"
      class="menu-item"
      ng-class="{'menu-active': isState('home')}">
    Projects
  </div>

  <div
      ng-click="goIfProjectActive('model.manual')"
      ng-class="{'menu-active': isState('model')}"
      class="menu-item">
    Calibration
  </div>

  <div
      ng-click="goIfProjectActive('programs.manageProgramSet')"
      ng-class="{'menu-active': isState('manageProgramSet')}"
      class="menu-item">
    Programs
  </div>

  <div
      ng-click="goIfProjectActive('programs.define-cost-coverage-outcome')"
      ng-class="{'menu-active': isState('cost-coverage')}"
      class="menu-item">
    <div ng-if="!programsDefined">
      Cost functions <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div ng-if="programsDefined">
      Cost functions <i class="fa fa-check" aria-hidden="true"></i>
    </div>

  </div>

  <div
      ng-click="goIfProjectActive('analysis.scenarios')"
      ng-class="{'menu-active': isState('scenarios')}"
      class="menu-item">
    Scenarios
  </div>

  <div
      ng-click="goIfProjectActive('analysis.optimization')"
      ng-class="{'menu-active': isState('optimization')}"
      class="menu-item">
    Optimization
  </div>

  <div
      ui-sref="portfolio.manage"
      class="menu-item"
      ng-class="{'menu-active': isState('portfolio')}">
    Geospatial
  </div>

  <div
      ng-click="showAccountHelpMenu = !showAccountHelpMenu"
      ng-mouseleave="showAccountHelpMenu = false">
    <div
        class="menu-item"
        ng-class="{'menu-active': isState('help') || isState('edit') || isState('feedback')}">
      Account/help
      <i class="fa fa-angle-up" ng-if="showAccountHelpMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showAccountHelpMenu"></i>
    </div>
    <div
        ng-if="showAccountHelpMenu"
        class="menu-dropdown">
      <div ui-sref="edit">Edit account</div>
      <div>
        <a href="https://docs.google.com/document/d/18hGjBb1GO8cR_sZRTjMqBvBb0Fkmsz-DwzslstaqG-Y/edit#"
           target="_blank"
           style="color: #53646F; text-decoration: none">
          Open user guide
        </a>
      </div>
      <div ui-sref="help">Help</div>
      <div ui-sref="feedback">Feedback</div>
      <div>
        <a href="http://optima-consortium.com"
           target="_blank"
           style="color: #53646F; text-decoration: none">
          Optima website
        </a>
      </div>
      <div ng-click="logout()">Logout</div>
    </div>
  </div>


</div>