<form name="saveOptimizationForm" ng-submit="saveOptimization(saveExisting, newName)" >
  <div class="modal-header">
    <a class="modal-close" data-ng-click="$dismiss('cancel')">&times;</a>
    <h4 class="modal-title">Save optimization</h4>
  </div>
  <div class="modal-body grid" style="margin-bottom: 20px">

    <div class="++2 8">
      <p style="margin-top: 0">You can choose to save the current objectives, constraints and results as new optimization entry or simply update the existing one.</p>
    </div>

    <div class="++3 6" style="padding-bottom: 20px; padding-top: 20px">
      <input type="radio" id="save-existing" ng-model="saveExisting" ng-value="true">
      <label for="save-existing">Update existing optimization: {{ existingName }}</label>
    </div>

    <div class="++3 6" style="padding-bottom: 20px">
      <input type="radio" id="not-save-existing" ng-model="saveExisting" ng-value="false">
      <label for="not-save-existing">Save as new optimization:</label>
      <input class="txbox" id="prompt-input" name="promptInput" ng-model="newName" ng-required="!saveExisting" style="margin-top: 6px">
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn __white" ng-click="$close()">Cancel</button>
    <button type="submit" class="btn" ng-disabled="saveOptimizationForm.$invalid">Save</button>
  </div>
</form>
