<form name="addOptimizationForm" ng-submit="createOptimization(name)" >
  <div class="modal-header">
    <a class="modal-close" data-ng-click="$dismiss('cancel')">&times;</a>
    <h4 class="modal-title">Create Optimization</h4>
  </div>
  <div class="modal-body grid" style="margin-bottom: 20px">

    <div class="++3 6">
      <p style="margin-top: 0">Please choose a name for the new optimization.</p>
    </div>

    <div class="++3 6" style="padding-bottom: 20px">
      <label for="prompt-input">Optimization name</label>
      <input class="txbox" id="prompt-input" name="organizationName" ng-model="name" required style="margin-top: 6px">
      <div class="error-hint" ng-show="isUniqueName(name, addOptimizationForm)"> An Organization with this name already exists, please choose a different one. </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn __white" ng-click="$close()">Cancel</button>
    <button type="submit" class="btn" ng-disabled="addOptimizationForm.$invalid">Save</button>
  </div>
</form>
