.accordion {
}

.accordion_i {
  background: #FFF;
  border-bottom: 1px solid $borders-color;
  font-size: 14px;

  .panel-title {
    margin: 0;

    & > a {
      @extend .link.__black;
      cursor: pointer;
      display: block;
      padding: 20px;
      text-decoration: none;
    }
  }

  &.__active .panel-title > a {
    @extend .link.__blue;
  }

  .panel-collapse {
    background: #f5f5f5;

    ul {
      border-top: 1px solid $borders-color;
      margin: 0;
      padding: 0;
      -webkit-transform: translate3d(0px,0px,0px); // hack to fix menu glitch on retina

      li {
        padding: 0;

        a {
          display: block;
          padding: 12px 20px;
        }

        &:first-child {
          a {
            padding-top: 22px;
          }
        }

        &:last-child {
          a {
            padding-bottom: 22px;
          }
        }
      }
    }
  }

  .ic {
    margin-right: 8px;
  }
}
