.accordion {
}

.accordion_i {
  background: #FFF;
  border-bottom: 1px solid $borders-color;
  font-size: 14px;

  .panel-title {
    margin: 0;

    & > a {
      @extend .link.__black;
      @extend .link.__complex;
      cursor: pointer;
      display: block;
      padding: 20px;
    }
  }

  &.__active .panel-title > a {
    @extend .link.__blue;
  }

  .ic {
    margin-right: 8px;
  }
}
