.chart-container {
  padding: 40px 10px 10px;
  position: relative;
  border: 1px dashed #999;
  margin: 5px 0;
}

.chart-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

.graph-preview {
  background: #f5f5f5;
  border-radius: 2px;
  padding: 5px;
}
