.chart-container {
  padding: 0px;
  position: relative;
  border: 0px dashed #999;
  margin: 0px;

  &.__small {
    float: left;
    /* width: 575px;
    height: 340px; */
    /*margin: 2px;*/
    /*padding: 45px 5px 5px;*/
  }

  &.__medium {
    float: left;
    /*width: 700px;*/
    /*margin: 2px;*/
    /*padding: 45px 5px 5px;*/
  }

  &.__large {
    float: left;
    /*width: 720px;*/
    /*margin: 10px;*/
    /*padding: 60px 10px 10px;*/
  }
}

.chart-export-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

.chart-icon {
  padding: 4px;
  cursor: pointer;
  color: gray;
}

.active-icon {
  color: black;
}

.calibration-charts {
  width: 75%;
  display: inline-block;

  &--full{
    width:100%;
  }
}

.manual-calibration {
  width: 24%;
  position: relative;
  top: 4px;
  display: inline-block;

}

.chart_wrapper {
  height: 100%;
  overflow: auto;
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-around;
}