.c-cost-coverage {
  &__button {
    width: 90px;
    &--submit {
      width: 120px;
      margin-top: 50px;
      transition: all linear 100ms;
    }
    &--add-year {
      margin-top: 15px;
    }
  }
}

.c-tab {
  padding-top: 2%;
}

.c-select {
  &__input {
    margin-top: 3px;
    width: auto;
  }
}

.c-populations {
  margin-top: 50px;
}

.c-population-wrap {
  background-color: #fbfbfb;
  border: 1px solid #E2E2E2;
  max-width: 760px;
  padding: 15px;
  margin-bottom: 35px;
}

.c-population-form {

  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  transition: all linear 100ms;
  max-width: 760px;
  width: 100%;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;

  &:hover {
    border: 1px solid #C7C7C7;

    .c-population-form__delete {
      opacity: 1;
    }
  }

  &__title {
    font-size: 17px;
    margin-bottom: 15px;
  }

  &__delete {
    background-color: #d46060;
    color: white;
    position: absolute;
    top: -13px;
    right: -12px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
    transition: all linear 100ms;
    opacity: 0;

    &:hover {
      background-color: #bf444f;
    }
  }
}

.c-table {
  width: 100%;

  &__header {
    border-bottom: 1px solid #9C9C9C;
    padding-left: 10px;
    height: 45px;
  }

  &__row {
  }

  &__column {
    padding: 8px;

    &--year {
      width: 17%;
    }
    &--text {
      width: 63%;
    }
    &--inputs {

    }
  }

  &__input {
    width: 60px;

    &.ng-invalid.ng-dirty {
      border: 1px solid #CE7A7A;
      color: #CE7A7A;
    }

    &--half {
      width: 50px;
    }
  }

  &__between-input {
    margin: 0 2px;
  }

}

.c-checkbox {
  margin-right: 40px;
}

&.invalid {
  border: solid #FF0000 1px;
  outline: 0px;
}

.c-caption {
  text-align: center;
}
