.txbox {

  &.ng-invalid-less-than:not(:focus) {
    color: $color-red;
  }

  &.ng-invalid-more-than:not(:focus) {
    color: $color-red;
  }
}

.error-hint {
  font-size: 12px;
  background: #FFF2D6;
  display: block;
  padding: 5px;
  border-radius: 2px;
  margin-top: 4px;
  margin-bottom:5px;
  border: 1px solid #FFEFCA;
  color: rgb(81, 81, 81);
}

.info-hint {
  font-size: 12px;
  background: #E0F9E1;
  display: block;
  padding: 5px;
  border-radius: 2px;
  margin-top: 14px;
  border: 1px solid #D4F2CF;
  color: rgb(81, 81, 81);
}

.warning-hint {
  font-size: 12px;
  font-weight: $semi-bold;
  background: #FFF2D6;
  display: block;
  padding: 5px;
  border-radius: 2px;
  margin-top: 14px;
  border: 1px solid #D4F2CF;
  color: rgb(81, 81, 81);
}
