.header {

  &_right {
    float: right;
    text-align: right;
    margin-left: 20px;
  }

  &_left {
    float: left;
    width: 375px; // To match 4 buttons with 20 pixel widths between them = 344 pixels
  }

  &_center {
    text-align: center;
  }
}
