// Header
// ======

.header,
.header-push {
  height: 60px;
}

.header {
  @include position(absolute, 0 0 none);
  border-bottom: 1px solid $borders-color;
  padding: 10px 0;
  z-index: 1000;

  &_logo {}

  &_menu {
    margin-top: 9px;
  }
}
