.layout {
  $footer-height: 65px;
  $header-height: 113px;

  height: 100%;
  padding-bottom: $footer-height;
  padding-top: $header-height;
  margin-top: -$header-height;

  &_aside {
    border-right: 1px solid $borders-color;
    background-color: #F2F2F2;
  }

  &_cnt {
    padding: 22px 30px;
    padding-bottom: 80px;
  }

  &_footer {
    margin-top: -$footer-height;
  }
}

.flex__medium_space_between {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.section_dashed_border {
  border: 1px dashed gray;
  padding: 15px;
  .option {
    display: inline-block;
    width: 33%;
    padding-right: 20px;
    padding-bottom: 10px;
    &:first-child {
      width: 100%;
      display: block;
    }
  }
}

.small_bordered_list {
  margin: 2px;
  padding: 5px;

  .option_list {
    border: 1px solid black;
    overflow: scroll;
  }

  .option {
    padding: 10px 2px;
    display: flex;
  }
}