.layout {
  $footer-height: 65px;
  $header-height: 113px;

  height: 100%;
  padding-bottom: $footer-height;
  padding-top: $header-height;
  margin-top: -$header-height;

  &_aside {
    border-right: 1px solid $borders-color;
    background-color: #F2F2F2;
  }

  &_cnt {
    padding: 22px 30px;
    padding-bottom: 80px;
  }

  &_footer {
    margin-top: -$footer-height;
  }
}
