// Logotype
// ========

.logo {
  @include image-size('project/logo/logo.png');
  background-image: inline-asset('project/logo/logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

  &:after {
    content: '';
    display: block;
  }
}

.kirbylogo {
  @include image-size('project/logo/kirby-logo.png');
  background-image: inline-asset('project/logo/kirby-logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

  &:after {
    content: '';
    display: block;
  }
}

.unswlogo {
  @include image-size('project/logo/unsw-logo.png');
  background-image: inline-asset('project/logo/unsw-logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

  &:after {
    content: '';
    display: block;
  }
}

.wblogo {
  @include image-size('project/logo/world-bank-logo.png');
  background-image: inline-asset('project/logo/world-bank-logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

  &:after {
    content: '';
    display: block;
  }
}