// Logotype
// ========

.logo {
  @extend .logo.__m;
  @include image-size('project/logo/logo.png');
  background-image: inline-asset('project/logo/logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

  &:after {
    content: '';
    display: block;
  }

  // Modifiers
  // ---------

  &.__s {
    width: 102px;
  }

  &.__m {
    width: 154px;
  }
}
