.page {

  &_header {
    @extend %clearfix;
    padding: 22px 0 45px;
  }
  
  hr {
    border: 0;
    border-bottom: 1px solid $borders-color;
    margin: 10px 0;

    &.__dashed {
      border-bottom-style: dashed;
    }
  }

  .top-spaced {
    margin-top: 10px;
  }

  .indented {
    position: relative;
    left: 25px
  }

}
