.c-parsce-modal {

  &__field-wrap {
    margin-bottom: 15px;
  }

  &__buttons {
    justify-content: flex-end;
  }

  &__button {
    &--dismiss {
      margin-right: 10px;
    }
  }

  &__input {
    margin-top: 5px;
    &--small {
      width: 75px;
    }
  }

}