.scenario-grids {
  position: relative;

  .grid {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.scenario-parameter-close {
  color: gray;
  float: right;
  font-weight: bold;
  font-size: 14px;
  outline: 0;
  background: none;
  border: 0;
  position: absolute;
  right: 15px;

  &:hover {
    color: #BE2222;
  }
}

.fat-modal .modal-dialog {
  width: auto;
  max-width: 900px;
}

.modal-content {
  overflow: auto;
}

.delete {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.chart-box td {
  vertical-align: top;
}