<li class="{{ settings.baseClass }}_li"
  data-ng-class="{ active: item.active }"
  data-ng-if="!item.subitems"
  data-ng-repeat-start="item in settings.items"
  secured-by-any="{{ item.permissions }}">
  <a class="{{ settings.baseClass }}_a"
     ui-sref="{{ item.url }}"  id="{{ item.title }}">
    <span class="{{ settings.baseClass }}_ic ftic"
      data-ng-class="'__' + item.icon">
    </span>
    <span class="{{ settings.baseClass }}_a-text">{{ item.title }}</span>
  </a>
</li>

<li class="{{ settings.baseClass }}_li dropdown"
  data-ng-class="{ active: item.active }"
  data-ng-if="item.subitems"
  data-ng-repeat-end
  secured-by-any="{{ item.permissions }}">
  <a class="{{ settings.baseClass }}_a dropdown-toggle" href="#" id="{{ item.id }}">
    <span class="{{ settings.baseClass }}_ic ftic"
      data-ng-class="'__' + item.icon"
      data-ng-if="item.icon">
    </span>
    <span class="{{ settings.baseClass }}_a-text">{{ item.title }}</span>
    <span class="{{ settings.baseClass }}_caret caret" data-ng-if="settings.caret"></span>
  </a>
  <ul class="{{ settings.baseClass }}_menu dropdown-menu">
    <li class="{{ settings.baseClass }}_menu_li"
      data-ng-class="{ active: subitem.active }"
      data-ng-if="!subitem.subitems"
      data-ng-repeat-start="subitem in item.subitems"
      secured-by="{{ subitem.permissions }}">
      <a data-ng-if="subitem[0] !== '-'" class="{{ settings.baseClass }}_menu_a" id="{{ subitem.id }}"
         ui-sref="{{ subitem.url }}" data-ng-click="subitem.click($event)">
        {{ subitem.title }}
      </a>
      <hr class="__divider" data-ng-if="subitem[0] === '-'">
    </li>
    <li class="{{ settings.baseClass }}_menu_li dropdown-submenu"
        data-ng-class="{ active: subitem.active }"
        data-ng-if="subitem.subitems"
        data-ng-repeat-end
        secured-by-any="{{ subitem.permissions }}">
      <a class="{{ settings.baseClass }}_menu_a"  id="{{ subitem.id }}"
         data-ng-click="subitem.click($event); $event.stopPropagation();">
        {{ subitem.title }}
      </a>
      <ul class="{{ settings.baseClass }}_menu dropdown-menu" data-ng-if="subitem.subitems">
        <li class="{{ settings.baseClass }}_menu_li"
            data-ng-class="{ active: subsubitem.active }"
            data-ng-repeat="subsubitem in subitem.subitems"
            secured-by="{{ subsubitem.permissions }}">
          <a data-ng-if="subsubitem[0] !== '-'" class="{{ settings.baseClass }}_menu_a" id="{{ subsubitem.id }}"
             ui-sref="{{ subsubitem.url }}" data-ng-click="subsubitem.click($event)"
             data-ng-if="subitem.subitems">
            {{ subsubitem.title }}
          </a>
          <hr class="__divider" data-ng-if="subsubitem[0] === '-'">
        </li>
      </ul>
    </li>
  </ul>
</li>

