<div class="menu">
  <div ng-if="isAdmin">
    <div ng-click="showAdminMenu = !showAdminMenu" class="btn __blue">
      Create/open project
      <i class="fa fa-angle-up" ng-if="!showAdminMenu"></i>
      <i class="fa fa-angle-down" ng-if="showAdminMenu"></i>
    </div>
    <div ng-if="showAdminMenu" class="menu-dropdown" style="width: 200px;">
      <div ui-sref="admin.manage-users">Manage users</div>
      <div ui-sref="admin.manage-projects">Manage user projects</div>
    </div>
  </div>
  <div>
    <div ng-click="showProjectMenu = !showProjectMenu" class="btn __blue">
      Create/open project
      <i class="fa fa-angle-up" ng-if="!showProjectMenu"></i>
      <i class="fa fa-angle-down" ng-if="showProjectMenu"></i>
    </div>
    <div ng-if="showProjectMenu" class="menu-dropdown" style="width: 200px;">
      <div ui-sref="project.create">Create new project</div>
      <div ui-sref="project.open">Open/manage projects</div>
      <div ng-click="uploadSpreadsheet()">Upload Optima spreadsheet</div>
      <div ui-sref="project.upload">Upload new project</div>
    </div>
  </div>
  <div>
    <div class="btn __blue" ng-click="goIfProjectActive('model')">View data & model calibration</div>
  </div>
  <div>
    <div ng-click="showProjectSetMenu = !showProjectSetMenu" class="btn __blue">
      Create/manage project set
      <i class="fa fa-angle-up" ng-if="!showProjectSetMenu"></i>
      <i class="fa fa-angle-down" ng-if="showProjectSetMenu"></i>
    </div>
    <div ng-if="showProjectSetMenu" class="menu-dropdown" style="width: 250px;">
      <div ng-click="goIfProjectActive('project-set.manageProgramSet')">Define programs</div>
      <div ng-click="goIfProjectActive('project-set.define-cost-coverage-outcome')">Define cost and outcome functions</div>
    </div>
  </div>
  <div>
    <div ng-click="showAnalysisMenu = !showAnalysisMenu" class="btn __blue">
      Analysis
      <i class="fa fa-angle-up" ng-if="!showAnalysisMenu"></i>
      <i class="fa fa-angle-down" ng-if="showAnalysisMenu"></i>
    </div>
    <div ng-if="showAnalysisMenu" class="menu-dropdown" style="width: 150px;">
      <div ng-click="goIfProjectActive('analysis.scenarios')">Scenario analyses</div>
      <div ng-click="goIfProjectActive('analysis.optimization')">Optimization analyses</div>
    </div>
  </div>
</div>