<accordion class="accordion" close-others="true">

  <!-- Link -->
  <div ng-repeat-start="item in ::settings.items"
       ng-if="!item.subitems"
       ng-click="item.click($event)"
       class="accordion_i"
       ng-class="{ '__active': item.active }">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="link" ui-sref="{{ ::item.url }}">
          <i class="ic __plus"></i>
          {{ ::item.title }}
        </a>
      </h4>
    </div>
  </div>

  <!-- Links group -->
  <accordion-group ng-repeat-end=""
       class="accordion_i"
       is-open="item.active"
       is-disabled="item.disabled"
       ng-if="item.subitems"
       ng-class="{ '__active': item.active }">
    <accordion-heading>
      <i class="ic __plus"></i>
      {{ ::item.title }}
    </accordion-heading>

    <ul>
      <li ng-repeat="sub in ::item.subitems" ng-class="{ '__active': sub.active }">
        <a ng-if="sub.url && !sub.click" class="link __black __complex" ui-sref="{{ ::sub.url }}">
          <i class="ic" ng-class="{ '__circle-gray': !sub.active, '__donut-blue': sub.active }"></i>
          {{ ::sub.title }}
        </a>

        <a ng-if="::sub.click" class="link __black __complex" ng-click="sub.click()">
          <i class="ic" ng-class="{ '__circle-gray': !sub.active, '__donut-blue': sub.active }"></i>
          {{ ::sub.title }}
        </a>
      </li>
    </ul>
  </accordion-group>

  <type-selector class="type-selector" types="types"></type-selector>

</accordion>
