<div class="menu">
  <div ng-if="isAdmin" ng-click="showAdminMenu = !showAdminMenu" ng-mouseleave="showAdminMenu = false">
    <div class="btn __blue">
      Admin
      <i class="fa fa-angle-up" ng-if="showAdminMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showAdminMenu"></i>
    </div>
    <div ng-if="showAdminMenu" class="menu-dropdown" style="width: 200px;">
      <div ui-sref="admin.manage-users" ng-click="updateMenuSelection('showAdminMenu')">Manage users</div>
      <div ui-sref="admin.manage-projects" ng-click="updateMenuSelection('showAdminMenu')">Manage user projects</div>
    </div>
  </div>
  <div ng-click="showProjectMenu = !showProjectMenu" ng-mouseleave="showProjectMenu = false">
    <div class="btn __blue">
      Manage project
      <i class="fa fa-angle-up" ng-if="showProjectMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showProjectMenu"></i>
    </div>
    <div ng-if="showProjectMenu" class="menu-dropdown" style="width: 200px;">
      <div ui-sref="project.create">Create new project</div>
      <div ui-sref="project.open">Open/manage projects</div>
      <div ng-click="uploadSpreadsheet()">Upload Optima spreadsheet</div>
      <div ui-sref="project.upload">Upload new project</div>
      <div ng-click="goIfProjectActive('project.economicdata')">Add economic data</div>
    </div>
  </div>
  <div ng-click="showCalibrateMenu = !showCalibrateMenu" ng-mouseleave="showCalibrateMenu = false">
    <div class="btn __blue">
      Calibrate model
      <i class="fa fa-angle-up" ng-if="showCalibrateMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showCalibrateMenu"></i>
    </div>
    <div ng-if="showCalibrateMenu" class="menu-dropdown" style="width: 200px;">
      <div ng-click="goIfProjectActive('model.manual')">Manual calibration</div>
      <div ng-click="goIfProjectActive('model.auto')">Automatic calibration</div>
    </div>
  </div>
  <div ng-click="showProjectSetMenu = !showProjectSetMenu" ng-mouseleave="showProjectSetMenu = false">
    <div class="btn __blue">
      Define programs
      <i class="fa fa-angle-up" ng-if="showProjectSetMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showProjectSetMenu"></i>
    </div>
    <div ng-if="showProjectSetMenu" class="menu-dropdown" style="width: 250px;">
      <div ng-click="goIfProjectActive('project-set.manageProgramSet')">Define programs</div>
      <div ng-click="goIfProjectActive('project-set.define-cost-coverage-outcome')">Define cost and outcome functions</div>
    </div>
  </div>
  <div ng-click="showAnalysisMenu = !showAnalysisMenu" ng-mouseleave="showAnalysisMenu = false">
    <div class="btn __blue">
      Perform Analysis
      <i class="fa fa-angle-up" ng-if="showAnalysisMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showAnalysisMenu"></i>
    </div>
    <div ng-if="showAnalysisMenu" class="menu-dropdown" style="width: 150px;">
      <div ng-click="goIfProjectActive('analysis.scenarios')">Scenario analyses</div>
      <div ng-click="goIfProjectActive('analysis.optimization')">Optimization analyses</div>
    </div>
  </div>
  <div ng-click="showAccountHelpMenu = !showAccountHelpMenu" ng-mouseleave="showAccountHelpMenu = false">
    <div class="btn __blue">
      Account and help
      <i class="fa fa-angle-up" ng-if="showAccountHelpMenu"></i>
      <i class="fa fa-angle-down" ng-if="!showAccountHelpMenu"></i>
    </div>
    <div ng-if="showAccountHelpMenu" class="menu-dropdown" style="width: 150px;">
      <div ui-sref="edit">Edit details</div>
      <div><a href="http://optimamodel.com" target="_blank" style="color: black; text-decoration: none">Website</a></div>
      <div ui-sref="help">Help</div>
      <div ui-sref="contact">Feedback</div>
      <div ng-click="logout()">Log out</div>
    </div>
  </div>
</div>