<div class="section cf">
  <h1>Results</h1>

  <div class="3" ng-repeat="type in types.population" style="padding-bottom: 20px">
    <b>{{ type.name }}</b>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.total">
        Overall
      </label>
    </div>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.byPopulation">
        Per population
      </label>
    </div>
  </div>

  <div class="3" ng-repeat="type in types.financial" style="padding-bottom: 20px">
    <b>{{ type.name }}</b>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.annual">
        Annual
      </label>
    </div>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.cumulative">
        Cumulative
      </label>
    </div>
  </div>
</div>
