<div class="section cf">
  <h1>Results</h1>

  <div ng-repeat="type in types.population">
    <b>{{ type.name }}</b>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.total">
        Overall
      </label>
    </div>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.byPopulation">
        Per population
      </label>
    </div>
  </div>

  <div ng-repeat="type in types.financial" >
    <b>{{ type.name }}</b>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.annual">
        Annual
      </label>
    </div>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.cumulative">
        Cumulative
      </label>
    </div>
  </div>
</div>
