<div class="section cf" ng-if="typeSelectorIsVisible">

  <h3>Epidemiological results</h3>

  <div ng-if="plotUncertaintiesIsVisible === true">
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="types.plotUncertainties">
      Plot uncertainties
    </label>
  </div>

  <div class="type-section" ng-repeat="type in types.population">
    <b>{{ type.name }}</b>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.total">
        Overall
      </label>
    </div>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.byPopulation">
        Per population
      </label>
    </div>
    <div ng-if="type.stacked!==undefined && stackedCheckboxIsVisible === true">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.stacked">
        Stacked
      </label>
    </div>
  </div>

  <h3>Financial commitment results</h3>

  <div ng-repeat="type in types.costs">
    <b>{{type.name}}</b>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.existing">
        People infected before 2015
      </label>
    </div>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.future">
        People infected after 2015
      </label>
    </div>
    <div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.total">
        Total PLHIV
      </label>
    </div>
    <div ng-if="stackedCheckboxIsVisible === true">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="type.stacked">
        Stacked
      </label>
    </div>
  </div>
  <b>Display annual costs as:</b>
  <div ng-repeat="financialType in types.financialAnnualCosts">
    <input type="radio" name="activeAnnualCost" ng-model="types.activeAnnualCost" value="{{financialType.id}}" ng-disabled="financialType.disabled"/>
    <label>{{financialType.name}}</label>
  </div>

</div>
