<form name="RegisterForm" ng-submit="register()" novalidate="novalidate"
      style="max-width: 500px; min-width: 200px; margin: 0 auto">
  <h1>Registration</h1>

  <div class="section text-error" ng-show="error">
    {{ error }}
  </div>

  <div class="section form-input-validate flex__medium_space_between">
    <span class="text_bold_medium" style="width: 25%">Username *</span>
    <input class="txbox __l"
           style="width: 75%"
           type="text"
           name="username"
           ng-model="username"
           placeholder="User name"
           required="required">
  </div>

  <div class="section form-input-validate flex__medium_space_between">
    <span class="text_bold_medium" style="width: 25%">Password *</span>
    <input class="txbox __m"
           style="width: 75%"
           type="password"
           name="password"
           ng-model="password"
           placeholder="Password"
           required="required">
  </div>

  <div class="section form-input-validate flex__medium_space_between">
    <span class="text_bold_medium" style="width: 25%">Email *</span>
    <input class="txbox __m"
           style="width: 75%"
           type="email"
           name="email"
           ng-model="email"
           placeholder="Email"
		   required="required">
  </div>

  <div class="section form-input-validate flex__medium_space_between">
    <span class="text_bold_medium" style="width: 25%">Display name</span>
    <input class="txbox __m"
           style="width: 75%"
           type="text"
           name="displayName"
           ng-model="displayName"
           placeholder="Display name">
  </div>

  <div class="section form-input-validate flex__medium_space_between">
    <span class="text_bold_medium" style="width: 25%">Country</span>
    <input class="txbox __m"
           style="width: 75%"
           type="text"
           name="country"
           ng-model="country"
           placeholder="Country">
  </div>

  <div class="section form-input-validate flex__medium_space_between">
    <span class="text_bold_medium" style="width: 25%">Organization</span>
    <input class="txbox __m"
           style="width: 75%"
           type="text"
           name="organization"
           ng-model="organization"
           placeholder="Organization">
  </div>

  <div class="section form-input-validate flex__medium_space_between">
    <span class="text_bold_medium" style="width: 25%">Position</span>
    <input class="txbox __m"
           style="width: 75%"
           type="text"
           name="position"
           ng-model="position"
           placeholder="Position / Title">
  </div>
  
  <div class="section flex__medium_space_between">
    <span style="width: 100%">
	  * Required field
    </span>  
  </div>
  
  <div class="section flex__medium_space_between">
  <input type="checkbox" ng-model="termsAccepted"/>

    <span class="text_bold_medium" style="width: 100%">
      &nbsp; I agree to Optima's <a class="link __blue" ng-click="spawnTerms()">Terms and Conditions</a>.
    </span>
  
  </div>
  
  <button type="submit" class="section btn __l __block" ng-disabled="!termsAccepted">Join</button>
  
  <div class="section text-right">
    Already have an account? <a class="link __blue" ui-sref="login">Log in</a>
  </div>

</form>
