<div class="grid">
  <div class="3">
    <h4>Options editor</h4>

    <div class="section">
      <h5>Series Labels</h5>
      <div class="section grid" ng-repeat="serie in data">
        <div class="12">
          <div class="4">Key {{ $index + 1 }}</div>
          <div class="8"><input class="txbox" ng-model="serie.key"></div>
        </div>
      </div>
    </div>

    <div class="section grid">
      <div class="12">
        <div class="4">
          <label for="stacked">Stacked</label>
        </div>
        <div class="8">
          <input type="checkbox" id="stacked" ng-model="options.chart.stacked">
        </div>
      </div>
    </div>

    <div class="section grid">
      <div class="12">
        <div class="4">X Label</div>
        <div class="8">
          <input class="txbox" ng-model="options.chart.xAxis.axisLabel">
        </div>
      </div>
    </div>
    <div class="section grid">
      <div class="12">
        <div class="4">Y Label</div>
        <div class="8">
          <input class="txbox" ng-model="options.chart.yAxis.axisLabel">
        </div>
      </div>
    </div>
    <div class="section grid">
      <div class="12">
        <div class="4">Height</div>
        <div class="8">
          <input type="number" class="txbox" ng-model="options.chart.height">
        </div>
      </div>
    </div>
  </div>
  <div class="9">
    <div class="chart-container">
      <nvd3 data="data" options="options"></nvd3>
    </div>
  </div>
</div>
