
<div class="rich">

  <div class="grid" style="margin: 0px 0px;">
    <h1>Automatic Calibration</h1>
  </div>

  <div ng-show="isMissingData">
    No data uploaded, you need to <a ui-sref="home">upload data</a>.
  </div>

  <div ng-hide="isMissingData">
    <div class="3">
      <label for="programSet-selection">Select a parameter set:</label>
    </div>

    <div style="display: flex; justify-content: flex-start;">
      <select id="programSet-selection"
              name="programSet-selection"
              class="updateGraph txbox"
              ng-model="state.parset"
              ng-change="setActiveParset()"
              ng-options="parset.name for parset in parsets"
              style="width: 20%;">
      </select>
      <button ng-click="addParameterSet()" type="button" class="btn" style="margin-left:2%">New parameter set</button>
      <button ng-click="copyParameterSet()" type="button" class="btn" style="margin-left:2%">Copy parameter set</button>
      <button ng-click="renameParameterSet()" type="button" class="btn" style="margin-left:2%">Rename parameter set</button>
      <button ng-click="downloadParameterSet()" type="button" class="btn" style="margin-left:2%">Download parameter set</button>
      <button ng-click="uploadParameterSet()" type="button" class="btn" style="margin-left:2%">Upload parameter set</button>
      <button ng-click="deleteParameterSet()" type="button" class="btn" style="margin-left:2%">Delete parameter set</button>
    </div>

    <div
      style="
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
        width: 100%;
        height: calc(100vh - 240px)">

      <div
         style="
           border: 1px solid #DDD;
           padding: 10px;
           flex: 0 0 280px;">
        Run auto-fit for about
        &nbsp;
        &nbsp;
        <select ng-init="state.maxtime=10" ng-model="state.maxtime">
          <option value="10">10 seconds</option>
          <option value="30">30 seconds</option>
          <option value="60">1 minute</option>
          <option value="300">5 minutes</option>
          <option value="600">10 minutes</option>
          <option value="1800">30 minutes</option>
        </select>
        <br>
        <br>
        <button
            class="btn __m"
            ng-click="startAutoCalibration()"
            ng-disabled="checkNotRunnable()">
          Autofit
        </button>
        <br>
        <br>
        <span style="color: #00aeef;"> {{ statusMessage }} </span>
      </div>

      <div
        style="
           margin-left: 10px;
           border: 1px solid #DDD;
           flex: 1 1 auto;
           height:100%;
           width: 100%;
           overflow:auto">

        <optima-graphs graphs="graphs"></optima-graphs>

      </div>

    </div>
  </div>
</div>
