<script>
/*  function move_year() {
    var al = $('.mpld3-baseaxes').length;
    var dl = $('div.fig').length;
    if ($('.mpld3-baseaxes > text').length > 0) {
      $('.mpld3-baseaxes > text').each(function() {
        var value = $(this).text();
        if (value === 'Year') {
          $(this).attr('y', parseInt($(this).attr('y'))+10);
        }
      });
    } else {
      setTimeout(move_year, 150);
    }
  }*/
  /* function format_xaxis() {
    var axes = $('.mpld3-xaxis');
    if (axes.length > 0) {
      $(axes).find('g.tick > text').each(function() {
        $(this).text($(this).text().replace(',',''));
      });
    } else {
      setTimeout(format_xaxis, 150);
    }
  } */
  function add_lines_to_legends() {
    var svgGraphFigures = $('svg.mpld3-figure');
    if (svgGraphFigures.length > 0) {
      svgGraphFigures.each(function() {
        var paths = $(this).find('.mpld3-baseaxes > text');
        if (paths) {
          var legend_length = paths.length - 2;
          var lines = $(this).find('.mpld3-axes > path');
          var lines_to_copy = lines.slice(lines.length - legend_length, lines.length);
          $(this).find('.mpld3-baseaxes').append(lines_to_copy);
        }
      });
    } else {
      setTimeout(add_lines_to_legends, 150);
    }
  }
  function set_overflow_visible() {
    var svgGraphFigures = $('svg.mpld3-figure');
    if (svgGraphFigures.length > 0) {
      svgGraphFigures.each(function() {
        $(this).css('overflow', 'visible');
      });
    } else {
      setTimeout(set_overflow_visible, 150);
    }
  }
  function fix_mouse_pointer() {
    var svgGraphFigures = $('svg.mpld3-figure');
    if (svgGraphFigures.length > 0) {
      svgGraphFigures.each(function () {
        var that = this;
        $(that).on('mouseover', function() {
          $(that).find('.mpld3-coordinates').each(function () {
            $(this).attr('y', parseInt($(that).attr('height')) + 7);
          });
          $(that).find('.mpld3-toolbar').each(function () {
            $(this).remove();
          });
        });
      });
    } else {
      setTimeout(fix_mouse_pointer, 150);
    }
  }
  function remove_default_plugin() {
    var svgGraphFigures = $('mpld3-toolbar');
    if (svgGraphFigures.length > 0) {
      svgGraphFigures.each(function () {
        $(this).remove();
      });
    } else {
      setTimeout(remove_default_plugin, 150);
    }
  }
  function reset_xaxis() {
    // var svgGraphFigures = $('svg.mpld3-figure');
    // if (svgGraphFigures.length > 0) {
    //   svgGraphFigures.each(function () {
    //     var that = this;
    //     $(that).on('click', function() {
    //       setTimeout(format_xaxis);
    //     });
    //     $(that).on('mouseup', function() {
    //       setTimeout(format_xaxis);
    //     });
    //     $(that).on('mousemove', function() {
    //       setTimeout(format_xaxis);
    //     });
    //   });
    // } else {
    //   setTimeout(reset_xaxis, 150);
    // }
  }

  $(document).ready(function() {
    //format_xaxis();
    //move_year();
    add_lines_to_legends();
    set_overflow_visible();
    fix_mouse_pointer();
    reset_xaxis();
  });
</script>
<div class="page rich">
  <div class="3">
    <label for="programSet-selection">Select a parameter set:</label>
  </div>
  <div style="display: flex;justify-content: flex-start;">
    <select id="programSet-selection" name="programSet-selection" class="txbox"
            ng-model="selectedParset"
            ng-change="displayGraphs()"
            ng-options="parset.name for parset in parsets"
            style="width: 20%;">
    </select>
  </div>

  <div ng-repeat="chart in calibrationChart" class="chart-container __small">
    <div mpld3-chart="chart" id="{{ chart.id }}"></div>
    <chart-toolbar chart-type="mpld3" mpld3-chart-data="chart" chart-id="{{ chart.id }}"></chart-toolbar>
  </div>
</div>
