<div class="page rich">

  <div ng-if="missingModelData">
    <spreadsheet-upload-hint></spreadsheet-upload-hint>
  </div>

  <div ng-if="!missingModelData">

    <div class="page_header">
      <div class="section grid">
        <div class="12">

          <div class="elastic __fluid">
            <div class="elastic_col __va-middle">
              <a class="btn" ng-click="reloadSpreadsheet()">Reload spreadsheet</a>
            </div>
            <div class="elastic_col __va-middle">
              <a class="btn" href="http://optimamodel.com/files/optima-parameter-priors.pdf" target="_blank">View parameter priors (PDF)</a>
            </div>
            <div class="elastic_col __va-middle">
              <label class="checkbox-inline">
                <input type="checkbox" ng-disabled="!canDoFitting" ng-model="enableAutomaticCalibration">
                Automatic calibration
              </label>
            </div>
            <div class="elastic_col __va-middle">
              <label class="checkbox-inline">
                <input type="checkbox" ng-disabled="!canDoFitting" ng-model="enableManualCalibration">
                Manual calibration
              </label>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="section" ng-if="enableAutomaticCalibration">
      <div class="section">
        <h2>Automatic calibration</h2>

        <div class="elastic_col __va-middle text-right">
          <div class="elastic __fluid float-right">
            <div class="elastic_col __shrink">
              <label>
                Maximum time limit:
                <select class="txbox __inline" style="width: 120px" ng-model="simulationOptions.timelimit">
                  <option value="10">10 seconds</option>
                  <option value="30">30 seconds</option>
                  <option value="60">1 minute</option>
                  <option value="300">5 minutes</option>
                  <option value="600">10 minutes</option>
                  <option value="1800">30 minutes</option>
                  <option value="3600">1 hour</option>
                </select>
              </label>
            </div>

            <div class="elastic_col __shrink">
              <button class="btn __green" ng-click="startAutoCalibration()">Start calibration</button>
            </div>
            <div class="elastic_col __shrink">
              <button class="btn __red" ng-click="stopAutoCalibration()" ng-disabled="!calibrationStatus">Stop calibration</button>
            </div>
            <div class="elastic_col __shrink">
              <button class="btn" ng-click="saveCalibration()" ng-disabled="calibrationStatus || errorText">Save calibration</button>
            </div>
            <div class="elastic_col __shrink">
              <button class="btn" ng-click="revertCalibration()" ng-disabled="calibrationStatus">Revert</button>
            </div>
          </div>
        </div>
        <div class="info-hint" ng-show="calibrationStatus">
          {{reportCalibrationStatus()}}
        </div>
        <div class="error-hint" ng-show="errorText">
            <pre>{{errorText}}</pre>
        </div>
      </div>
    </div>

    <div class="section __inline calibration-charts" ng-class="{'calibration-charts--full':enableManualCalibration===false}" ng-if="charts.length > 0" >
      <export-all-charts name="Model calibration" ng-if="charts"></export-all-charts>
      <export-all-data name="Model calibration" charts="charts" ng-if="charts"></export-all-data>
      <div class="grid">
        <div>
          <div class="chart-container __small" ng-repeat="chart in charts">
            <div ng-if="chart.type == 'lineAreaScatterChart'" line-area-scatter-chart ng-if="chart.type != 'stackAreaChart'" data="chart.data" options="chart.options" normalise-height></div>
            <chart-toolbar chart-type="d3" d3-chart-data="chart.data"></chart-toolbar>
            <div ng-if="chart.type == 'stackedAreaChart'" stacked-area-chart data="chart.data" options="chart.options" normalise-height></div>
          </div>
        </div>
      </div>
    </div>

    <div class="__inline manual-calibration" ng-if="enableManualCalibration">
      <h2>Manual calibration</h2>
      <table class="section table table-bordered">
        <thead>
        <tr>
          <td><b>Parameter</b></td>
          <td style="width:35%"><b>Value</b></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="parameter in parameters.m">
          <td>{{ ::parameter.title }}</td>
          <td>
            <span editable-input="parameter.data" on-save="doneEditingParameter"></span>
          </td>
        </tr>
        <!-- Force -->
        <tr ng-repeat="population in ::parameters.meta.pops.short track by $index">
          <td>{{ ::parameters.types.force }} {{ ::population }}</td>
          <td>
            <span editable-input="parameters.f.force[$index]" on-save="doneEditingParameter"></span>
          </td>
        </tr>
        <!-- Inhomo -->
        <tr ng-repeat="population in ::parameters.meta.pops.short track by $index">
          <td>{{ ::parameters.types.inhomo }} {{ ::population }}</td>
          <td>
            <span editable-input="parameters.f.inhomo[$index]" on-save="doneEditingParameter"></span>
          </td>
        </tr>
        <!-- Init -->
        <tr ng-repeat="population in ::parameters.meta.pops.short track by $index">
          <td>{{ ::parameters.types.init }} {{ ::population }}</td>
          <td>
            <span editable-input="parameters.f.init[$index]" on-save="doneEditingParameter"></span>
          </td>
        </tr>
        <!-- Popsize -->
        <tr ng-repeat="population in ::parameters.meta.pops.short track by $index">
          <td>{{ ::parameters.types.popsize }} {{ ::population }}</td>
          <td>
            <span editable-input="parameters.f.popsize[$index]" on-save="doneEditingParameter"></span>
          </td>
        </tr>
        <!-- Testing Rate -->
        <tr ng-repeat="i in [0, 1, 2, 3] track by $index">
          <td>{{ ::parameters.types.dx[i] }}</td>
          <td>
            <span editable-input="parameters.f.dx[i]" on-save="doneEditingParameter"></span>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="elastic __fluid">
        <div class="elastic_col">
          <button class="btn" ng-click="saveManualCalibration()">Save calibration</button>
        </div>
        <div class="elastic_col">
          <button class="btn" ng-click="revertManualCalibration()">Revert</button>
        </div>
      </div>
    </div>

  </div>

</div>
