
<div class="rich">

  <div class="grid" style="margin: 0px 0px;">
    <h1>Manual Calibration</h1>
  </div>

  <div class="3">
    <label for="programSet-selection">Select a parameter set:</label>
  </div>

  <div style="display: flex; justify-content: flex-start;">
    <select id="programSet-selection"
            name="programSet-selection"
            class="updateGraph txbox"
            ng-model="activeParset"
            ng-change="getGraphs()"
            ng-options="parset.name for parset in parsets"
            style="width: 20%;">
    </select>
    <button ng-click="addParameterSet()" type="button" class="btn" style="margin-left:2%">New parameter set</button>
    <button ng-click="copyParameterSet()" type="button" class="btn" style="margin-left:2%">Copy parameter set</button>
    <button ng-click="renameParameterSet()" type="button" class="btn" style="margin-left:2%">Rename parameter set</button>
    <button ng-click="downloadParameterSet()" type="button" class="btn" style="margin-left:2%">Download parameter set</button>
    <button ng-click="uploadParameterSet()" type="button" class="btn" style="margin-left:2%">Upload parameter set</button>
    <button ng-click="deleteParameterSet()" type="button" class="btn" style="margin-left:2%">Delete parameter set</button>
  </div>

  <div style="display: flex; margin-top: 5px; margin-bottom: 5px">  <!-- CK: maybe a more robust solution than 70vh -->
    <div style="display: flex;justify-content: space-around; margin-top: 25px">{{test}}
      <button class="btn __m" ng-click="processGraphsAndSave()">Save & Update Figures</button>
      <!--&nbsp;-->
      <!--<button class="btn __m" ng-click="processGraphs()">Update Figures</button>-->
    </div>
  </div>

  <div style="
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          justify-content: space-between;
          width: 100%;
          height: calc(100vh - 300px)">

    <div class="small_bordered_list"
         style="flex: 0 0 320px;"
         ng-if="parameters.length > 0">
      <div class="option_list" style="height: 100%;">
        <div
            ng-repeat="parameter in parameters"
            style="justify-content: space-around"
            class="option">
          <span style="width: 45%">{{parameter.label}}</span>
          <span style="width: 45%">
            <input class="txbox __m"
                   type="number"
                   ng-model="parameter.value"/>
          </span>
        </div>
      </div>
    </div>

    <div
    style="
       margin-left: 10px;
       border: 1px solid #DDD;
       flex: 1 1 auto;
       height:100%;
       width: 100%;">
      <optima-graphs graphs="graphs"></optima-graphs>
    </div>

  </div>
</div>
