<div class="page rich">

  <div class="section grid" ng-show="notReady">
    <div class="9">
      <h1>Model is not ready</h1>
      <div>
        <p ng-show="needData" class="error-hint">Please upload Optima spreadsheet first.</p>

        <div ng-show="cannotCalibrate && !needData">
          <p class="error-hint">This model is not yet ready to define cost-coverage assumptions.</p>
          <button type="button" class="btn" ng-click="gotoViewCalibrate()">View &amp; calibrate model</button>
        </div>
      </div>
    </div>
  </div>

  <div class="section grid" ng-hide="notReady">
    <div class="6">
      <label>
        Select a program: <br>
        <select
          class="txbox"
          ng-options="p as p.name group by p.category for p in programs"
          ng-change="changeProgram()"
          ng-model="selectedProgram"
          ng-disabled="notReady"></select>
      </label>
    </div>
  </div>
  <div class="section" ng-hide="selectedProgram.acronym == null">

    <div class="section" style="margin-bottom: 45px">
      <button type="button" class="btn __blue" ng-click="saveModel()">Save model</button>
      <button type="button" class="btn" ng-click="revertModel()">Revert model</button>
      <button type="button" class="btn" ng-click="uploadDefault()" style="margin-left: 60px">Upload default cost-coverage-outcome curves</button>
    </div>


    <div class="section" ng-show="hasCostCoverResponse">

      <export-all-charts ng-if="graphs" name="Cost coverage outcome" custom-titles="titlesForChartsExport"></export-all-charts>
      <export-all-data charts="chartsForDataExport" name="Cost coverage outcome" ng-if="graphs || ccGraph"></export-all-data>

      <h1>{{ displayedProgram.name }}</h1>
      <div class="section elastic">
        <div class="elastic_col __shrink" ng-if="ccGraph.data">
          <div class="chart-container">
            <div line-scatter-chart data="ccGraph.data" options="ccGraph.options" save-graph-as></div>
          </div>
        </div>
        <div class="elastic_col">
          <div class="section">
            <form name="CostCoverageForm" ng-submit="generateCurves()">
              <div class="info-hint" ng-show="!hasAllCCParams()">{{optionsErrorMessage}}</div>
              <div class="error-hint" ng-show="!hasValidCCParams()">{{needAllCCParamsMessage}}</div>
              <p>
                1. Specify the saturation coverage level:
                <input type="number" ng-required="false" name="saturationCoverageLevel" class="txbox __inline __m" min="1" max="100" step="1" more-than="knownCoverageLevel" placeholder="e.g.{{defaultSaturationCoverageLevel}}" ng-model="saturationCoverageLevel" ng-change="updateCurves()">%
                <error-messages for="saturationCoverageLevel" rules="{min:1, max:100, moreThan: 'Known Coverage Level'}"></error-messages>
              </p>
              <p>
                2. The estimated amount of funding needed to get
                <input type="number" name="knownCoverageLevel" class="txbox __inline __m" min="1" max="100" placeholder="e.g.{{defaultKnownCoverageLevel}}" ng-model="knownCoverageLevel" ng-change="updateCurves()">%
                coverage for this program is:
                <error-messages for="knownCoverageLevel" rules="{min:1, max:100, name:'Known Coverage Level'}"></error-messages>
                <input type="number" name="knownFundingValue" min="1" step="1000" name="knownFundingValue" class="txbox __inline __xl" placeholder="e.g.{{defaultKnownFundingValue}}"  ng-model="knownFundingValue" ng-change="updateCurves()">
                <error-messages for="knownFundingValue" rules="{min:1, name:'Known Funding Value'}"></error-messages>
              </p>
              <p>
                3. [Optional] Specify scale-up parameters:
                <input type="number" name="scaleUpParameter" min="0" max="0.9" step="0.1" class="txbox __inline __xl" placeholder="e.g.{{defaultScaleUpParameter}}"  ng-model="scaleUpParameter" ng-change="updateCurves()">
                <error-messages for="scaleUpParameter" rules="{min:0, max:0.9}"></error-messages>
              </p>
              <p>
                4. [Optional] Full coverage would avert
                <input type="number" name="nonHivDalys" min="0" step="1" class="txbox __inline __xl" placeholder="e.g.{{defaultNonHivDalys}}"  ng-model="nonHivDalys" ng-change="updateCurves()">
                non-HIV-related DALYs per year
                <error-messages for="nonHivDalys" rules="{min:0}"></error-messages>
              <p>
                5. [Optional] Specify the maximum funding (for plotting only):
                <input type="number" name="xAxisMaximum" min="1" ng-required="false" more-than="knownFundingValue" class="txbox __inline __xl" placeholder="e.g.{{defaultXAxisMaximum}}"  ng-model="xAxisMaximum" ng-change="updateCurves()">
                <error-messages for="xAxisMaximum" rules="{min:1, moreThan:'Known Funding Value'}"></error-messages>
              </p>
              <p>
                6. [Optional] Display program cost data in
                <input
                  name="displayYear"
                  class="txbox __inline __l"
                  placeholder="e.g.{{projectInfo.dataEnd}}"
                  type="number"
                  ng-required="false"
                  ng-min="{{projectInfo.dataStart}}"
                  ng-max="{{projectInfo.dataEnd}}"
                  ng-model="displayYear"
                  ng-change="updateCurves()"> prices
                <error-custom-messages
                  for="displayYear"
                  rules="{
                    min: 'The year entered cannot be before the project start date.',
                    max: 'The year entered cannot be after the project end date.'
                  }">
                </error-custom-messages>
              </p>
              <p>
                7. [Optional] Display program costs in dollar spent per person in the targeted population
                <input type="checkbox" ng-model="calculatePerPerson" class="__inline" ng-change="updateCurves()"/>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="section" ng-if="graphs.plotdata.length" ng-repeat="chart in graphs.plotdata">
        <h2 class="section">{{ chart.options.title }}</h2>

        <div class="section elastic">
          <div class="elastic_col __shrink" style="width: 320px">
            <div class="chart-container" ng-init="coGraph = graphs.plotdata_co[$index]">
              <div line-scatter-chart data="coGraph.data" options="coGraph.options" save-graph-as></div>
            </div>
          </div>

          <div class="elastic_col" style="width: 340px">
            <div class="chart-container">
              <div line-scatter-chart data="chart.data" options="chart.options" save-graph-as></div>
            </div>
          </div>
          <form name="AdjustmentForm" class="elastic_col">
            <h3>Options to adjust curves:</h3>
            <p>
              1. Behavior/outcome without this program ranges between
              <input type="number" name="withoutProgramRangeStart" step="0.01" ng-required="true" ng-change="updateCurve($index,AdjustmentForm)" class="txbox __inline" ng-model="coParams[$index][0]" less-than="coParams[$index][1]">
              and
              <input type="number" name="withoutProgramRangeEnd" step="0.01" ng-required="true" ng-change="updateCurve($index,AdjustmentForm)" class="txbox __inline" ng-model="coParams[$index][1]" more-than="coParams[$index][0]">
              <span ng-show="AdjustmentForm.withoutProgramRangeStart.$error.lessThan || AdjustmentForm.withoutProgramRangeEnd.$error.moreThan" class="error-hint">The first parameter must be lower than the second one.</span>
            </p>
            <p>
              2. Behavior/outcome under full coverage of this program ranges between
              <input type="number" name="fullCoverageRangeStart" step="0.01" ng-required="true" ng-change="updateCurve($index,AdjustmentForm)" class="txbox __inline" ng-model="coParams[$index][2]" less-than="coParams[$index][3]">
              and
              <input type="number" name="fullCoverageRangeEnd" step="0.01" ng-required="true" ng-change="updateCurve($index,AdjustmentForm)" class="txbox __inline" ng-model="coParams[$index][3]" more-than="coParams[$index][2]">
              <span ng-show="AdjustmentForm.fullCoverageRangeStart.$error.lessThan || AdjustmentForm.fullCoverageRangeEnd.$error.moreThan" class="error-hint">The first parameter must be lower than the second one.</span>
            </p>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>
