<div class="page rich">

  <div class="section grid">
    <div class="6">
      <label>
        Select a program: <br>
        <select class="txbox" ng-options="p as p.name for p in programs" ng-model="activeProgram"></select>
      </label>
    </div>
  </div>

  <div class="section">
    <p>
      1. Specify the saturation coverage level:
      <input class="txbox __inline __s" ng-model="saturationCoverageLevel">
    </p>
    <p>
      2. The estimated amount of funding needed to get
      <input class="txbox __inline __s" ng-model="fundingNeededPercent">%
      coverage for this program is
      <input class="txbox __inline __s" ng-model="fundingNeededValue">
    </p>
  </div>

  <div class="section">
    <button class="btn" ng-click="generateCurves()">Generate curves</button>
  </div>


</div>
