<div class="page rich">

  <div class="section grid">
    <div class="6">
      <label>
        Select a program: <br>
        <select class="txbox" ng-options="p as p.name for p in programs" ng-model="activeProgram"></select>
      </label>
    </div>
  </div>

  <div class="section">
    <p>
      1. Specify the saturation coverage level:
      <input class="txbox __inline __s" ng-model="saturationCoverageLevel">
    </p>
    <p>
      2. The estimated amount of funding needed to get
      <input class="txbox __inline __s" ng-model="fundingNeededPercent"> %
      <br>
      minimum coverage for this program is
      <input class="txbox __inline __m" ng-model="fundingNeededMinValue">
      maximum is
      <input class="txbox __inline __m" ng-model="fundingNeededMaxValue">
    </p>
  </div>

  <div class="section">
    <button class="btn" ng-click="generateCurves()">Generate curves</button>
  </div>

  <div ng-if="apiData">
    <h1>Plotdata_cc</h1>
    <div class="chart-container">
      <div line-scatter-chart data="graphs.plotdata_cc.data" options="graphs.plotdata_cc.options" save-graph-as></div>
    </div>

    <h1>Plotdata</h1>
    <div class="chart-container" ng-repeat="graph in graphs.plotdata">
      <div line-scatter-chart data="graph.data" options="graph.options" save-graph-as></div>
    </div>
  </div>

</div>
