<div class="page rich">

  <div class="section grid">
    <div class="6">
      <label>
        Select a program: <br>
        <select 
          class="txbox" 
          ng-options="p as p.name group by p.category for p in programs" 
          ng-model="selectedProgram"></select>
      </label>
    </div>
  </div>

  <div class="section">
    <p>
      1. Specify the saturation coverage level:
      <input type="number" class="txbox __inline __s" min="0" max="100" ng-model="saturationCoverageLevel">%
    </p>
    <p>
      2. The estimated amount of funding needed to get
      <input type="number" class="txbox __inline __s" min="0" max="100" ng-model="knownCoverageLevel">%
      coverage for this program is:
      <input type="number" class="txbox __inline __l" ng-model="knownFundingValue">
    </p>
    <p>
      3. Specify the upper limit of the horizontal axis (for plotting):
      <input type="number" class="txbox __inline __l" ng-model="xAxisMaximum">
    </p>
    <p>
      4. Select units for displaying cost data:
    <div class="elastic_col __va-middle" style="padding:0px 0px 0px 20px;">
      <label>
        <input type="radio" name="displaycost" ng-model="displaycost" value="1">
        Absolute cost
      </label><br>
      <label>
        <input type="radio" name="displaycost" ng-model="displaycost" value="2">
        Cost in units of gross domestic product  in year <input class="txbox __inline __l" value="2014" placeholder="e.g. 2014" ng-model="display.year">
      </label><br>
      <label>
        <input type="radio" name="displaycost" ng-model="displaycost" value="3">
        Cost in units of government revenue in year <input class="txbox __inline __l" value="2014" placeholder="e.g. 2014" ng-model="display.year">
      </label><br>
      <label>
        <input type="radio" name="displaycost" ng-model="displaycost" value="4">
        Cost in units of total health expenditure in year <input class="txbox __inline __l" value="2014" placeholder="e.g. 2014" ng-model="display.year">
      </label><br>
      <label>
        <input type="radio" name="displaycost" ng-model="displaycost" value="5">
        Cost in units of domestic health spending in year <input class="txbox __inline __l" value="2014" placeholder="e.g. 2014" ng-model="display.year">
      </label><br>
      <label>
        <input type="radio" name="displaycost" ng-model="displaycost" value="6">
        Cost in units of government expenditure in year <input class="txbox __inline __l" value="2014" placeholder="e.g. 2014" ng-model="display.year">
      </label>
    </div>
    </p>
  </div>

  <div class="section">
    <button class="btn" ng-click="generateCurves()">Draw</button>
    <button class="btn" ng-click="saveModel()">Save model</button>
    <button class="btn" ng-click="revertModel()">Revert model</button>
    <button class="btn" ng-click="uploadDefault()" style="margin-left: 60px">Upload default cost-coverage-outcome curves</button>
  </div>

  <div class="section" ng-if="hasCostCoverResponse">

    <div class="section">
      <h1>{{ displayedProgram.name }}</h1>
      <div class="chart-container" style="width: 470px" ng-init="graph = graphs.plotdata_cc; graph.title = displayedProgram.name">>
        <div line-scatter-chart data="graph.data" options="graph.options" save-graph-as></div>
      </div>
    </div>

    <div class="section" ng-repeat="graph in graphs.plotdata">

      <h2 class="section">{{ graph.title }}</h2>

      <div class="section elastic">
        <div class="elastic_col __shrink" style="width: 320px">
          <div class="chart-container" ng-init="coGraph = graphs.plotdata_co[$index]">
            <div line-scatter-chart variant="coGraph" data="coGraph.data" options="coGraph.options" save-graph-as></div>
          </div>
        </div>

        <div class="elastic_col" style="width: 340px">
          <div class="chart-container">
            <div line-scatter-chart data="graph.data" options="graph.options" save-graph-as></div>
          </div>
        </div>

        <div class="elastic_col">
          <h3>Options to adjust curves:</h3>
          <p>
            1. Behavior/outcome without this program ranges between
            <input type="number" class="txbox __inline __s" ng-model="coParams[$index][0]">
            and
            <input type="number" class="txbox __inline __s" ng-model="coParams[$index][1]">
          </p>
          <p>
            2. Behavior/outcome under full coverage of this program ranges between
            <input type="number" class="txbox __inline __s" ng-model="coParams[$index][2]">
            and
            <input type="number" class="txbox __inline __s" ng-model="coParams[$index][3]">
          </p>
          <p>
            <button type="button" class="btn" ng-click="updateCurve($index)">Redraw</button>
          </p>
        </div>
      </div>

    </div>

  </div>

</div>
