<div class="section">
  <a href="#/help" style="text-decoration: none">Manual calibration - frequently asked questions</a>
  <!-- AS: Set link to 'manual calibration' section of help page-->
</div>

<div class="well section">

  <div class="grid">
    <div class="section cf">
      <div class="4">
        <select class="txbox">
          <option value="">prevalence</option>
          <option value="">treatment</option>
          <option value="">deaths</option>
          <option value="">trends in new infections by population group</option>
          <option value="">diagnoses</option>
        </select>
      </div>
    </div>

    <div class="section cf">
      <div class="6">
        <div class="section cf">
          <div class="6">
            <div class="chart-container">
              <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
            </div>
          </div>
          <div class="6">
            <div class="chart-container">
              <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
            </div>
          </div>
        </div>
        <div class="section cf">
          <div class="6">
            <div class="chart-container">
              <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
            </div>
          </div>
          <div class="6">
            <div class="chart-container">
              <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
            </div>
          </div>
        </div>
      </div>
      <div class="6">
        <h2>Edit parameters</h2>
        <table class="section table table-bordered">
          <tr>
            <td ng-repeat="header in json.headers"><b>{{ header }}</b></td>
          </tr>
          <tr ng-repeat="row in json.rows">
            <td style="width: 50px">{{ row.title }}</td>
            <td>
              <span ng-hide="editing" ng-click="editing = true">{{ row.value }}</span>
              <span ng-show="editing">
                <input class="txbox __inline" ng-model="row.value">
                <button class="btn" ng-click="editing = false; doneEditingParameter();">Ok</button>
              </span>
            </td>
          </tr>
        </table>

        <div class="elastic __fluid">
          <div class="elastic_col">
            <button class="btn">Save</button>
          </div>
          <div class="elastic_col">
            <button class="btn">Revert</button>
          </div>
          <div class="elastic_col">
            Current mismatch: 100% <!-- CK: "0%" needs to be dynamic -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
