<div class="page rich">
    <a href="#/help" style="text-decoration: none">Manual calibration - frequently asked questions</a> <!-- AS: Set link to 'manual calibration' section of help page-->
    <div class="page_subheader">
        <div class="elastic_col __va-middle text-right">
            <div class="elastic __fluid float-right">
                <div class="elastic_col __shrink">
                    <button class="btn">Save</button>
                </div>
                <div class="elastic_col __shrink">
                    <button class="btn">Revert</button>
                </div>
                <div class="elastic_col __shrink float-right">
                    Current mismatch: 100% <!-- CK: "0%" needs to be dynamic -->
                </div>
            </div>
        </div>
    </div>

    <div class="well">

        <div class="grid">
            <div class="section cf">
                <div class="6">
                    <h2>Prevalences, diagnoses, &amp; deaths</h2>
                    <div class="section cf">
                        <div class="6">
                            <div class="chart-container">
                                <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
                            </div>
                        </div>
                        <div class="6">
                            <div class="chart-container">
                                <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
                            </div>
                        </div>
                    </div>
                    <div class="section cf">
                        <div class="6">
                            <div class="chart-container">
                                <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
                            </div>
                        </div>
                        <div class="6">
                            <div class="chart-container">
                                <nvd3 data="linescatterdata" options="linescatteroptions"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="6">
                    <h2>Edit parameters</h2>
                    <table class="section table table-bordered">
                        <tr>
                            <td ng-repeat="header in json.headers"><b>{{ header }}</b></td>
                        </tr>
                        <tr ng-repeat="row in json.rows">
                            <td style="width: 50px">{{ row.title }}</td>
                            <td>
                              <span ng-hide="editing" ng-click="editing = true">{{ row.value }}</span>
                              <span ng-show="editing">
                                <input class="txbox __inline" ng-model="row.value">
                                <button class="btn" ng-click="editing = false; doneEditingParameter();">Ok</button>
                              </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
