<div class="page rich">

    <div class="page_subheader">
        <div class="section grid">
            <div class="2">
                <input class="txbox" type="text" placeholder="Start year" required ng-model="simulationOptions.startyear">
            </div>
            <div class="2">
                <input class="txbox" type="text" placeholder="End year" required ng-model="simulationOptions.endyear">
            </div>
            <div class="2">
                <button class="btn" ng-click="simulate()">View simulation</button>
            </div>
            </div>
        <div class="section grid">

            <label class="checkbox-inline">
                <input type="checkbox" ng-model="enableAutomaticCalibration">
                Automatic calibration
            </label>

            <label class="checkbox-inline">
                <input type="checkbox" ng-model="enableManualCalibration">
                Manual calibration
            </label>
        </div>

    </div>









    <div class="section" ng-if="enableAutomaticCalibration">
        <div class="well section">
            <div class="grid">
                <h2>Automatic calibration</h2>

                <div class="elastic_col __va-middle text-right">
                    <div class="elastic __fluid float-right">

                        <div class="elastic_col __shrink">
                            <label>
                                Maximum time limit:
                                <select class="txbox __inline" style="width: 120px">
                                    <option value="">1 minute</option>
                                    <option value="">5 minutes</option>
                                    <option value="">10 minutes</option>
                                    <option value="">30 minutes</option>
                                    <option value="">1 hour</option>
                                    <option value="">No limit</option>
                                </select>
                            </label>
                        </div>

                        <div class="elastic_col __shrink">
                            <button class="btn" style="background: #008800;">Start calibration</button>
                        </div>

                        <div class="elastic_col __shrink">
                            <button class="btn" style="background: #ff0000;">Stop calibration</button>
                        </div>
                        <div class="elastic_col __shrink">
                            <button class="btn">Save calibration</button>
                        </div>
                        <div class="elastic_col __shrink">
                            <button class="btn">Revert</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>








    <div class="section" ng-if="enableManualCalibration">
        <div class="well section">
            <div class="grid">

                <h2>Manual calibration</h2>
                <table class="section table table-bordered">
                    <thead>
                    <tr>
                        <td><b>Parameter</b></td>
                        <td><b>Value</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Force -->
                    <tr ng-repeat="population in parameters.meta.pops.short track by $index">
                        <td>{{ parameters.types.force }} {{ population }}</td>
                        <td>
                            <span ng-hide="editing" ng-click="editing = true">{{ parameters.f.force[$index] }}</span>
              <span ng-show="editing">
                <input class="txbox __inline" ng-model="parameters.f.force[$index]">
                <button class="btn" ng-click="editing = false; doneEditingParameter();">Ok</button>
              </span>
                        </td>
                    </tr>
                    <!-- Init -->
                    <tr ng-repeat="population in parameters.meta.pops.short track by $index">
                        <td>{{ parameters.types.init }} {{ population }}</td>
                        <td>
                            <span ng-hide="editing" ng-click="editing = true">{{ parameters.f.init[$index] }}</span>
              <span ng-show="editing">
                <input class="txbox __inline" ng-model="parameters.f.init[$index]">
                <button class="btn" ng-click="editing = false; doneEditingParameter();">Ok</button>
              </span>
                        </td>
                    </tr>
                    <!-- Testing Rate -->
                    <tr ng-repeat="i in [0, 1, 2, 3] track by $index">
                        <td>{{ parameters.types.dx[i] }}</td>
                        <td>
                            <span ng-hide="editing" ng-click="editing = true">{{ parameters.f.dx[i] }}</span>
              <span ng-show="editing">
                <input class="txbox __inline" ng-model="parameters.f.dx[i]">
                <button class="btn" ng-click="editing = false; doneEditingParameter();">Ok</button>
              </span>
                        </td>
                    </tr>
                    <!-- Tx1 -->
                    <tr ng-repeat="i in [0, 1, 2] track by $index">
                        <td>{{ parameters.types.tx1[i] }}</td>
                        <td>
                            <span ng-hide="editing" ng-click="editing = true">{{ parameters.f.tx1[i] }}</span>
              <span ng-show="editing">
                <input class="txbox __inline" ng-model="parameters.f.tx1[i]">
                <button class="btn" ng-click="editing = false; doneEditingParameter();">Ok</button>
              </span>
                        </td>
                    </tr>
                    <!-- Tx2 -->
                    <tr ng-repeat="i in [0, 1, 2] track by $index">
                        <td>{{ parameters.types.tx2[i] }}</td>
                        <td>
                            <span ng-hide="editing" ng-click="editing = true">{{ parameters.f.tx2[i] }}</span>
              <span ng-show="editing">
                <input class="txbox __inline" ng-model="parameters.f.tx2[i]">
                <button class="btn" ng-click="editing = false; doneEditingParameter();">Ok</button>
              </span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="elastic __fluid">
                    <div class="elastic_col">
                        <button class="btn" ng-click="saveManualCalibration()">Save calibration</button>
                    </div>
                    <div class="elastic_col">
                        <button class="btn" ng-click="revertManualCalibration()">Revert</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="well section">
        <div class="grid">
            <div class="section cf">
                <h1>Results</h1>


                <div class="3">
                    <b>Prevalence</b>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="prevoverall">
                        Overall
                    </label>
                    </div>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="prevbypop">
                        Per population
                    </label>
                    </div>
                </div>


                <div class="3">
                    <b>New infections</b>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="newinfoverall">
                        Overall
                    </label>
                    </div>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="newinfbypop">
                        Per population
                    </label>
                    </div>
                </div>

                <div class="3">
                    <b>HIV-related deaths</b>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="deathoverall">
                        Overall
                    </label>
                    </div>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="deathbypop">
                        Per population
                    </label>
                    </div>
                </div>

                <div class="3">
                    <b>Disablity-adjusted life years</b>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="dalyoverall">
                        Overall
                    </label>
                    </div>
                    <div><label class="checkbox-inline">
                        <input type="checkbox" ng-model="dalybypop">
                        Per population
                    </label>
                    </div>
                </div>
            </div>

            <div class="section grid">
                <div class="6" ng-repeat="graph in graphs">
                    <div class="chart-container">
                        <nvd3 data="graph.data" options="graph.options"></nvd3>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
