<!--<div class="grid" style="margin-left:0px">-->
  <!--<h1>Manage project &#8594; Create new project</h1>-->
<!--</div>-->

<div class="rich"  style="max-width: 900px">
  <form id="createForm" name="CreateOrEditProjectForm" ng-submit="submit()" novalidate="novalidate">

    <div class="section">
      <div class="6">
        <h1>Project details
          <help ref="create-new-project"/>
        </h1>
        <b>Project name</b>
        <input class="txbox" type="text" ng-pattern="/^[\x20-\x7E]*$/" name="ProjectName" placeholder="e.g. Example" ng-model="project.name" required>
        <div class="error-hint" ng-show="projectExists()"> Project with this name already exists, please choose a different name. </div>
        <div class="error-hint" ng-show="CreateOrEditProjectForm.project.$error.pattern"> Special characters are not allowed, please choose a different name. </div>
        <div class="error-hint" ng-show="invalidName()"> Please enter a unique name </div>
      </div>
    </div>

    <div class="section">
      <div class="3">
        <b>First year for data entry</b>
        <input class="txbox" type="number" min="1900" placeholder="e.g. 2000" ng-model="project.startYear" required>
        <div class="error-hint" ng-show="invalidDataStart()"> Please enter a first year from 1900 to 2100 </div>
      </div>
    </div>
    <div class="section">
      <div class="3">
         <b>Final year for data entry</b>
         <input class="txbox" type="number" min="1900" placeholder="e.g. 2040" ng-model="project.endYear" required>
         <div class="error-hint" ng-show="invalidDataEnd()"> Please enter a final year from 1900 to 2100, greater than the first year </div>
      </div>
    </div>

    <div class="section">
      <div class="6">
        <h1>Manage populations
          <help ref="manage-populations"/>
        </h1>
        <div class="error-hint" ng-show="invalidPopulationSelected()"> Please select at least one population. </div>

        <table class="section table table-bordered">
          <thead>
          <tr>
            <td><b>Active</b></td>
            <td><b>Name</b></td>
            <td><b>Short name</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in populations">
            <td class="text-center" style="width: 50px">
              <input type="checkbox" ng-model="row.active">
            </td>
            <td style="width: 450px">{{ row.name }}</td>
            <td style="width: 300px">{{ row.short }}</td>
            <td>
              <button type="button" class="btn" ng-click="openEditPopulationModal($event, row)">Edit</button>
            </td>
            <td>
              <button type="button" class="btn" ng-click="copyPopulationAndOpenModal($event, row)">Copy</button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="6" class="text-left">
              <button type="button" class="btn" ng-click="openAddPopulationModal($event)">Add population</button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="section">
      <button class="btn" ng-disabled="invalid()" type="submit">{{ submitButtonText }}</button>
      <help ref="create-data-spreadsheet"/>
    </div>

    <input type="hidden" id="edit_params" name="edit_params" value = "{{ editParams }}">
  </form>
</div>
