<div class="rich">

  <form id="createForm" name="CreateOrEditProjectForm" ng-submit="prepareCreateOrEditForm()" novalidate="novalidate">

    <div class="section">
      <div class="6">
          <h1>Project details</h1>

         <b>Project name</b>
        <input class="txbox" type="text" name="ProjectName" placeholder="e.g. Example" ng-model="projectParams.name" required>
        <div class="error-hint" ng-show="projectExists()"> Project with this name already exists, please choose a different name. </div>
      </div>
    </div>

    <div class="section">
      <div class="3">
          <b>First year for data entry</b>
        <input class="txbox" type="number" min="1900" placeholder="e.g. 2000" ng-model="projectParams.datastart" required>
      </div>
      <div class="3">
          <b>Final year for data entry</b>
        <input class="txbox" type="number" min="1900" placeholder="e.g. 2030" ng-model="projectParams.dataend" required>
      </div>
    </div>

    <div class="section">
      <div class="6">
        <h1>Manage populations</h1>

        <table class="section table table-bordered">
          <thead>
          <tr>
            <td><b>Active</b></td>
            <td><b>Name</b></td>
            <td><b>Short name</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in populations">
            <td class="text-center" style="width: 50px" update-checkbox-on-click>
              <input type="checkbox" ng-model="row.active">
            </td>
            <td style="width: 450px">{{ row.name }}</td>
            <td style="width: 300px">{{ row.short_name }}</td>
            <td>
              <button type="button" class="btn" ng-click="openEditPopulationModal($event, row)">Edit</button>
            </td>
            <td>
              <button type="button" class="btn" ng-click="copyPopulationAndOpenModal($event, row)">Copy</button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="6" class="text-right">
              <button type="button" class="btn" ng-click="openAddPopulationModal($event)">Add a population</button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="section">
      <button class="btn __green" type="submit">{{ submit }}</button>
    </div>

    <input type="hidden" id="edit_params" name="edit_params" value = "{{ editParams }}">
  </form>
</div>
