<div class="rich">

  <form id="createForm" name="CreateProjectForm" action="" method="post" ng-submit="prepareCreateForm()" novalidate="novalidate">

    <div class="section grid">
      <div class="6">
          <h1>Project details</h1>

         <b>Project name</b>
        <input class="txbox" type="text" placeholder="e.g. Example" ng-model="projectParams.name" required>
      </div>
    </div>

    <div class="section grid">
      <div class="3">
          <b>First year for data entry</b>
        <input class="txbox" type="number" min="1900" placeholder="e.g. 2000" ng-model="projectParams.datastart" required>
      </div>
      <div class="3">
          <b>Final year for data entry</b>
        <input class="txbox" type="number" min="1900" placeholder="e.g. 2015" ng-model="projectParams.dataend" required>
      </div>
    </div>

    <div class="section grid">
      <div class="3">
          <b>Final year for macroeconomic projection data</b>
        <input class="txbox" type="number" min="1900" placeholder="e.g. 2030" ng-model="projectParams.econ_dataend" required>
      </div>
    </div>

    <div class="section grid">
      <div class="6">
          <br>
        <h1>Manage populations</h1>

        <table class="section table table-bordered">
          <thead>
          <tr>
            <td><b>Active</b></td>
            <td><b>Name</b></td>
            <td><b>Short Name</b></td>
            <td><b>Internal Name</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in populations">
            <td class="text-center" style="width: 50px">
              <input type="checkbox" ng-model="row.active">
            </td>
            <td style="width: 300px">{{ row.name }}</td>
            <td style="width: 150px">{{ row.short_name }}</td>
            <td style="width: 150px">{{ row.internal_name }}</td>
            <td>
              <button role="button" class="btn" ng-click="openEditPopulationModal($event, row)">Edit</button>
            </td>
            <td>
              <button role="button" class="btn" ng-click="copyPopulationAndOpenModal($event, row)">Copy</button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="6" class="text-right">
              <button role="button" class="btn" ng-click="openAddPopulationModal($event)">Add a population</button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="section grid">
      <div class="6">
          <br>
        <h1>Manage programs</h1>

        <table class="section table table-bordered">
          <thead>
          <tr>
            <td><b>Active</b></td>
            <td><b>Name</b></td>
            <td><b>Short Name</b></td>
            <td><b>Internal Name</b></td>
            <td><b>Saturating</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-show="programs.length" ng-repeat="program in programs">
            <td class="text-center" style="width: 50px">
              <input type="checkbox" ng-model="program.active">
            </td>
            <td style="width: 300px">{{ program.name }}</td>
            <td style="width: 150px">{{ program.short_name }}</td>
            <td style="width: 150px">{{ program.internal_name }}</td>
            <td style="width: 150px"><input type="checkbox" ng-model="program.saturating" disabled/></td>
            <td>
              <button role="button" class="btn" ng-click="openEditProgramModal($event, program)">Edit</button>
            </td>
            <td>
              <button role="button" class="btn" ng-click="copyProgram($event, program)">Copy</button>
            </td>
          </tr>
          <tr ng-show="!programs.length">
            <td class="text-center" colspan="7">No programs set yet</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="7" class="text-right">
              <button role="button" class="btn" ng-click="openAddProgramModal($event)">Add a program</button>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>

    <div class="section text-center">
      <button class="btn" type="submit" style="background: #008800;"><b>Create project &amp; Optima template</b></button>
    </div>

    <input type="hidden" id="params" name="params" value="{{ formParams }}">
  </form>
</div>
