<div>
  <div class="modal-header">{{ isNew ? 'Create' : 'Edit'}} population</div>

  <form class="modal-body" name="PopulationForm" novalidate="novalidate" ng-submit="submit(PopulationForm)">
    <div class="section grid">
      <div class="++1 2">
        Name
      </div>
      <div class="8 1++">
        <input class="txbox __block" ng-model="population.name" required autofocus>
      </div>
    </div>

    <div class="section grid">
      <div class="++1 2" style="padding-left: 6px">
        Short name
      </div>
      <div class="5 4++">
        <input class="txbox __block" ng-model="population.short_name" required>
      </div>
    </div>


    <div class="section grid">
      <div class="++5 5 2++">
        <label>
          <input type="checkbox" ng-model="population.male">
          Male
        </label>
      </div>
      <div class="++5 5 2++">
        <label>
          <input type="checkbox" ng-model="population.female">
          Female
        </label>
      </div>
      <div class="++5 5 2++">
          <label>
              <input type="checkbox" ng-model="population.sexmen">
              Has sex with men
          </label>
      </div>
      <div class="++5 5 2++">
          <label>
              <input type="checkbox" ng-model="population.sexwomen">
              Has sex with women
          </label>
      </div>
      <div class="++5 5 2++">
        <label>
          <input type="checkbox" ng-model="population.injects">
          Injects drugs
        </label>
      </div>
        <div class="++5 5 2++">
            <label>
                <input type="checkbox" ng-model="population.sexworker">
                Commercial sex provider
            </label>
        </div>
        <div class="++5 5 2++">
            <label>
                <input type="checkbox" ng-model="population.client">
                Commercial sex client
            </label>
        </div>
    </div>

    <div class="section text-center">
      <button type="button" class="btn __white" ng-click="$dismiss('Closed')">Dismiss</button>
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
</div>
