<div>
  <div class="modal-header">{{ isNew ? 'Create' : 'Edit'}} population</div>

  <form class="modal-body" name="PopulationForm" novalidate="novalidate" ng-submit="submit(PopulationForm)">
    <div class="section grid">
      <div class="++1 2">
        Name
      </div>
      <div class="8 1++">
        <input class="txbox __block" ng-model="population.name" required autofocus>
      </div>
    </div>

    <div class="section grid">
      <div class="++1 2">
        Short name
      </div>
      <div class="5 4++">
        <input class="txbox __block" ng-model="population.short_name" required>
      </div>
    </div>


    <div class="section grid">
      <div class="row">
        <div class="cols-2">Age from</div>
        <div class="cols-2">Age to</div>
      </div>
      <div class="row">
        <div class="cols-2"><input class="txbox __block" type="text" ng-model="population.age_from" required></div>
        <div class="cols-2"><input class="txbox __block" type="text" ng-model="population.age_to" required></div>
      </div>
    </div>

    <div class="section text-center">
      <button type="button" class="btn __white" ng-click="$dismiss('Closed')">Dismiss</button>
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
</div>
