<div class="grid" style="margin: 0;">
  <h1>Manage project &#8594; Add economic data</h1>
</div>

<div class="rich">
    <div class="section">
    </div>
    <div class="section">
      <div class="row">
        <div class="cols-16">
          <input type="button" class="btn" value="Create economic data template" ng-click="economicData('create')" style="margin:0 1% 1% 0" ng-disabled="missingData">
          <input type="button" class="btn" value="Upload economic data template" ng-click="economicData('upload')" style="margin:0 1% 1% 0" ng-disabled="missingData">
          <input type="button" class="btn" value="Remove economic data template" ng-click="economicData('remove')" style="margin:0 1% 1% 0" ng-disabled="!hasEconData || missingData">
        </div>
      </div>
    </div>
</div>

<script type="text/ng-template" id="economicDataUpload.html">
<div class="modal-header">
    <a class="modal-close" ng-click="$dismiss('cancel')">×</a>
    <span class="modal-title">Upload economic data template</span>
</div>
<div class="modal-body">
  <div class="section">
    <form id="uploadForm" name="UploadEconomicDataForm" method="post" ng-submit="UploadEconomicData()" novalidate="novalidate">
      <div class="row">
          <div class="cols-16">
          <label><b>File</b></label>
          <input type="file" accept=".xlsx" name="EconomicDataFile" ng-model="dummyFilesModel" file-required ng-file-select="onFileSelect($files)" required>
          </div>
      </div>

      <div class="row">
        <div class="cols-16">
        <br><button class="btn __green" type="submit" ng-disabled="UploadEconomicDataForm.$invalid">Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
