<div class="rich">
  <div class="section" ng-show="projects.length">

    <div style="display: flex;margin-left: 70%;">
      <button ng-click="deleteSelected()" type="button" class="btn" style="margin-left:2%">Delete Selected</button>
      <button ng-click="downloadSelected()" type="button" class="btn" style="margin-left:2%">Download Selected</button>
    </div>

    <h1>Available projects:</h1>

    <input type="text"
           class="txbox"
           style="margin-bottom: 20px"
           placeholder="&#x1f50e; Filter Projects" ng-model="searchTerm">

    <table class="table table-bordered table-hover table-striped" style="width: auto">
      <thead>
      <tr>
        <th>
          <input type="checkbox" ng-click="selectAll()" ng-model="allSelected"/>
        </th>
        <th ng-click="updateSorting('name')" class="sortable">
          Name
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType != 'name'" class="fa fa-caret-up" style="visibility: hidden"></span>
        </th>
        <th ng-click="updateSorting('populations.length')" class="sortable">
          Populations
          <span ng-show="sortType == 'populations.length' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'populations.length' && sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType != 'populations.length'" class="fa fa-caret-up" style="visibility: hidden"></span>
        </th>
        <th ng-click="updateSorting('programs.length')" class="sortable">
          Programs
          <span ng-show="sortType == 'programs.length' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'programs.length' && sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType != 'programs.length'" class="fa fa-caret-up" style="visibility: hidden"></span>
        </th>
        <th ng-click="updateSorting('creation_time')" class="sortable">
          Created on
          <span ng-show="sortType == 'creation_time' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'creation_time' && sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType != 'creation_time'" class="fa fa-caret-up" style="visibility: hidden"></span>
        </th>
        <th ng-click="updateSorting('updated_time')" class="sortable">
          Updated on
          <span ng-show="sortType == 'updated_time' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'updated_time' && sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType != 'updated_time'" class="fa fa-caret-up" style="visibility: hidden"></span>
        </th>
        <th colspan="7">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="project in projects | orderBy:sortType:sortReverse | filter:filterByName">
        <td>
          <input type="checkbox" ng-checked="project.selected" ng-model="projectSelected[$index]"/>
        </td>
        <td>
          {{ ::project.name }}
        </td>
        <td>
          {{ ::project.populations.length }}
        </td>
        <td>
          {{ ::project.programs.length }}
        </td>
        <td>
          {{ ::project.creation_time| date:'yyyy-MM-dd HH:mm:ss'}}
        </td>
        <td>
          {{ ::project.updated_time ? (project.updated_time | date:'yyyy-MM-dd HH:mm:ss') : 'No modification'}}
        </td>
        <td>
          <button class="btn __green" ng-click="open(project.name, project.id)">Open project</button>
        </td>
        <td>
          <button class="btn" ng-click="copy(project.name, project.id)">Copy project</button>
        </td>
        <td>
          <button class="btn" ng-click="edit(project.name, project.id)">Edit project</button>
        </td>
        <td>
          <button class="btn __red" ng-click="remove($event, project.name, project.id, $index)">Delete project</button>
        </td>
        <td>
          <button class="btn" ng-click="getData(project.name, project.id)">Download project</button>
        </td>
        <td>
          <button class="btn" ng-click="preSetData(project.name, project.id)">Upload project</button>
        </td>
        <td>
          <button class="btn" ng-click="workbook(project.name, project.id)">Download data entry spreadsheet</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div ng-hide="projects.length">
    <h3>No projects found</h3>

    There are no projects found. Please <a ui-sref="project.create({})">create a project</a> first.
  </div>
</div>
