<div class="rich">
  <div class="section" ng-show="projects.length">
    <h3>Available projects:</h3>

    <table class="table table-bordered table-hover table-striped" style="width: auto">
      <thead>
      <th>Name</th>
      <th>Populations</th>
      <th>Programs</th>
      <th>Data start year</th>
      <th>Data end year</th>
      <th>Project created on</th>
      <th>Data uploaded on</th>
      <th colspan="7">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="project in projects | orderBy: 'name'">
        <td>
          {{ project.name }}
        </td>
        <td>
          {{ project.populations.length }}
        </td>
        <td>
          {{ project.programs.length }}
        </td>
        <td>
          {{ project.dataStart }}
        </td>
        <td>
          {{ project.dataEnd }}
        </td>
        <td>
            {{ project.creation_time| date:'yyyy-MM-dd HH:mm:ss'}}
        </td>
        <td>
            {{ project.data_upload_time ? (project.data_upload_time | date:'yyyy-MM-dd HH:mm:ss') : 'No data uploaded'}}
        </td>
        <td>
          <button class="btn __green" ng-click="open(project.name)">Open project</button>
        </td>
        <td>
          <button class="btn" ng-click="copy(project.name)">Copy project</button>
        </td>
        <td>
          <button class="btn" ng-click="edit(project.name)">Edit project</button>
        </td>
        <td>
		      <button class="btn __red" ng-click="remove($event, project.name, $index)">Delete project</button>
        </td>
        <td>
          <button class="btn" ng-click="getData(project.name)">Download project</button>
        </td>
        <td>
          <button class="btn" ng-click="preSetData(project.name)">Upload project</button>
        </td>
        <td>
          <button class="btn" ng-click="workbook(project.name)">Download data entry spreadsheet</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div ng-hide="projects.length">
    <h3>No projects found</h3>

    There are no projects found. Please <a ui-sref="project.create({})">create a project</a> first.
  </div>
</div>
