<div class="grid">
  <h1>Manage project &#8594; Upload new project</h1>
</div>

<div class="rich">

  <form id="createForm" name="UploadProjectForm" method="post" ng-submit="uploadProject()" novalidate="novalidate">

    <div class="section grid">
      <div class="4 8++">
        <label><b>Project name</b></label>
        <input class="txbox" type="text" name="ProjectName" placeholder="e.g. Example" ng-model="projectParams.name" required>
        <div class="error-hint" ng-show="projectExists()"> Project with this name already exists, please choose a different name. </div>
      </div>
    </div>

    <div class="section grid">
      <div class="4 8++">
        <label><b>Project File</b></label>
        <input type="file" accept=".prj" name="ProjectFile" ng-model="dummyFilesModel" file-required ng-file-select="onFileSelect($files)">
      </div>
    </div>

    <div class="section">
      <button class="btn __green" type="submit">Upload Project</button>
    </div>

  </form>
</div>
