<div>
  <div class="modal-header">
    <a class="modal-close" ng-click="$dismiss('cancel')">&times;</a>
    <h4 class="modal-title">{{ state.isNew ? 'Create' : 'Edit'}} program</h4>
  </div>
  <form class="modal-body" name="programForm" novalidate="novalidate" ng-submit="submit(programForm)">
    <div class="section grid">
      <div class="++1 2">
        Name
      </div>
      <div class="8 1++">
        <input class="txbox __block" ng-model="state.program.name" required autofocus name="programName">
        <div class="error-hint" ng-show="isUniqueName(state.program.name, programForm)"> A program set with this name already exists, please choose a different one. </div>
      </div>
    </div>
    <div class="section grid">
      <div class="++1 2" style="padding-left: 6px">
        Short name
      </div>
      <div class="5 4++">
        <input class="txbox __block" ng-model="state.program.short_name" required>
      </div>
    </div>
    <div class="section grid">
      <div class="++1 2" style="padding-left: 6px">
        Category
      </div>
      <div class="5 1++">
        <select class="txbox"
                ng-model="state.program.category"
                ng-options="category for category in state.categories"></select>
      </div>
    </div>
    <div ng-if="(state.program.populations && state.program.populations.length > 0) || (state.program.parameters && state.program.parameters.length > 0)">
      <div class="section grid">
        <h3>
          Populations
        </h3>
        <div class="section_dashed_border">
          <div>
            <span class="option">
              <input type="checkbox" ng-click="selectAllPopulations()" ng-model="state.selectAll">
              <span>All populations</span>
            </span>
            <span ng-repeat="population in state.populations" class="option">
              <input type="checkbox" ng-model="population.active" ng-click="setSelectAll(population.active)"/>
              <span>{{population.name}}</span>
            </span>
          </div>
          <div>
            <span class="option">
              <span>Eligibility</span>
            </span>
            <span class="section-flex-spaced">
              <span><input type="checkbox" ng-model="state.eligibility.allstates" ng-click="setEligibility('allstates')"/><span>Everyone</span></span>
              <span>OR</span>
              <span><input type="checkbox" ng-model="state.eligibility.acute" ng-click="setEligibility('acute')"/><span>Acute infections</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt500" ng-click="setEligibility('gt500')"/><span>CD4>500</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt350" ng-click="setEligibility('gt350')"/><span>CD4 350-500</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt200" ng-click="setEligibility('gt200')"/><span>CD4 200-350</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt50" ng-click="setEligibility('gt50')"/><span>CD4 50-200</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.aids" ng-click="setEligibility('aids')"/><span>CD4 <50</span></span>
            </span>
            <span class="section-flex-spaced">
              <span><input type="checkbox" ng-click="state.program.criteria.pregnant = false" ng-model="state.eligibility.pregnantFalse"/><span>Everyone</span></span>
              <span>OR</span>
              <span><input type="checkbox" ng-click="state.eligibility.pregnantFalse = false" ng-model="state.program.criteria.pregnant"/><span>Pregnant and breastfeeding mothers</span></span>
            </span>
          </div>
        </div>
      </div>
      <div class="section grid">
        <h3>
          Parameters in model influenced by this program
        </h3>
      </div>
      <div ng-repeat="entry in state.program.parameters">
        <div class="section well" style="margin: 10px 0">
          <button type="button"
                  class="btn __white"
                  style="float: right; text-align: right; margin-top: 10px"
                  ng-click="removeParameter($index)">Remove</button>
          <div class="section grid">
            <div class="++1 10 1++">
              <label>
                <input type="checkbox" ng-model="entry.active">
                Active
              </label>
            </div>

            <div class="section grid">
              <div class="++1 10 1++">
                Parameters
              </div>
              <select class="txbox" ng-model="entry.parameterObj" ng-options="param.name for param in state.parameters" ng-change="addPopulations(entry)">
              </select>
            </div>
          </div>
          <div class="section grid" ng-if="entry.parameterObj.pships.length === 0 && entry.populations && entry.populations.length > 0">
            <h3>
              Populations
            </h3>
            <div>
            <div class="section_dashed_border">
              <span class="option">
                <input type="checkbox" ng-click="addRemoveAllPopToParameter(entry)" ng-model="entry.selectAll">
                <span>All populations</span>
              </span>
              <span ng-repeat="population in entry.populations" class="option">
                <input type="checkbox" ng-model="population.added" ng-click="setParameterSelectAll(entry, entry.populations)"/>
                <span>{{population.name}}</span>
              </span>
              </div>
            </div>
          </div>
          <div class="section grid" ng-if="entry.parameterObj.pships.length > 0">
            <h3>
              Partnerships
            </h3>
            <div class="section_dashed_border" ng-if="entry.parameterObj.pships.length > 0">
              <span class="option">
                <input type="checkbox" ng-click="addRemoveAllPshipsToParameter(entry)" ng-model="entry.selectAll">
                <span>All partnerships</span>
              </span>
              <span ng-repeat="pship in entry.parameterObj.pships" class="option">
                <input type="checkbox" ng-model="pship.added" ng-click="setParameterSelectAll(entry, entry.parameterObj.pships)"/>
                <span>{{pship[0] + '/' + pship[1]}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="section grid">
        <h3>
          Add data
        </h3>
        <div class="section_dashed_border">
          <div class="vertical_list">
            <div class="column">
              <div class="data">Year</div>
              <div class="data">Spending</div>
              <div class="data">Coverage</div>
              <div class="data">Delete</div>
            </div>
            <div class="column" ng-repeat="data in state.program.addData">
              <div class="data numeric">{{data.year}}</div>
              <div class="data numeric">{{data.spending}}</div>
              <div class="data numeric">{{data.coverage}}</div>
              <div class="data numeric" style="margin-right: 15px"><i class="fa fa-trash-o" ng-click="deleteAddData(data)"></i></div>
            </div>
            <div class="column" ng-if="state.showAddData">
              <div class="data"><input ng-model="state.newAddData.year"/></div>
              <div class="data"><input ng-model="state.newAddData.spending"/></div>
              <div class="data"><input ng-model="state.newAddData.coverage"/></div>
              <div class="data" style="display: flex;justify-content: center">
                <i class="fa fa-check" ng-click="addAddData()"></i>
                <i class="fa fa-times" style="margin-left: 15px" ng-click="state.newAddData = {};state.showAddData = false"></i>
              </div>
            </div>
            <div class="column">
              <button type="button" class="btn __m" ng-click="state.showAddData = true" style="margin-left: 15px">Add</button>
            </div>
          </div>
      </div>

    </div>
    <div class="section text-center">
      <button type="button" class="btn" ng-click="addParameter()">Add parameter</button>
    </div>

    <div class="section text-center" style="margin-top: 20px">
      <button type="button" class="btn __white" ng-click="state.showAddData = false;$dismiss('Closed')">Dismiss</button>
      <button type="submit" class="btn" ng-disabled="programForm.$invalid">Save</button>
    </div>
  </form>
</div>
