<div class="grid">
  <h2>Manage program set</h2>
  <div ng-if="!missingData">
    <div class="3">
      <label for="programSet-selection">Select a saved program set:</label>
    </div>
    <div style="display: flex;justify-content: flex-start;">
      <select id="programSet-selection" name="programSet-selection" class="txbox"
              ng-model="activeProgramSet"
              ng-change="setActiveProgramSet(activeProgramSet)"
              ng-options="res.name for res in programSetList"
              style="width: 20%;">
      </select>
      <button ng-click="addProgramSet()" type="button" class="btn" style="margin-left:2%">New program set</button>
      <button ng-click="editProgramSet()" type="button" class="btn" style="margin-left:2%">Edit program set</button>
      <button ng-click="deleteProgramSet()" type="button" class="btn" style="margin-left:2%">Delete program set</button>
      <button ng-click="copyProgramSet()" type="button" class="btn" style="margin-left:2%">Copy program set</button>
    </div>
    <div class="6" ng-if="programs && programs.length > 0">
      <h3>Manage programs</h3>

      <div class="section" ng-repeat="category in categories">
        <table class="section table table-bordered">
          <tr>
            <td colspan="5"><b>{{category.category}}</b></td>
          </tr>
          <tr>
            <td><b>Active</b></td>
            <td><b>Name</b></td>
            <td><b>Short name</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr ng-show="programs.length" ng-repeat="program in programs" ng-if="program.category==category.category">
            <td class="text-center" style="width: 50px" update-checkbox-on-click>
              <input type="checkbox" ng-model="program.active">
            </td>
            <td style="width: 450px">{{ program.name }}</td>
            <td style="width: 300px">{{ program.short_name }}</td>
            <td>
              <button type="button" class="btn" ng-click="openEditProgramModal($event, program)">Edit</button>
            </td>
            <td>
              <button type="button" class="btn" ng-click="copyProgram($event, program)">Copy</button>
            </td>
          </tr>
          <tr ng-show="!programs.length">
            <td class="text-center" colspan="5">No programs set yet</td>
          </tr>
        </table>
        </td>
      </div>
      <button type="button" class="btn" ng-click="openAddProgramModal($event)">Add a program</button>
    </div>
    <div class="section" style="margin-top: 20px">
      <button class="btn __green" type="submit" ng-click="saveProgramSet()" ng-disabled="!activeProgramSet">Save program set</button>
    </div>
  </div>
</div>
