<div>
  <div class="modal-header">
    <a class="modal-close" ng-click="$dismiss('cancel')">&times;</a>
    <h4 class="modal-title">{{ state.isNew ? 'Create' : 'Edit'}} program</h4>
  </div>

  <form class="modal-body" name="programForm" novalidate="novalidate" ng-submit="submit(programForm)">
    <div class="section grid">
      <div class="++1 2">
        Name
      </div>
      <div class="8 1++">
        <input class="txbox __block" ng-model="state.program.name" required autofocus name="programName">
        <div class="error-hint" ng-show="isUniqueName(state.program.name, programForm)"> A program set with this name already exists, please choose a different one. </div>
      </div>
    </div>

    <div class="section grid">
      <div class="++1 2" style="padding-left: 6px">
        Short name
      </div>
      <div class="5 4++">
        <input class="txbox __block" ng-model="state.program.short_name" required>
      </div>
    </div>

    <div class="section grid">
      <div class="++1 2" style="padding-left: 6px">
        Category
      </div>
      <div class="5 1++">
        <select class="txbox"
                ng-model="state.program.category"
                ng-options="category for category in state.categories"></select>
      </div>
    </div>

    <div ng-if="(state.program.populations && state.program.populations.length > 0) || (state.program.parameters && state.program.parameters.length > 0)">
      <div class="section grid">
        <h3>
          Populations
        </h3>
        <div class="section_dashed_border">
          <div>
            <span class="option">
              <input type="checkbox" ng-click="selectAllPopulations()" ng-model="state.selectAll">
              <span>All populations</span>
            </span>
            <span ng-repeat="population in state.populations" class="option">
              <input type="checkbox" ng-model="population.active" ng-click="setSelectAll(population.active)"/>
              <span>{{population.name}}</span>
            </span>
          </div>
          <div>
            <span class="option">
              <span>Eligibility</span>
            </span>
            <span class="section-flex-spaced">
              <span><input type="checkbox" ng-model="state.eligibility.allstates" ng-click="setEligibility('allstates')"/><span>Everyone</span></span>
              <span>OR</span>
              <span><input type="checkbox" ng-model="state.eligibility.acute" ng-click="setEligibility('acute')"/><span>Acute infections</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt500" ng-click="setEligibility('gt500')"/><span>CD4>500</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt350" ng-click="setEligibility('gt350')"/><span>CD4 350-500</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt200" ng-click="setEligibility('gt200')"/><span>CD4 200-350</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.gt50" ng-click="setEligibility('gt50')"/><span>CD4 50-200</span></span>
              <span><input type="checkbox" ng-model="state.eligibility.aids" ng-click="setEligibility('aids')"/><span>CD4 <50</span></span>
            </span>
            <span class="section-flex-spaced">
              <span><input type="checkbox" ng-click="state.program.criteria.pregnant = false" ng-model="state.eligibility.pregnantFalse"/><span>Everyone</span></span>
              <span>OR</span>
              <span><input type="checkbox" ng-click="state.eligibility.pregnantFalse = false" ng-model="state.program.criteria.pregnant"/><span>Pregnant and breastfeeding mothers</span></span>
            </span>
          </div>
        </div>
      </div>

      <div class="section grid">
        <h3>
          Parameters in model influenced by this program
        </h3>

      <div class="section_dashed_border">
        <div ng-repeat="entry in state.program.parameters">

          <div class="section well" style="margin: 10px 0">

            <button type="button"
                    class="btn __white"
                    style="float: right; text-align: right; margin-top: 10px"
                    ng-click="removeParameter($index)">Remove</button>

            <div class="section grid">
              <div class="++1 10 1++">
                <label>
                  <input type="checkbox" ng-model="entry.active">
                  Active
                </label>
              </div>
            </div>

            <div class="section grid">
              <div class="++1 10 1++">
                Parameters
              </div>
              <div class="++1 10 1++">
                <select class="txbox" ng-model="entry.parameterObj" ng-options="param.name for param in state.parameters"></select>
              </div>
            </div>

            <div class="section grid">
              <h3>
                Populations
              </h3>
              <div class="section_dashed_border">
                <span class="option">
                  <input type="checkbox" ng-click="selectAllEntryPopulations(entry)" ng-model="entry.selectAll">
                  <span>All populations</span>
                </span>
                <span ng-repeat="population in entry.pops" class="option">
                  <input type="checkbox" ng-model="population.active" />
                  <span>{{population.name}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>

      <div class="section grid">
        <h3>
          Add data
        </h3>
        <div class="section_dashed_border">
          <div>
            <span class="option">
              <input type="checkbox" ng-click="selectAllPopulations()" ng-model="state.selectAll">
              <span>All populations</span>
            </span>
            <span ng-repeat="population in state.populations" class="option">
              <input type="checkbox" ng-model="population.active" ng-click="setSelectAll(population.active)"/>
              <span>{{population.name}}</span>
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="section text-center">
      <button type="button" class="btn" ng-click="addParameter()">Add parameter</button>
    </div>


    <div class="section text-center">
      <button type="button" class="btn __white" ng-click="$dismiss('Closed')">Dismiss</button>
      <button type="submit" class="btn" ng-disabled="programForm.$invalid">Save</button>
    </div>
  </form>
</div>
