<div class="page rich c-cost-coverage">

  <div class="grid" style="margin:0">
    <h1>Define cost and outcome functions </h1>
  </div>

  <div style="display: flex">

      <span style="margin-right: 20px">
        <label>
          Select a program set: <br>
          <select
            class="txbox"
            ng-options="progset as progset.name for progset in vm.progsets"
            ng-change="vm.changeProgsetAndParset()"
            ng-model="vm.selectedProgset">
          </select>
        </label>
      </span>

      <span>
        <label>
          Select a parameter set: <br>
          <select
            class="txbox"
            ng-options="parset as parset.name for parset in vm.parsets"
            ng-change="vm.changeProgsetAndParset()"
            ng-model="vm.selectedParset">
          </select>
        </label>
      </span>

  </div>

  <div ng-if="vm.selectedProgset && vm.selectedParset">

    <div style="
            padding: 40px 0 0px;
            border-bottom: 1px solid gray;
            display: flex;">

      <span
        class="small_bordered_section" ng-repeat="tab in vm.tabs"
        ng-class="{yellowBg: vm.activeTab === tab.slug}"
        ng-click="vm.selectTab(tab.slug)">{{tab.name}}</span>
      </div>

      <!-- Cost functions tab -->
      <div ng-if="vm.activeTab === 'cost'"
           ng-include="'js/modules/programs/cost-coverage/cost/cost.html'">
      </div>

      <!-- Outcome functions tab -->
      <div class="c-tab" ng-if="vm.activeTab === 'outcome'">

        <div style="margin: 40px 0 50px 0;">
          <span style="display: inline; margin-right: 0.5em;">
            Program outcomes for the parameter
          </span>
          <select
            class="txbox c-select__input"
            style="display: inline; width: 25em;"
            ng-options="parameter.name for parameter in vm.parameters"
            ng-change="vm.changeParameter()"
            ng-model="vm.selectedParameter">
          </select>
        </div>

        <div ng-repeat="outcome in vm.selectedOutcomes">

          <style>
            .mytable th, .mytable td {
              padding: 10px;
              vertical-align: top;
            }
          </style>

          <table
              class="mytable"
              ng-repeat="yearEntry in outcome.years"
              cellpadding="10px"
              style="
                  width: 100%;
                  border-top: 1px solid #999;
                  border-bottom: 1px solid #999;
                  border-spacing: 10px;">
            <tr style="border-bottom: 1px solid #DDD">
              <th>
                Population /
                <br>
                Partnerships
              </th>
              <th>Year</th>
              <th>Description of program impact</th>
              <th>
                Parameter Value
                <br>
                ({{vm.selectedParameter.limits[0]}}
                -
                {{vm.selectedParameter.limits[1]}})
              </th>
            </tr>

            <tr>
              <td>{{vm.makePopKeyLabel(outcome.pop)}}</td>
              <td>{{yearEntry.year}}</td>
              <td>
                "{{vm.selectedParameter.name}}"
                in the absence of any programs targeting this parameter
                <br>
                <br>
                <b>Program Effects</b>
              </td>
              <td style="width:12em">
                <input
                  style="width:4em"
                  type="number"
                  ng-model="yearEntry.intercept_lower">
                -
                <input
                  style="width:4em"
                  type="number"
                  ng-model="yearEntry.intercept_upper">
              </td>
            </tr>

            <tr ng-repeat="program in yearEntry.programs">
              <td></td>
              <td></td>
              <td>
                "{{vm.selectedParameter.name}}"
                under maximal attainable coverage of
                "{{vm.getProgramName(program.name)}}"
              </td>
              <td style="width:12em">
                <input
                  style="width:4em"
                  type="number"
                  ng-model="program.intercept_lower">
                -
                <input
                  style="width:4em"
                  type="number"
                  ng-model="program.intercept_upper">
              </td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td>
                <b>Program interactions</b>:
                &nbsp; &nbsp;
                <input
                    type="radio"
                    ng-model="outcome.interact"
                    value="random">
                <label> random </label> &nbsp; &nbsp;
                <input
                    type="radio"
                    ng-model="outcome.interact"
                    ng-value="nested">
                <label> nested </label> &nbsp; &nbsp;
                <input
                    type="radio"
                    ng-model="outcome.interact"
                    value="additive">
                <label> additive </label>
                <br>
                <br>
              </td>
              <td></td>
            </tr>

          </table>

        </div>

      </div>
  </div>
</div>
