<div>
    <div class="modal-header">{{ isNew ? 'Create' : 'Edit'}} a scenario</div>

    <form class="modal-body" name="scenarioForm" novalidate="novalidate" ng-submit="submit(scenarioForm)">
        <div class="section grid">
            <div class="++2 3">
                Name
            </div>
            <div class="5 2++">
                <input class="txbox __block" ng-model="scenario.name" required autofocus>
            </div>
        </div>

        <div ng-repeat="parsEntry in scenario.pars">

          {{ parsEntry.keys }}

          <div class="section grid">
            <div class="++2 3">
              Population
            </div>
            <div class="5 2++">
              <input class="txbox" type="number" min="0" placeholder="e.g. 1" ng-model="parsEntry.pop">
            </div>
          </div>

          <div class="section grid">
              <div class="6">
                  <span>Start year of scenario</span>
                  <input class="txbox" type="number" min="1900" placeholder="e.g. 2000" ng-model="parsEntry.startyear">
              </div>
              <div class="6">
                  <span>Final year of scenario (optional)</span>
                  <input class="txbox" type="number" min="1900" placeholder="e.g. 2020" ng-model="parsEntry.endyear">
              </div>
          </div>

          <div class="section grid">
              <div class="6">
                  <span>Value at start of scenario</span>
                  <input class="txbox" type="number" placeholder="e.g. 0.55" ng-model="parsEntry.startval">
              </div>
              <div class="6">
                  <span>Value at end of scenario</span>
                  <input class="txbox" type="number" placeholder="e.g. 0.95" ng-model="parsEntry.endval">
              </div>
          </div>

          <hr>
        </div>

        <button type="button" class="btn" ng-click="addParameter()">Add Parameter</button>


        <div class="section text-center">
            <button type="button" class="btn __white" ng-click="$dismiss('Closed')">Dismiss</button>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>
