<div>
    <div class="modal-header">{{ isNew ? 'Create' : 'Edit'}} a scenario</div>

    <form class="modal-body" name="scenarioForm" novalidate="novalidate" ng-submit="submit(scenarioForm)">
        <div class="section grid">
            <div class="++2 3">
                Name
            </div>
            <div class="5 2++">
                <input class="txbox __block" ng-model="scenario.name" required autofocus>
            </div>
        </div>

        <div class="section grid">
            <div class="++2 3">
                Parameter to modify
            </div>
            <div class="5 2++">
                <select class="txbox" ng-model="scenario.sex">
                    <option value="male">FSW commercial condom use</option>
                    <option value="female">Needle-syringe receptive sharing rate</option>
                    <option value="other">Number of people on first-line ART</option>
                </select>
            </div>
        </div>

        <div class="section grid">
            <div class="6">
                <b>Start year of scenario</b>
                <input class="txbox" type="number" min="1900" placeholder="e.g. 2000" ng-model="scenario.startyear">
            </div>
            <div class="6">
                <b>Final year of scenario (optional)</b>
                <input class="txbox" type="number" min="1900" placeholder="e.g. 2020" ng-model="scenario.endyear">
            </div>
        </div>

        <div class="section grid">
            <div class="6">
                <b>Value at start of scenario</b>
                <input class="txbox" type="number" placeholder="e.g. 0.55" ng-model="scenario.startval">
            </div>
            <div class="6">
                <b>Value at end of scenario</b>
                <input class="txbox" type="number" placeholder="e.g. 0.95" ng-model="scenario.endval">
            </div>
        </div>

        <div class="section text-center">
            <button type="button" class="btn __white" ng-click="$dismiss('Closed')">Dismiss</button>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>
