<div class="grid" style="margin: 0 -25px;">
  <h1>Analyses &#8594; Optimization</h1>
</div>

<div class="rich" style="margin: 0 -25px;" ng-if="!missingData">
  <div class="3">
    <label for="optimization-selection">Select an optimization:</label>
  </div>
  <div style="display: flex;justify-content: flex-start;">
    <select id="optimization-selection"
            name="optimization-selection"
            class="updateGraph txbox"
            ng-model="state.activeOptimization"
            ng-options="optimization.name for optimization in state.optimizations"
            style="width: 20%;">
    </select>
    <button ng-click="addOptimization()" type="button" class="btn" style="margin-left:2%">New optimization</button>
    <button ng-click="copyOptimization()" type="button" class="btn" style="margin-left:2%">Copy optimization</button>
    <button ng-click="renameOptimization()" type="button" class="btn" style="margin-left:2%">Rename optimization</button>
    <button ng-click="downloadOptimization()" type="button" class="btn" style="margin-left:2%">Download optimization</button>
    <button ng-click="uploadOptimization()" type="button" class="btn" style="margin-left:2%">Upload optimization</button>
    <button ng-click="deleteOptimization()" type="button" class="btn" style="margin-left:2%">Delete optimization</button>
  </div>

  <div style="display: flex;margin-top: 20px;justify-content: space-between;height: 62vh">  <!-- CK: maybe a more robust solution than 70vh -->
    <div class="small_bordered_list" style="width: 30%;">
      <div class="option_list" style="height:62vh">
        <label>
          <div class="label">Program set</div>
          <select class="txbox"
                  style="width: 60%;"
                  ng-options="program as program.name for program in state.programSetList"
                  ng-model="state.activeOptimization.programSet">
            <option value="">-- Please select a program set --</option>
          </select>
        </label>
        <label>
          <div class="label">Parameter set</div>
          <select class="txbox"
                  style="width: 60%;"
                  ng-options="parset as parset.name for parset in state.parsets"
                  ng-model="state.activeOptimization.parset">
            <option value="">-- Please select a parameter set --</option>
          </select>
        </label>
        <div>
          <div class="label">Type</div>
          <div>
            <span style="width: 45%">
              <input
                type="radio"
                name="objectives_which"
                ng-click="setType('outcome')"
                ng-checked="state.activeOptimization.optimization_type==='outcome'"/>
              Minimize outcome
            </span>
            <span style="width: 45%">
              <input
                type="radio"
                name="objectives_which"
                ng-click="setType('money')"
                ng-checked="state.activeOptimization.optimization_type==='money'"/>
              Minimize money
            </span>
          </div>
        </div>
        <div ng-if="state.activeOptimization.objectives">
          <div class="label">Objectives</div>
          <div style="justify-content: space-around" class="option" ng-repeat="objective in state.activeOptimization.objectives">
            <span style="width: 70%">{{objective.label}}</span>
            <span style="width: 25%">
              <input class="txbox __inline __m" type="number" ng-model="objective.value"/>
            </span>
          </div>
        </div>
        <div ng-if="state.activeOptimization.constraints">
          <div class="label">Constraints</div>
          <div style="justify-content: space-around; font-weight: bold" class="option">
            <span style="width: 60%">Program Name</span>
            <span style="width: 20%">Minimum</span>
            <span style="width: 20%">Maximum</span>
          </div>
        </div>
        <div style="justify-content: space-around" class="option" ng-repeat="constraint in state.activeOptimization.constraints">
          <span style="width: 60%">{{ constraint.label }}</span>
          <span style="width: 20%">
            <input class="txbox __inline __m" type="number" ng-model="constraint.min"/>
          </span>
          <span style="width: 20%">
            <input class="txbox __inline __m" type="number" ng-model="constraint.max"/>
          </span>
        </div>
      </div>
      <div style="display: flex;justify-content: space-around; margin-top: 25px">
        <input type="button" value="Run" class="updateGraph btn" ng-click="processGraphs()"/> <!-- WARNING, automatically saves! -->
        <input type="button" value="Save" class="updateGraph btn" ng-click="saveOptimization()"/>
        <!-- input type="button" value="Reset" class="btn" ng-click="resetParameters()" Commented out at CK's request /-->
      </div>
    </div>
    <div class="chart_wrapper">
      <div ng-repeat="chart in optimizationChart" class="chart-container __small">
        <div mpld3-chart="chart" id="{{ chart.id }}"></div>
        <chart-toolbar chart-type="mpld3" mpld3-chart-data="chart" chart-id="{{ chart.id }}"></chart-toolbar>
      </div>
    </div>
    <div class="small_bordered_list" style="width: 18%;" ng-if="selectors.length > 0">
      <div class="option_list" style="height:62vh">
        <div ng-repeat="selector in selectors" class="option">
          <span><input type="checkbox" ng-model="selector.checked"/></span>
          <span style="margin-left: 10px">{{selector.name}}</span>
        </div>
      </div>
      <div style="display: flex;justify-content: center; margin-top: 25px">
        <input type="button" value="Update" class="updateGraph btn" ng-click="processGraphs()"/>
      </div>
    </div>
  </div>
</div>
