<form name="optimizationForm" ng-submit="updateOptimization()" >
  <div class="modal-header">
    <a class="modal-close" ng-click="$dismiss('cancel')">&times;</a>
    <h4 class="modal-title">{{ ::title }}</h4>
  </div>
  <div class="modal-body grid" style="margin-bottom: 20px">

    <div class="++3 6">
      <p style="margin-top: 0">{{ :: isEdit ? 'Please choose a new name for the optimization.' : 'Please choose a name for the new optimization.' }}</p>
    </div>

    <div class="++3 6" style="padding-bottom: 20px">
      <label for="prompt-input">optimization name</label>
      <input class="txbox" id="prompt-input" name="optimizationName" ng-model="name" required style="margin-top: 6px" ng-change="isUniqueName(optimizationForm)">
      <div class="error-hint" ng-show="isUniqueName(optimizationForm)"> A optimization with this name already exists, please choose a different one. </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn __white" ng-click="$close()">Cancel</button>
    <button type="submit" class="btn" ng-disabled="optimizationForm.$invalid">{{operation}}</button>
  </div>
</form>