
<div class="modal-header"> CREATE OR EDIT A PARAMETER SCENARIO </div>

<div class="c-parsce-modal__field-wrap">
  <label> Name </label>
  <input
      class="txbox"
      type="text"
      ng-model="scenario.name"
      required/>
  <div
      class="error-hint"
      ng-show="checkScenarioExists()">
    Scenario with this name already exists, please choose a different name.
  </div>
</div>

<div class="c-parsce-modal__field-wrap">
  <label> Select a parameter set to use as baseline </label>
  <select
      class="txbox"
      type="text"
      ng-model="scenario.parset_id"
      required
      ng-options="parset.id as parset.name for parset in parsets">
  </select>
</div>

<table class="table table-bordered" style="width:auto;">
  <tr>
    <th>Model Parameters</th>
    <th>Population</th>
    <th>Start Year</th>
    <th>Final Year</th>
    <th>Start Value</th>
    <th>Final Value</th>
    <th>Manage</th>
  </tr>

  <tr ng-repeat="par in scenario.pars">
    <td>
      <select
          class="txbox __inline"
          style="width: 300px;"
          type="text"
          ng-model="par.name"
          ng-options="par.short as par.name for par in parsInScenario"
          ng-change="selectNewPar($index)">
      </select>
    </td>
    <td>
      <select
          class="txbox __inline"
          style="width: 100px;"
          type="text"
          ng-model="par.forLabel"
          ng-options="pop.label as pop.label for pop in popsOfPar[$index]">
      </select>
    </td>
    <td>
      <input
          class="txbox __inline"
          style="width:70px;"
          ng-model="par.startyear"
          type="number"/></td>
    <td>
      <input
          class="txbox __inline"
          style="width:70px;"
          ng-model="par.endyear"
          type="number"/>
    </td>
    <td>
      <input
          class="txbox __inline"
          style="width:70px;"
          ng-model="par.startval"
          type="number"/>
    </td>
    <td>
      <input
          class="txbox __inline"
          style="width:70px;"
          ng-model="par.endval"
          type="number"/>
    </td>
    <td>
      <span
          class="fa fa-trash"
          ng-click="removePar($index)">
      </span>
    </td>
  </tr>
</table>

<a
  class="modal-close fa fa-times"
  ng-click="cancel()">
</a>

<div style="width: 100%; text-align: center">
  <button
      type="button"
      class="btn"
      ng-click="addPar()">
    + parameter
  </button>
</div>

<div
  style="
    width: 100%;
    text-align: center;
    padding-top: 2em;">
  <button
      class="btn"
      ng-click="cancel()">
    Cancel
  </button>
  <button
      class="btn"
      ng-click="save()" >
    Save
  </button>
</div>

