
<div class="modal-header"> CREATE OR EDIT A PARAMETER SCENARIO </div>

<div class="c-parsce-modal__field-wrap">
  <label> Name </label>
  <input class="txbox" type="text" ng-model="scenario.name" required/>
  <div class="error-hint" ng-show="scenarioExists()">
    Scenario with this name already exists, please choose a different name.
  </div>
</div>

<div class="c-parsce-modal__field-wrap">
  <label> Select a parameter set to use as baseline </label>
  <select class="txbox" type="text" ng-model="scenario.parset_id" required
      ng-options="parset.id as parset.name for parset in parsets"></select>
</div>

<table class="table table-bordered" style="width:auto;">
  <tr>
    <th>Model Parameters</th>
    <th>Population</th>
    <th>Start Year</th>
    <th>Final Year</th>
    <th>Start Value</th>
    <th>Final Value</th>
    <th>Manage</th>
  </tr>

  <tr ng-repeat="par in scenario.pars">
    <td>{{getLongParName(par.name)}}</td>
    <td>{{par.for}}</td>
    <td>{{par.startyear}}</td>
    <td>{{par.endyear}}</td>
    <td>{{par.startval}}</td>
    <td>{{par.endval}}</td>
    <td>
      <span class="delete" ng-click="removePar($index)">X</span>
    </td>
  </tr>

  <tr>
    <td>
      <select class="txbox __inline" style="width: 300px;" type="text" ng-model="editPar.name"
          ng-options="par.short as par.name for par in getParsInScenario()"
          ng-change="selectNewPar()">
      </select>
    </td>
    <td>
      <select class="txbox __inline" style="width: 100px;" type="text" ng-model="editPar.for"
          ng-options="pop.val as pop.label for pop in getPopsOfPar()">
      </select>
    </td>
    <td><input class="txbox __inline" style="width:70px;" ng-model="editPar.startyear" type="number"/></td>
    <td><input class="txbox __inline" style="width:70px;" ng-model="editPar.endyear" type="number"/></td>
    <td><input class="txbox __inline" style="width:70px;" ng-model="editPar.startval" type="number"/></td>
    <td><input class="txbox __inline" style="width:70px;" ng-model="editPar.endval" type="number"/></td>
    <td>
      <button type="button" class="btn"
              ng-disabled="isEditInvalid()" ng-click="addPar()">
        add
      </button>
    </td>
  </tr>
</table>

<a class="modal-close" ng-click="cancel()">x</a>

<div style="width:100%; text-align:center; padding-top:2em;">
  <button class="btn" ng-click="cancel()">Cancel</button>
  <button class="btn" ng-click="save()" >Save</button>
</div>

