
<div class="modal-header">
  CREATE/EDIT A {{scenario.scenario_type}} PROGRAM SCENARIO
</div>

<!-- Name -->
<div class="o-form__field-wrap">
  <label> Name </label>
  <input class="txbox" type="text" ng-model="scenario.name" required/>
  <div class="error-hint" ng-show="checkScenarioExists()">
    Scenario with this name already exists, please choose a different name.
  </div>
</div>

<div class="c-prosce-modal__selects u-layout-horizontal">

  <!--  Select a parameter set to use as baseline  -->
  <div class="o-form__field-wrap c-prosce-modal__input-with-space">
    <label class="o-form__label"> Select a parameter set to use as baseline </label>
    <select class="o-form__input txbox" type="text" ng-model="scenario.parset_id"
            ng-options="parset.id as parset.name for parset in parsets"
            required>
    </select>
  </div>

  <!--  Select a program set to use as baseline  -->
  <div class="o-form__field-wrap c-prosce-modal__input-with-space">
    <label class="o-form__label"> Select a program set to use as baseline </label>
    <select class="o-form__input txbox" type="text" ng-model="scenario.progset_id"
            ng-options="progset.id as progset.name for progset in progsets" required>
    </select>
  </div>

</div>

<div class="c-prosce-modal__selects u-layout-horizontal" ng-show="false">
  <p class="error-hint">
    This program set is not ready to optimize, please pick another one
  </p>
</div>

<div style="width:100%; overflow-x:scroll;">
  <table class="table table-bordered" style="width:auto;">
    <tr>
      <th>Year</th>
      <th ng-repeat="iProgram in getProgramsIndexRange()">
        {{scenario[scenario_type][iProgram].program}}
      </th>
      <th style="width: 150px;">Manage</th>
    </tr>

    <tr ng-repeat="iYear in getYearIndexRange()">
      <td>{{scenario.years[iYear]}}</td>
      <td ng-repeat="iProgram in getProgramsIndexRange()">
        {{scenario[scenario_type][iProgram].values[iYear]}}
      </td>
      <td>
        <span class="delete" ng-click="removeYear(iYear)">X</span>
      </td>
    </tr>

    <tr>
      <td ng-repeat="i in getDataEntryRange()">
        <input type="number" class="c-input-table__input txbox"
               ng-model="dataEntry[i]" required/>
      </td>
      <td>
        <button type="button"
                class="btn" ng-disabled="isDataInvalid()"
                ng-click="addDataEntryYear()">
          Add year
        </button>
      </td>
    </tr>
  </table>
</div>

<a class="modal-close" ng-click="cancel()">x</a>

<div class="c-parsce-modal__buttons u-layout-horizontal">
  <button ng-click="cancel()" class="btn">Cancel</button>
  <button type="submit" ng-click="save()"
          class="btn __s o-form__button o-form__button--save">
    save
  </button>
</div>

