<script>
  function format_xaxis() {
    var axes = $('.mpld3-xaxis');
    if (axes.length > 0 && !$(axes[0]).attr('data-pro')) {
      $(axes).find('g.tick > text').each(function() {
        $(this).text($(this).text().replace(',',''));
      });
      axes.attr('data-pro', true);
    } else {
      setTimeout(format_xaxis, 150);
    }
  }
  function add_lines_to_legends() {
    var svgGraphFigures = $('svg.mpld3-figure');
    if (svgGraphFigures.length > 0 && !$(svgGraphFigures[0]).attr('data-pro1')) {
      svgGraphFigures.each(function() {
        var paths = $(this).find('.mpld3-baseaxes > text');
        if (paths) {
          var legend_length = paths.length - 2;
          var lines = $(this).find('.mpld3-axes > path');
          var lines_to_copy = lines.slice(lines.length - legend_length, lines.length);
          $(this).find('.mpld3-baseaxes').append(lines_to_copy);
        }
        $(this).attr('data-pro1', true);
      });
    } else {
      setTimeout(add_lines_to_legends, 150);
    }
  }
  function set_overflow_visible() {
    var svgGraphFigures = $('svg.mpld3-figure');
    if (svgGraphFigures.length > 0 && !$(svgGraphFigures[0]).attr('data-pro2')) {
      svgGraphFigures.each(function() {
        $(this).css('overflow', 'visible');
        $(this).attr('data-pro2', true);
      });
    } else {
      setTimeout(set_overflow_visible, 150);
    }
  }
  function fix_mouse_pointer() {
    var svgGraphFigures = $('svg.mpld3-figure');
    if (svgGraphFigures.length > 0 && !$(svgGraphFigures[0]).attr('data-pro3')) {
      svgGraphFigures.each(function () {
        var that = this;
        $(that).on('mouseover', function() {
          $(that).find('.mpld3-coordinates').each(function () {
            $(this).attr('y', parseInt($(that).attr('height')) + 7);
          });
          $(that).find('.mpld3-toolbar').each(function () {
            $(this).remove();
          });
        });
        $(this).attr('data-pro3', true);
      });
    } else {
      setTimeout(fix_mouse_pointer, 150);
    }
  }
  function remove_default_plugin() {
    var svgGraphFigures = $('mpld3-toolbar');
    if (svgGraphFigures.length > 0 && !$(svgGraphFigures[0]).attr('data-pro4')) {
      svgGraphFigures.each(function () {
        $(this).remove();
        $(this).attr('data-pro4', true);
      });
    } else {
      setTimeout(remove_default_plugin, 150);
    }
  }

  function fix_graphs() {
    format_xaxis();
    add_lines_to_legends();
    set_overflow_visible();
    fix_mouse_pointer();
    remove_default_plugin();
  }

  $(document).ready(function() {
    fix_graphs();
    $(document.body).on('click', '.updateGraph' ,function() {
      fix_graphs();
    });
  });
</script>


<div class="rich">

  <div ng-if="missingModelData">
    <spreadsheet-upload-hint></spreadsheet-upload-hint>
  </div>

  <div ng-if="!missingModelData">
    <div class="section grid">
        <div class="cols-12">
            <h1>Manage scenarios</h1>

            <table class="section table table-bordered">
                <thead ng-show="scenarios.length">
                <tr>
                    <td><b>Active</b></td>
                    <td><b>Name</b></td>
                    <td><b>Parameter set</b></td>
                    <td><b>Program set</b></td>
                    <td><b>Type</b></td>
                    <td width="15%"><b>Manage</b></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in scenarios">
                    <td class="text-center" style="width: 50px" update-checkbox-on-click>
                        <input type="checkbox" ng-model="row.active">
                    </td>
                    <td>{{ row.name }}</td>
                    <td> {{ parset_name(row.parset_id) }}</td>
                    <td> {{ progset_name(row.progset_id,row) }}</td>
                    <td> {{ row.scenario_type }}</td>
                    <td style="white-space: nowrap;">
                        <button type="button" class="btn" ng-click="openScenarioModal(row, 'edit', $event)">Edit</button>
                        <button type="button" class="btn" ng-click="openScenarioModal(row, 'copy', $event)">Copy</button>
                        <button type="button" class="btn" ng-click="openScenarioModal(row, 'delete', $event)">Delete</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6" class="text-right">
                      <p class="error-hint" style="float: left; margin: 0px;" ng-show="missingProgramSet">Please create a program set to add budget and coverage scenario. <a  ui-sref="project-set.manageProgramSet">Define/manage program set</a></p>
                      <button type="button" class="btn" ng-click="openScenarioModal({'scenario_type': 'budget'}, 'add', $event)" ng-disabled="missingProgramSet">Add a budget scenario</button>
                      <button type="button" class="btn" ng-click="openScenarioModal({'scenario_type': 'coverage'}, 'add', $event)" ng-disabled="missingProgramSet">Add a coverage scenario</button>
                      <button type="button" class="btn" ng-click="openScenarioModal({'scenario_type': 'parameter'}, 'add', $event)">Add a parameter scenario</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <button type="button" class="btn" ng-click="saveScenarios(true)" ng-disabled="!scenarios.length && !deletedScenarios.length">Save scenarios</button>
                    </td>
                    <td colspan="3" class="text-right">
                      <button type="button" class="btn" ng-click="runScenarios()" ng-disabled="!scenarios.length">Run scenarios</button>
                    </td>
                  </tr>
                </tfoot>
            </table>


        </div>
    </div>

    <div class="grid">
      <div class="12">
        <export-all-charts ng-if="graphs" name="Analysis scenarios"></export-all-charts>
        <export-all-data name="Analysis scenarios" charts="graphs" ng-if="graphs"></export-all-data>
      </div>
      <div class="flex_container">
        <div ng-repeat="chart in graphs" class="chart-container __small">
          <div mpld3-chart="chart" id="{{ chart.id }}"></div>
          <chart-toolbar chart-type="mpld3" mpld3-chart-data="chart" chart-id="{{ chart.id }}"></chart-toolbar>
        </div>
      </div>
    </div>

    

  </div>

</div>
