<div class="rich">

  <div ng-if="missingModelData">
    <spreadsheet-upload-hint></spreadsheet-upload-hint>
  </div>

  <div ng-if="!missingModelData">

    <div class="section grid">
        <div class="9">
            <h1>Manage scenarios</h1>

            <table class="section table table-bordered">
                <thead>
                <tr>
                    <td><b>Active</b></td>
                    <td><b>Name</b></td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in scenarios">
                    <td class="text-center" style="width: 50px" update-checkbox-on-click>
                        <input type="checkbox" ng-model="row.active">
                    </td>
                    <td>{{ row.name }}</td>
                    <td style="text-align: right; width: 10%">
                        <button type="button" class="btn" ng-click="openEditScenarioModal($event, row)">Edit</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5" class="text-right">
                      <button type="button" class="btn" ng-click="openAddScenarioModal($event)">Add a scenario</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5">
                        <div style="float: right">
                          <button type="button" class="btn" ng-click="runScenarios()">Run scenarios</button>
                        </div>
                        <button type="button" class="btn" ng-click="runScenarios(true)">Save scenarios</button>
                    </td>
                  </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="grid section">
      <div class="12">
        <export-all-charts ng-if="graphs" name="Analysis scenarios"></export-all-charts>
        <export-all-data name="Analysis scenarios" charts="graphs" ng-if="graphs"></export-all-data>
      </div>
      <div>
        <div class="chart-container __small" ng-repeat="chart in graphs">
          <div line-area-scatter-chart data="chart.data" options="chart.options" save-graph-as></div>
        </div>
      </div>
    </div>

  </div>


<input type="hidden" name="params" value="{{ formParams }}">
</div>
