<!-- Cost functions tab -->
<div class="c-tab" ng-controller="CostController">
  <div style="width: 40%">
    <label>
      Select a program:<br>
      <select class="txbox"
              ng-options="p.name for p in vm.programs"
              ng-change="changeSelectedProgram()"
              ng-model="selectedProgram">
        <option value="">-- Please select a program --</option>
      </select>
    </label>
  </div>

  <div ng-if="selectedProgram">
    <div style="margin-top: 2%;width: 40%">
      <h2>FSW Programs</h2>
    </div>

    <div style="display: flex">
      <div class="chart-container __medium">
        <div mpld3-chart="state.chartData" id="cost_cov_chart"></div>
        <chart-toolbar chart-type="mpld3" mpld3-chart-data="state.chartData" chart-id="cost_cov_chart"></chart-toolbar>
      </div>
      <div class="flex-column margin_left">
        <div class="flex-column">
          <h3>Parameters for defining cost function</h3>
          <table class="table table-bordered">
            <tr>
              <th class="wide">Year</th>
              <th class="wide">Estimated size</th>
              <th class="wide">Saturation %</th>
              <th class="wide">Saturation #</th>
              <th class="wide">Unit cost</th>
              <th class="wide">Delete</th>
            </tr>
            <tr ng-repeat="data in state.cpData">
              <td>{data.year}</td>
              <td>{data.estimatedSize}</td>
              <td>{data.saturationPercentage}</td>
              <td>{data.saturationNumber}</td>
              <td>{data.unitCost}</td>
              <td><i class="fa fa-trash-o" ng-click="deleteDataFromList(state.cpData, data)"></i></td>
            </tr>
            <tr ng-if="state.showAddCPData">
              <td><input class="txbox __inline __xl" ng-model="state.newCCData.year"/></td>
              <td><input class="txbox __inline __xl" ng-model="state.newCCData.estimatedSize"/></td>
              <td><input class="txbox __inline __xl" ng-model="state.newCCData.saturationPercentage"/></td>
              <td><input class="txbox __inline __xl" ng-model="state.newCCData.saturationNumber"/></td>
              <td><input class="txbox __inline __xl" ng-model="state.newCCData.unitCost"/></td>
              <td>
                <i class="fa fa-check" ng-click="addDataToList(state.cpData, state.newCPData, 'newCPData')"></i>
                <i class="fa fa-times" style="margin-left: 15px" ng-click="state.newCPData = {};state.showAddCPData = false"></i>
              </td>
            </tr>
          </table>
          <div>
            <button type="button" class="btn __m" ng-click="state.showAddCPData = true">Add year</button>
          </div>
        </div>
        <div class="flex-column margin_top">
          <h3>Historical cost and coverage data</h3>
          <div class="section_dashed_border no-border">
            <div class="vertical_list">
              <div class="column bordered">
                <div class="data bordered">Year</div>
                <div class="data bordered">Spending</div>
                <div class="data bordered">Coverage</div>
                <div class="data spaced">Delete</div>
              </div>
              <div class="column bordered" ng-repeat="data in state.ccData">
                <div class="data numeric bordered">{{data.year}}</div>
                <div class="data numeric bordered">{{data.spending}}</div>
                <div class="data numeric bordered">{{data.coverage}}</div>
                <div class="data numeric spaced" style="margin-right: 15px"><i class="fa fa-trash-o" ng-click="removeFromCCData(data)"></i></div>
              </div>
              <div class="column bordered" ng-if="state.showAddCCData">
                <form name="ccDataForm">
                  <div class="data bordered"><input ng-model="state.newCCData.year" class="txbox __inline __ls" type="number" ng-class="{'invalid': ccDataForm.year.$invalid}"/></div>
                  <div class="data bordered"><input ng-model="state.newCCData.spending" class="txbox __inline __ls" type="number" min="0" ng-class="{'invalid': ccDataForm.spending.$invalid}"/></div>
                  <div class="data bordered"><input ng-model="state.newCCData.coverage" class="txbox __inline __ls" type="number" min="0" ng-class="{'invalid': ccDataForm.coverage.$invalid}"/></div>
                  <div class="data spaced" style="display: flex;justify-content: center">
                    <i class="fa fa-check" ng-click="addToCCData(state.ccData, state.newCCData, 'newCCData')"></i>
                    <i class="fa fa-times" style="margin-left: 15px" ng-click="state.newCCData = {};state.showAddCCData = false"></i>
                  </div>
                </form>
              </div>
              <div class="column">
                <button type="button" class="btn __w" ng-click="state.showAddCCData = true" style="margin-left: 15px">Add year</button>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-column margin_top">
          <h3>Options for displaying curves</h3>
          <div>
            Specify the maximum function (for plotting only):
            <input placeholder="e.g. 1000000" class="txbox __inline __xl" ng-model="state.maxFunc" type="number"/>
          </div>
          <div>
            Display program costs in dollar spent per person in the targeted population
            <input type="checkbox" ng-model="state.dispCost"/>
          </div>
        </div>
        <div class="flex-column margin_top">
          <h3>Add notes</h3>
          <textarea ng-model="state.remarks"/>
        </div>
      </div>
    </div>
    <div class="u-center-horizontal margin-top-m">
      <button type="button" class="btn __m" style="margin-left: 15px" ng-click="updateGraph()">Update</button>
    </div>
  </div>
</div>
