<div class="rich" style="">

  <div class="grid" style="margin: 0px 0px;">
  <h1>Automatic calibration</h1>
  </div>

  <div class="3">

    <label for="programSet-selection">Select a parameter set:</label>
  </div>
  <div style="display: flex;justify-content: flex-start;">
    <select id="programSet-selection"
            name="programSet-selection"
            class="updateGraph txbox"
            ng-model="activeParset"
            ng-change="getGraphs()"
            ng-options="parset.name for parset in parsets"
            style="width: 20%;">
    </select>
    <button ng-click="addParameterSet()" type="button" class="btn" style="margin-left:2%">New parameter set</button>
    <button ng-click="copyParameterSet()" type="button" class="btn" style="margin-left:2%">Copy parameter set</button>
    <button ng-click="renameParameterSet()" type="button" class="btn" style="margin-left:2%">Rename parameter set</button>
    <button ng-click="downloadParameterSet()" type="button" class="btn" style="margin-left:2%">Download parameter set</button>
    <button ng-click="uploadParameterSet()" type="button" class="btn" style="margin-left:2%">Upload parameter set</button>
    <button ng-click="deleteParameterSet()" type="button" class="btn" style="margin-left:2%">Delete parameter set</button>
  </div>

  <div style="display: flex;margin-top: 20px;justify-content: space-between;height: 62vh">  <!-- CK: maybe a more robust solution than 70vh -->
    <div class="small_bordered_list" style="width: 18%;">
      <div class="option_list" style="height: calc(100vh - 280px);">
        <div style="margin-top: 20px">

          <select ng-model="state.maxtime">
            <option value="">Select maximum time</option>
            <option value="10">10 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60">1 minute</option>
            <option value="300">5 minutes</option>
            <option value="600">10 minutes</option>
            <option value="1800">30 minutes</option>
          </select>
        </div>
        <div>
          <div style="margin-top: 20px">
            <!--<span style="width: 100px;display: inline-block;"></span>-->
            <button class="btn __m" ng-click="startAutoCalibration()">Start</button>
          </div>
          <div style="font-style: italic;color: lightgreen;margin-top: 5px">
            {{ statusMessage }}
          </div>
        </div>
        <div style="margin-top: 20px">
          <div>
            <!--<span style="width: 100px;display: inline-block;">Save calibration</span>-->
            <button class="btn __m" ng-click="saveAutoCalibration()" ng-if="parameters && result_id">Save</button>
          </div>
          <div style="font-style: italic;color: lightgreen;margin-top: 5px">
            {{ saveSuccessMessage }}
          </div>
        </div>
        <div style="margin-top: 20px">
          <!--<span style="width: 100px;display: inline-block;"></span>-->
          <!-- button class="btn __m" ng-click="processGraphs()">Reset</button Commented out at CK's request /-->
        </div>
      </div>
    </div>
    <div class="chart_wrapper" style="height:calc(100vh - 280px)">
      <div class="3" style="margin: 10px; width: 100%; text-align: right;">
        <export-all-charts name="Automatic Calibration" ng-if="calibrationChart.length > 0"></export-all-charts>
        <!--<export-all-data charts="calibrationChart" name="Optimization analyses" ng-if="calibrationChart.length > 0"></export-all-data>-->
      </div>
      <div ng-repeat="chart in calibrationChart" class="chart-container __small">
        <div mpld3-chart="chart" chart-id="{{ chart.id }}"></div>
      </div>
    </div>
    <div class="small_bordered_list" style="width: 18%;" ng-if="selectors.length > 0">
      <div class="option_list" style="height: calc(100vh - 280px);">
        <div ng-repeat="selector in selectors" class="option">
          <span><input type="checkbox" ng-model="selector.checked"/></span>
          <span style="margin-left: 10px">{{selector.name}}</span>
        </div>
      </div>
      <div style="display: flex;justify-content: center; margin-top: 25px">
        <input type="button" value="Update" class="updateGraph btn" ng-click="processGraphs()"/>
      </div>
    </div>
  </div>
</div>
