.line {
  fill: none;
  pointer-events: none;
  stroke: #000;
  stroke-width: 2px;
}

.line_chart_path {
  fill: none;
  stroke: #0f207d;
  stroke-width: 2px;
  pointer-events: none;
}

.area_chart_path {
  pointer-events: none;
}

.line_chart_circle {
  stroke: black;
  stroke-width: 0.5px;
  fill: #123ddc;
}

.line_chart_circle_transition {
  fill: #122faa;
}
