.legend-line {
  fill: none;
  pointer-events: none;
  stroke: rgba(25, 25, 25, 0.5);
  stroke-width: 1px;
}

.pie-label-text {
  font-family: sans-serif;
  font-size: 12px;
  alignment-baseline: middle;
}
