.labels {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  pointer-events: none;
  text-anchor: end;
}

#filter_loc .bar_0.all {
  position: relative;
  top: 15px;
}

/* Main chart style */
.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  pointer-events: none;
}


.chart_grid {
  stroke: #000;
  fill: none;
  stroke-opacity: .25;
  shape-rendering: crispEdges;
  pointer-events: none;
}
