<div>
  <div class="modal-header">
    <a class="modal-close" ng-click="$dismiss('cancel')">&times;</a>
    <h4 class="modal-title">{{ isNew ? 'Create' : 'Edit'}} program</h4>
  </div>

  <form class="modal-body" name="programForm" novalidate="novalidate" ng-submit="submit(programForm)">
    <div class="section grid">
      <div class="++1 2">
        Name
      </div>
      <div class="8 1++">
        <input class="txbox __block" ng-model="program.name" required autofocus>
        <div class="error-hint" ng-show="isUniqueName(program.name, programForm)"> A program set with this name already exists, please choose a different one. </div>
      </div>
    </div>

    <div class="section grid">
      <div class="++1 2" style="padding-left: 6px">
        Short name
      </div>
      <div class="5 4++">
        <input class="txbox __block" ng-model="program.short_name" required>
      </div>
    </div>

    <div class="section grid">
      <div class="++1 2" style="padding-left: 6px">
        Category
      </div>
      <div class="5 1++">
        <select class="txbox"
                ng-model="program.category"
                ng-options="category for category in allCategories"></select>
      </div>
    </div>

    <div class="section grid">
      <h3>
        Populations
      </h3>
      <div class="section_dashed_border">
        <span class="option">
          <input type="checkbox" ng-click="selectAllPopulations(selectAll = !selectAll)">
          <span>All populations</span>
        </span>
        <span ng-repeat="population in program.populations" class="option">
          <input type="checkbox" ng-model="population.active" />
          <span>{{population.name}}</span>
        </span>
      </div>
    </div>

    <div class="section grid">
      <h3>
        Parameters in model influenced by this program
      </h3>
    </div>

    <div ng-repeat="entry in program.parameters">


      <div class="section well" style="margin: 10px 0">

        <button type="button"
                class="btn __white"
                style="float: right; text-align: right; margin-top: 10px"
                ng-click="removeParameter($index)">Remove</button>

        <div class="section grid">
          <div class="++1 10 1++">
            <label>
              <input type="checkbox" ng-model="entry.active">
              Active
            </label>
          </div>
        </div>

        <div class="section grid">
          <div class="++1 10 1++">
            Parameters
          </div>
          <div class="++1 10 1++">
            <select class="txbox" ng-model="entry.value.signature" ng-options="param.keys as param.name for param in availableParameters"></select>
          </div>
        </div>

        <div class="section grid">
          <h3>
            Populations
          </h3>
          <div class="section_dashed_border">
        <span class="option">
          <input type="checkbox" ng-click="selectAllEntryPopulations(entry, entry.selectAll = !entry.selectAll)">
          <span>All populations</span>
        </span>
        <span ng-repeat="population in entry.value.pops" class="option">
          <input type="checkbox" ng-model="population.active" />
          <span>{{population.name}}</span>
        </span>
          </div>
        </div>
      </div>

    </div>

    <div class="section text-center">
      <button type="button" class="btn" ng-click="addParameter()">Add parameter</button>
    </div>


    <div class="section text-center">
      <button type="button" class="btn __white" ng-click="$dismiss('Closed')">Dismiss</button>
      <button type="submit" class="btn" ng-disabled="programForm.$invalid">Save</button>
    </div>
  </form>
</div>
